{template 'header'}
<link rel="stylesheet" href="{YOUMI_URL_APP}css/animate.min.css">
<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77"></script>
<style>
    .moneybox{width: 100%;height: 100%;}

    #leafContainer {
        /*position: absolute;*/
        /*width: 100%;*/
        /*height: 100%;*/
        overflow: hidden;
    }

    #leafContainer > div {
        position: fixed;
        z-index: 10;
        width: 25px;
        /*height: 150px;*/
        -webkit-animation-iteration-count: infinite, infinite;
        -webkit-animation-direction: normal, normal;
        -webkit-animation-timing-function: linear, ease-in;
    }
    #leafContainer > div > img {
        position: absolute;
        width: 25px;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-transform-origin: 50% -100%;
    }
    @-webkit-keyframes fade {
        0% {
            opacity: 1;
        }
        95% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @-webkit-keyframes drop {
        0% {
            -webkit-transform: translate(0px, -50px);
        }
        100% {
            -webkit-transform: translate(0px, 650px);
        }
    }
    @-webkit-keyframes clockwiseSpin {
        0% {
            -webkit-transform: rotate(-50deg);
        }
        100% {
            -webkit-transform: rotate(50deg);
        }
    }
    @-webkit-keyframes counterclockwiseSpinAndFlip {
        0% {
            -webkit-transform: scale(-1, 1) rotate(50deg);
        }
        100% {
            -webkit-transform: scale(-1, 1) rotate(-50deg);
        }
    }

</style>
<style>
    a:hover,a:focus{
        color: #fff;
    }
    .color_red{
        color: #ED5F43
    }
    img{
        width: 100%;
    }
    input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select{
        border: 1px solid transparent;
        text-align: center;
        margin: 0 2%;
        height: 30px;
        padding: 5px;
        background: transparent;
    }
    .bg_fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        display: none;
    }

    .h_img{
        width: 100%;
    }
    .h_img2{
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
    .ah_top{
        background: rgba(0,0,0,0.7);
        color: #fff!important;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 15%;
        width: 70%;
        text-align: center;
        z-index: 5;
        font-size: 12px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 0 15px;
    }
    .ah_top p{
        color: #fff;
        font-weight: 700;
        font-size:10px;
    }
    .a_head .iconfont{
        position: fixed;
        z-index: 5;
        color: #fff;
        font-size: 28px;
        border-radius: 50%;
        border: 1px solid #fff;
        background: rgba(0,0,0,0.4);
        left: 5%;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 33px;
    }
    .icon-music{
        top: 5%;
    }
    .icon-music.active,.icon-mofabang.active{
        -webkit-animation: zhuan 2s linear infinite;
    }
    .icon-mofabang{
        top: 15%;
        font-size: 24px!important;
    }
    .ah_user,.ah_contact,.ah_complain,.ah_share{
        top: 25%;
        left: 5%;
        width: 42px;
        height: 42px;
        background: #333;
        color: #fff;
        text-align: center;
        padding: 6px;
        line-height: 14px;
        border-radius: 50%;
        position: fixed;
        font-size: 12px;
        z-index: 10;
    }
    .ah_complain{
        left: inherit;
        right: 5%;
        top: 15%;
        line-height: 30px;
    }
    .ah_share{
        left: inherit;
        right: 5%;
        top: 5%;
        line-height: 30px;
    }
    .ah_contact{
        left: inherit;
        right: 5%;
        -webkit-animation: zhuan2 1.5s ease-in infinite;
    }


    .a_content{
        padding: 4%;
        box-sizing: border-box;
        background: url("{$activity['bgimage']}") repeat 100%;
        padding-bottom: 35%;
    }
    .ac_title{
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .ac_time>div{
        width: 100%;
        text-align: center;
        left: 0;
        top: 28%;
    }
    .ac_time span{
        color: #111;
        background: #ED5F43;
        border-radius: 50%;
        padding: 2px;
        margin: 0 2px;
        display: inline-block;
        /*width: 20px;*/
        height: 20px;
        text-align: center;
        line-height: 16px;
    }

    .ac_messages{
        margin: 5% 0;
        text-align: center;
        background: #FEF4DC;
        width: 84%;
        left: 8%;
        position: relative;
        border-radius: 10px;
    }
    .notice_active {
        height: 3rem;
        padding: 0;
        overflow: hidden;
        position: relative;
    }
    .notice_active ul{
        padding: 0 6px;
    }
    .notice_active li{
        list-style-type:none;line-height: 2.6rem;overflow: hidden;
        text-align: center;
    }


    .ac_goods{
        border-radius: 5px;
        padding: 2%;
        margin-top: 20px;
    }
    .goods{
        border: 1px solid #ED5F43;
        border-radius: 5px;
        padding: 4%;
        box-shadow: 0 0 2px #ED5F43;
        background: #fff;
    }
    .goods .gt_logo{
        width: 100px;
        height: 100px;
        margin-right: 3%;
    }
    .gt_detail{
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        margin: 10px 0;
        padding: 10px 0;
    }
    .g_title{
        width: 70%;
        position: relative;
        left: 15%;
        padding: 2px;
        font-size: 12px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background: #dddddd;
        text-align: center;
    }

    .ac_youhui{
        margin-top: 25px;
    }
    .acy_title{
        width: 66%;
        left: 17%;
        margin-bottom: 8px;
    }
    .acy_title input{
        width: 78%;
        top: 5px;
        left: 8%;
        position: absolute;
        z-index: 5;
    }
    .acy_content{
        background: #fff;
        border: 1px solid #ED5F43;
        border-radius: 5px;
        padding: 4%;
        box-shadow: 0 0 2px #ED5F43;
    }

    .acs_content .acsc_title,.acsc_list>div{
        display: flex;
        display: -webkit-flex;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }
    .acs_content span{
        width: 33%;
        text-align: center;
        margin-top: 5px;
    }
    .acsc_tip{
        padding-top: 18px;
        text-align: center;
    }


    .go_top{
        position: fixed;
        bottom: 15%;
        right: 5%;
        width: 50px;
        height: 50px;
        z-index: 10;
        color: #fff;
        border-radius: 50%;
        background: rgba(0,0,0,0.6);
        text-align: center;
        line-height: 18px;
        padding: 6px;
        display: none;
    }
    .open_share{
        position: fixed;
        top: 8%;
        width: 60%;
        left: 20%;
        z-index: 20;
        color: #fff;
        display: none;
    }
    .os_btns img{
        background: #fff;
        border-radius: 50%;
        padding: 8px;
        width: 50px;
    }
    .osb_cancel{
        position: fixed;
        bottom: 5%;
        padding: 2px;
        left: 45%;
        border-bottom: 1px solid #fff;
    }


    .kanjia_btn{
        -webkit-animation: kanjia 1s ease-in infinite;
        left: 36%;
        min-width: 70px;
        position: fixed;
        bottom: 7%;
        z-index: 10;
        width: 30%;
    }
    .open_kjtips{
        position: fixed;
        top: 10%;
        width: 80%;
        left: 10%;
        z-index: 20;
        background: #D3451B;
        border-radius: 10px;
        display: none;
    }
    .a_btn2{
        width: 96%;
        margin: 4% 2%;
        display: block;
        box-sizing: border-box;
        padding: 2%;
        font-size: 18px;
    }
    .a_btn3{
        display: block;
        width: 96%;
        margin: 0 auto;
    }
    .ok_price{
        margin: 4% 2% 8% 2%;
    }
    .a_footer{
        position: fixed;
        left: 5%;
        bottom: 0;
        background: rgba(0,0,0,0.7);
        z-index: 10;
        width: 90%;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .gdtp_bg{
        width: 90%;
        height: 10px;
        background: #eee;
        border-radius: 10px;
        margin: 5%;
    }
    .gdtp_bg>div{
        background: #ED5F43;
        border-radius: 20px;
        height: 10px;
    }
    .gdtp_bg>span{
        background: #ED5F43;
        width: 16px;
        border-radius: 50%;
        height: 16px;
        top: -3px;
    }

    @-webkit-keyframes zhuan {
        0%{transform: rotate(0deg)}
        100%{transform: rotate(360deg)}
    }
    @-webkit-keyframes zhuan2 {
        0%{transform: rotate(0deg)}
        45%{transform: rotate(-30deg)}
        90%{transform: rotate(30deg)}
        100%{transform: rotate(0deg)}
    }
    @-webkit-keyframes kanjia {
        10%{
            transform: rotate(-3deg) scale(0.9);
        }
        35%{
            transform: rotate(3deg) scale(1.1);
        }
        45%{
            transform: rotate(-3deg);
        }
        55%{
            transform: rotate(3deg);
        }
        65%{
            transform: rotate(-3deg);
        }
        90%{
            transform: rotate(0) scale(1);
        }
    }

    .acs_navbar{
        border-bottom: 1px solid #ddd;
    }
    .acs_navbar>div{
        padding: 2% 0;
        border-bottom: 2px solid transparent;
    }
    .acs_navbar>div.active{
        border-bottom: 2px solid #ED5F43;
        color: #ED5F43;
    }
    .acysc_detail{
        border: 1px solid #ED5F43;
        margin-bottom: 10px;
        border-radius: 4px;
        box-shadow: 0 0 2px #ED5F43;
    }
    .acysc_detail span{
        background: #ED5F43;
        width: 25px;
        text-align: center;
        color: #fff;
        margin: 10px;
        display: block;
        border-radius: 50%;
        height: 25px;
        line-height: 25px;
    }

    .fb_tip{
        padding: 1% 0;
        position: relative;
    }
    .fb_tip .iconfont{
        color: #fff;
        position: absolute;
        right: -10px;
        top: 5px;
    }

    .act_day,.act_hour,.act_min,.act_sec{
        color: #ED5F43;
    }
    .a_head{
        overflow: hidden;
    }
    .a_btn2{
        background: #F2C52C;
    }
</style>
<!--弹幕-->
<style type="text/css">
    .page{
        position: fixed;
    }
    .dm_content{
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        height: 80%;
    }

    .bullet{
        display: flex;
        align-items: center;
        position: absolute;
        flex-wrap: nowrap;
        word-break: keep-all;
        background: rgba(0,0,0,0.7);
        color: #fff;
        padding: 4px 5px;
        border-radius: 25px;
        min-width: 170px;
    }
    .bullet img{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 5px;
    }

</style>

<div>

    <div class="tips"></div>
    {if $activity['effects_imgs']}<div class="moneybox" id="leafContainer"></div>{/if}
    <!--头部-->
    <div class="a_head p_relative">
        <img class="h_img" src="{$activity['image']}" alt="">
        <div class="flex flex_a_center ah_top">
            <p><span>{$activity['pv']}</span>人查看</p>
            <p><span>{$activity['share']}</span>人分享</p>
            <p><span>{$activity['participate']}</span>人报名</p>
        </div>
        {if $activity['music']}<i id="music" class="iconfont icon-music active"><audio id="audiojs" src="{$activity['music']}" autoplay loop></audio></i>{/if}
        {if $activity['effects_imgs']}<i class="iconfont icon-mofabang active"></i>{/if}
        <a href="{php echo $this->createMobileUrl('user')}" class="p_absolute ah_user">个人中心</a>
        <div class="p_absolute ah_share" onclick="$('.open_share,.bg_fixed').fadeIn()">分享</div>
        <div class="p_absolute ah_contact" data-name="{$activity['shop_name']}" data-mobile="{$activity['shop_mobile']}" data-address="{$activity['shop_province']} {$activity['shop_city']} {$activity['shop_district']} {$activity['shop_address']}" data-code="{php echo tomedia($activity['shop_code'])}" onclick="openConcat(this)">联系商家</div>
        <a href="{php echo $this->createMobileUrl('index',['op'=>'page_complain','activity_id'=>$activity['id']])}" class="p_absolute ah_complain">投诉</a>

        <!--弹幕-->
        <div class="dm_content"></div>
    </div>
    <!--下部分，背景图片 background->repeat-->
    <div class="a_content">

        <h4 class="ac_title text_center sys_color">{$activity['title']}</h4>

        <!--商品-->
        <div class="ac_goods">
            <div class="g_title">
                <!--倒计时-->
                {if $activity['status']=='1'}
                活动倒计时:<span class="act_day"></span>天<span class="act_hour"></span>时<span class="act_min"></span>分<span class="act_sec"></span>秒
                {/if}
            </div>
            <div class="goods p_relative goods{$goods[0]['id']}">
                {if $goods[0]['style']==1||$goods[0]['style']==6}
                <h4 class="sys_color ft14 text_center">亲，您还未参加活动哦！</h4>
                <div class="ft12 text_center">优惠数量有限，点击“我要报名”报名吧！</div>
                    <div class="ft12 text_center">活动真实有效，欢迎到店咨询。</div>
                {/if}
                <div class="flex flex_a_center">
                    {if $goods[0]['datastyle']==1}
                    <div class="gt_detail flex1">
                        <div class="flex flex_j_between">
                            <span class="sys_color">￥{$goods[0]['oprice']}</span>
                            <span class="sys_color">￥{$goods[0]['rprice']}</span>
                        </div>
                        <div class="gtd_progress p_relative">
                            <div class="gdtp_tips ft10 p_absolute" style="{if empty($goods[0]['my_cut'])}display: none{/if};left: 42%;top: -25px;">现价 <span class="color_red">{php echo floatval($goods[0]['my_cut']['nprice'])}</span>元</div>
                            <div class="gdtp_bg p_relative">
                                <div class="p_absolute" style="width: {$goods[0]['my_cut']['schedule']}%"></div>
                                <span class="p_absolute"
                                      style="left: {if $goods[0]['my_cut']['schedule']>5}{php echo ($goods[0]['my_cut']['schedule']-5)}{else}0{/if}%"
                                ></span>
                            </div>
                        </div>

                        <div class="gtd_btns text_center">
                            优惠共 <span class="sys_color">{php echo $goods[0]['gnum']}</span> 份 / 剩余 <span class="sys_color">{php echo $goods[0]['gnum']-$goods[0]['success']} </span>份
                        </div>
                    </div>
                    {if $goods[0]['style']==1}
                    <a
                            onclick="kanjia({$goods[0]['id']},'','',this,{$goods[0]['style']},{$goods[0]['datastyle']})"
                            href="javascript:;" class="a_btn kanjia_btn bm_id{$goods[0]['id']}"
                    >我要报名</a>
                    <a
                            style="display: none"
                            onclick="$('.open_share,.bg_fixed').fadeIn()"
                            href="javascript:;" class="a_btn kanjia_btn zr_id{$goods[0]['id']}"
                    >找人帮忙</a>
                    <a
                            style="display: none"
                            data-my_cutid="{$goods[0]['my_cut']['id']}"
                            href="javascript:;" class="a_btn kanjia_btn pay_btn zf_id{$goods[0]['id']}"
                    >立即支付</a>
                    {/if}
                    {if $goods[0]['style']==2}
                    <a
                            onclick="$('.open_share,.bg_fixed').fadeIn()"
                            href="javascript:;" class="a_btn kanjia_btn"
                    >找人帮忙</a>
                    {/if}
                    {if $goods[0]['style']==3}
                    <a
                            data-my_cutid="{$goods[0]['my_cut']['id']}"
                            href="javascript:;" class="a_btn kanjia_btn pay_btn zf_id{$goods[0]['id']}"
                    >立即支付</a>
                    {/if}
                    {if $goods[0]['style']==4}
                    <a
                            data-my_cutid="{$goods[0]['my_cut']['id']}"
                            href="javascript:;" class="a_btn kanjia_btn"
                    >支付完成</a>
                    {/if}
                    {else}
                    <div class="gt_detail flex1">
                        <div class="gtd_progress">
                            <div class="gdtp_tips ft10" style="{if empty($goods[0]['cut'])}display: none{/if};left: 42%;top: -25px;">现价 <span class="color_red">{php echo floatval($goods[0]['cut']['nprice'])}</span>元</div>
                            <div class="gdtp_bg p_relative">
                                <div class="p_absolute" style="width: {$goods[0]['cut']['schedule']}%"></div>
                                <span class="p_absolute"
                                      style="left: {if $goods[0]['cut']['schedule']>5}{php echo ($goods[0]['cut']['schedule']-5)}{else}0{/if}%"
                                ></span>
                            </div>
                        </div>
                        <div class="flex flex_j_between">
                            <div>原价 <span class="color_red">{$goods[0]['oprice']}元</span></div>
                            <div>底价 <span class="color_red">{$goods[0]['rprice']}元</span></div>
                        </div>
                        <div class="text_center">
                            数量 <span class="color_red">{php echo $goods[0]['gnum']-$goods[0]['success']}份</span>
                        </div>
                    </div>
                    {if $goods[0]['style']==5}
                    <a
                            onclick="kanjia({$goods[0]['id']},{$goods[0]['cut']['id']},'',this,{$goods[0]['style']},{$goods[0]['datastyle']})"
                            href="javascript:;" class="a_btn kanjia_btn"
                    >砍一刀</a>
                    <a
                            style="display: none"
                            onclick="kanjia({$goods[0]['id']},'','',this,6,{$goods[0]['datastyle']})"
                            href="javascript:;" class="a_btn kanjia_btn bm_id{$goods[0]['id']}"
                    >我要报名</a>
                    {/if}
                    {if $goods[0]['style']==1||$goods[0]['style']==6}
                    <a
                            onclick="kanjia({$goods[0]['id']},'','',this,6,{$goods[0]['datastyle']})"
                            href="javascript:;" class="a_btn kanjia_btn bm_id{$goods[0]['id']}"
                    >我要报名</a>
                    {/if}
                    {if $goods[0]['style']==7||$goods[0]['style']==8||$goods[0]['style']==9}
                    <a
                            onclick="kanjia({$goods[0]['id']},{$goods[0]['cut']['id']},'',this,{$goods[0]['style']},{$goods[0]['datastyle']})"
                            href="javascript:;" class="a_btn kanjia_btn"
                    >砍一刀</a>
                    {/if}
                    <a
                            style="{if $goods[0]['style']==5||$goods[0]['style']==1||$goods[0]['style']==6}display: none;{/if}padding: 2%"
                            href="{php echo $this->createMobileUrl('index',array('activity_id' =>$_GPC['activity_id']))}" class="a_btn kanjia_btn go_myactivity"
                    >查看我的活动</a>
                    {/if}
                </div>
                {if !empty($activity['rule_val'])}
                <h4 class="ft14">活动规则:</h4>
                <div>{php echo htmlspecialchars_decode($activity['rule_val'])}</div>
                {/if}
            </div>
        </div>
        <!--活动描述-->
        <div class="ac_youhui p_relative">
            <div class="acy_title p_relative">
                <img style="height: 40px" src="{if $activity['titlebgimg']}{$activity['titlebgimg']}{else}{YOUMI_URL_APP}img/m_titlebg2.png{/if}" alt="">
                <input type="text" value="{$activity['desc_title']}" readonly>
            </div>
            <div class="acy_content">
                <div class="acys_contents">
                    <!--内容-->
                    {php echo htmlspecialchars_decode($activity['desc_val'])}
                    {loop $activity['desc_imgs'] $adv}
                    <img style="width: 100%;margin: 3px 0" src="{$adv}" alt="">
                    {/loop}
                </div>
            </div>
            <img class="iconPig" src="{YOUMI_URL_APP}img/pig.png" alt="">
        </div>
        <!--领取信息-->
        <!--机构介绍-->
        {if !empty($activity['shop_val'])}
        <div class="ac_youhui p_relative">
            <div class="acy_title p_relative">
                <img style="height: 40px" src="{if $activity['titlebgimg']}{$activity['titlebgimg']}{else}{YOUMI_URL_APP}img/m_titlebg2.png{/if}" alt="">
                <input type="text" value="{$activity['shop_title']}" readonly>
            </div>
            <div class="acy_content">
                <div class="acys_contents">
                    <!--内容-->
                    {php echo htmlspecialchars_decode($activity['shop_val'])}
                    {loop $activity['shop_imgs'] $av}
                    <img style="width: 100%;margin-bottom: 2px" src="{$av}" alt="">
                    {/loop}
                </div>
            </div>
            <img class="iconPig" src="{YOUMI_URL_APP}img/pig.png" alt="">
        </div>
        {/if}
        <!--砍价排行榜-->
        {if $goods[0]['cuts']}
        <div class="ac_sort ac_youhui p_relative">
            <div class="acy_title p_relative">
                <img style="height: 40px" src="{if $activity['titlebgimg']}{$activity['titlebgimg']}{else}{YOUMI_URL_APP}img/m_titlebg2.png{/if}" alt="">
                <input type="text" value="砍价排行榜" readonly>
            </div>

            <div class="acy_content">
                <div class="acs_content">
                    <div class="acsc_title">
                        <span>排名</span>
                        <span>姓名</span>
                        <span>当前价格</span>
                    </div>
                    <div class="acsc_list">
                        {loop $goods[0]['cuts'] $gcidx $gcv}
                        <div>
                            <span>{php echo intval($gcidx+1)}</span>
                            <span>{$gcv['realname']}</span>
                            <span>{$gcv['nprice']}</span>
                        </div>
                        {/loop}
                    </div>
                </div>
                <!--<div class="acsc_tip">已经到底了</div>-->
            </div>

            <img class="iconPig" src="{YOUMI_URL_APP}img/pig.png" alt="">
        </div>
        {/if}

        {if $setting_activity&&$setting_activity['making_status2']==1}
        <div style="text-align: center;margin: 40px 0 0 0;">
            <a href="{$_W['siteroot']}index.php?c=entry&i={$_W['uniacid']}&do=making&case_id={$activity_umi['case_id']}&m=umi_activitys&module={$_W['current_module']['name']}" style="color:#000;border: 1px solid #000;padding: 6px 16px;border-radius: 5px;text-decoration: none;">
                <span>我也要创建活动</span>
                <i class="iconfont icon-jiantou1" style="font-size: 12px"></i>
            </a>
        </div>
        {/if}

    </div>


    <div class="bg_fixed"></div>
    <!--返回顶部-->
    <div class="go_top">
        <i class="iconfont icon-xiangshang active"></i>
        <div>顶部</div>
    </div>
    <!--分享-->
    <div class="open_share">
        <img src="{YOUMI_URL_APP}img/m_share.png" alt="">
        <div class="text_center" style="margin-bottom: 10px">————分享方式————</div>
        <div class="os_btns flex flex_a_center flex_j_around">
            <div class="text_center" onclick="tips('点击右上角分享给微信好友')">
                <img src="{YOUMI_URL_APP}img/m_weixin.png" alt="">
                <div>微信好友</div>
            </div>
            <div class="text_center" onclick="hecheng()">
                <img src="{YOUMI_URL_APP}img/m_pyq.png" alt="">
                <div>朋友圈</div>
            </div>
            <div class="osb_cancel" onclick="$('.open_share,.bg_fixed').fadeOut()">取消</div>
        </div>
    </div>
    <!--联系商家-->
    {template 'contact'}
    <!--提交信息-->
    {template 'signup'}
    <!--砍价-->
    <div class="open_kjtips">
        <img style="width: 100%;border-radius: 10px;" src="{YOUMI_URL_APP}img/kj_bg.png" alt="">
        <h4 class="text_center color_fff"></h4>
        <h1 class="text_center color_fff ok_price"></h1>
        <a href="javascript:;" class="a_btn2" onclick="$('.open_kjtips,.bg_fixed').fadeOut()">我知道了</a>
    </div>
    <div class=""></div>
    <!--底部按钮-->
    <div class="a_footer">
        {if $activity['status']=='2'||$activity['status']=='0'}
        <a class="a_btn" href="javascript:;">活动已结束</a>
        {elseif $activity['status']=='3'}
        <a class="a_btn" href="javascript:;">活动未开始</a>
        {else}
        {if $setting_activity&&$setting_activity['making_status']==1}
        <style>
            .a_footer{
                padding: 0;
            }
            .fb_tip .iconfont{
                right: 2px;
            }
        </style>
        <div class="fb_tip flex flex_j_around flex_a_center">
            <div class="color_fff ft12">{$setting_activity['copyright']}</div>
            <a href="{$setting_activity['copyright_url']}" class="ft14">{if $setting_activity['copyright_buy']}{$setting_activity['copyright_buy']}{else}去购买{/if}</a>
        </div>
        {else}
        <style> .a_footer{
            padding: 0;
        }</style>
        {/if}
        {/if}
    </div>
</div>
{template 'canvas_share'}
{if $activity['music']}
<script>
    var audio=document.getElementsByTagName('audio')[0];
    $('.icon-music').click(function () {
        if(audio.paused){
            audio.play();
            $(this).addClass('active')
        }else{
            audio.pause();
            $(this).removeClass('active')
        }
    })
    $('.icon-mofabang').click(function(){
        if($(this).hasClass('active')){
            $(this).removeClass('active')
            $('#leafContainer').hide()
        }else{
            $(this).addClass('active')
            $('#leafContainer').show()
        }
    })
    document.addEventListener('DOMContentLoaded', function () {
        function audioAutoPlay() {
            var audio = document.getElementById('audiojs');
            audio.play();
            document.addEventListener("WeixinJSBridgeReady", function () {
                audio.play();
            }, false);
        }
        audioAutoPlay();
    });
    if (/i(Phone|P(o|a)d)/.test(navigator.userAgent)) {
        $(document).one('touchstart',
            function(e) {
                $('#audiojs').get(0).touchstart = true;
                $('#audiojs').get(0).play();
                return false;
            }
        );
    }
</script>
{/if}
<script>

    countDown({php echo intval($activity['endtime']-time())})//时间戳相减
    //带天数的倒计时
    function countDown(times){
        var timer=null;
        timer=setInterval(function(){
            var day=0,
                hour=0,
                minute=0,
                second=0;//时间默认值
            if(times > 0){
                day = Math.floor(times / (60 * 60 * 24));
                hour = Math.floor(times / (60 * 60)) - (day * 24);
                minute = Math.floor(times / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(times) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (day <= 9) day = '0' + day;
            if (hour <= 9) hour = '0' + hour;
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;
            //
            $('.act_day').html(day);
            $('.act_hour').html(hour);
            $('.act_min').html(minute);
            $('.act_sec').html(second);
            // console.log(day+"天:"+hour+"小时："+minute+"分钟："+second+"秒");
            times--;
        },1000);
        if(times<=0){
            clearInterval(timer);
        }
    }

    // 公告
    function timer(opj){
        $(opj).find('ul').animate({
            marginTop : "-2.1rem"
        },500,function(){
            $(this).css({marginTop : "0.3rem"}).find("li:first").appendTo(this);
        })
    }
    $(function(){
        var num = $('.notice_active').find('li').length;
        if(num > 1){
            var time=setInterval('timer(".notice_active")',3000);
            $('.gg_more a').mousemove(function(){
                clearInterval(time);
            }).mouseout(function(){
                time = setInterval('timer(".notice_active")',3000);
            });
        }
    });
    var startX,startY;
    // 返回顶部
    // $("body").on("touchstart", function(e) {
    //     e.preventDefault();
    //     startX = e.originalEvent.changedTouches[0].pageX;
    //     startY = e.originalEvent.changedTouches[0].pageY;
    // });
    // $("body").on("touchmove", function(e) {
    //     e.preventDefault();
    //     moveEndX = e.originalEvent.changedTouches[0].pageX,
    //     moveEndY = e.originalEvent.changedTouches[0].pageY,
    //     X = moveEndX - startX,
    //     Y = moveEndY - startY;
    //
    //     if(document.documentElement.scrollTop>100){
    //         $('.go_top').fadeIn()
    //     }else{
    //         $('.go_top').fadeOut()
    //     }
    //     if(Y>20||Y<-20){
    //         $('.a_footer').fadeOut()
    //         setTimeout(function () {
    //             $('.a_footer').fadeIn()
    //         },300)
    //     }
    //
    //     var scrollTop = document.documentElement.scrollTop;
    //     var scrollHeight = $(document).height();
    //     var windowHeight = $('body').height();
    //     if(scrollTop + windowHeight == scrollHeight){
    //         // alert("已经到最底部了！");
    //     }
    // });
    $('.go_top').click(function(){
        $(window).scrollTop(0);
        $('.go_top').fadeOut()
    })

    // 提示
    function tips(txt,timer){
        $('.tips').html(txt).fadeIn()
        setTimeout(function(){$('.tips').fadeOut()},timer||1500);
    }

    //砍价
    function kanjia(goods_id,cut_id,my_cutid,self,gstyle,datastyle){
        if("{$activity['status']}"!='1'){
            return false;
        }
        var fmid="{$_GPC['fmid']}";

        if(gstyle==1||gstyle==6) {
            {if $setting['attention']=='1'&&$member['follow']=='0'}
            $('.a_code').fadeIn();
            {else}
            var kj_userinfo=JSON.parse(localStorage.getItem('kj_userinfo'))
            if(!!kj_userinfo){
                $($(".os_input").eq(0)).find('input').val(kj_userinfo.realname)
                $($(".os_input").eq(1)).find('input').val(kj_userinfo.mobile)
            }

            $('.os_btn').attr('data-goods_id', goods_id).attr('data-cut_id', cut_id).attr('data-my_cutid', my_cutid).attr('data-gstyle',gstyle).attr('data-datastyle',datastyle)
            $('.open_signup,.bg_fixed').fadeIn()
            {/if}
        }else{

            $.post(
                "{php echo $this->createMobileUrl('index',array('op' =>'cut'))}",
                {
                    'activity_id':"{$activity_id}",
                    'goods_id':goods_id,
                    'cut_id':cut_id
                },
                function (data) {
                    if(data.errno==0){
                        var goods_clsname='.goods'+goods_id;
                        var bm_clsname='.bm_id'+goods_id;
                        var zr_clsname='.kj_id'+goods_id;
                        var kj_clsname='.kj_id'+goods_id;
                        $('.open_kjtips h4').html("成功帮{$fmember['nickname']}砍掉");
                        $('.open_kjtips h1').html(data.data.price+'元');
                        // if(!!my_cutid){
                        //     $(self).hide()
                        // }else{

                        if(gstyle==5) {
                            $(self).hide();
                            $(bm_clsname).show();
                        }
                        if(gstyle==7||gstyle==8||gstyle==9) {
                            $(self).hide();
                            $('.go_myactivity').show();
                        }
                        $(goods_clsname).find('.gdtp_bg>div').css('width',data.data.schedule+'%')
                        $(goods_clsname).find('.gdtp_bg>span').css('left',(data.data.schedule>5?(data.data.schedule-5):0)+'%')
                        $(goods_clsname).find('.gdtp_tips').show().find('span').html(data.data.nprice)
                        $('.open_kjtips,.bg_fixed').fadeIn();
                    }else{
                        tips(data.message);
                    }
                    },'json'
                )
            }


    }
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        // 支付
        $('.pay_btn').click(function () {
            var self = this;
            $.post(
                "{php echo $this->createMobileUrl('order',['op'=>'create_order'])}",
                {
                    'cut_id': $(self).attr('data-my_cutid')
                },
                function (data) {
                    if (!!data.data.id) {
                        var order_id=data.data.id;
                        $.post(
                            "{php echo $this->createMobileUrl('pay')}",
                            {
                                'order_id': data.data.id
                            },
                            function (data) {
                                if (data.errno == 0) {
                                    console.log(data)
                                    WeixinJSBridge.invoke(
                                        'getBrandWCPayRequest', {
                                            "appId":data.data.appId,     //公众号名称，由商户传入
                                            "timeStamp":data.data.timeStamp,         //时间戳，自1970年以来的秒数
                                            "nonceStr":data.data.nonceStr, //随机串
                                            "package":data.data.package,
                                            "signType":data.data.signType,         //微信签名方式：
                                            "paySign":data.data.paySign //微信签名
                                        },
                                        function(res){
                                            if(res.err_msg == "get_brand_wcpay_request:ok"){

                                            }else{
                                                $.post(
                                                    "{php echo $this->createMobileUrl('order',['op'=>'cancel'])}",
                                                    {
                                                        'order_id': order_id
                                                    },
                                                )
                                            }
                                            setTimeout(function () {
                                                location.reload();
                                            },2000)
                                        });
                                } else {
                                    tips(data.message)
                                }
                            }, 'json'
                        )
                    } else {
                        tips(data.message);
                    }
                }, 'json'
            );
        })
    })


    function changeGoods(self,idx){
        if(!$(self).hasClass('active')){
            $('.acs_navbar div').removeClass('active')
            $(self).addClass('active')
            var html='';
            for(var i=0;i<goods[idx]['cuts'].length;i++){
                html+='<div>' +
                    '    <span>'+(i+1)+'</span>' +
                    '    <span>'+goods[idx]['cuts'][i]['realname']+'</span>' +
                    '    <span>'+goods[idx]['cuts'][i]['nprice']+'</span>' +
                    '</div>'
            }
            $('.acsc_list').html(html)
        }
    }

    console.log('$activity',{php echo json_encode($activity)})
    console.log('$goods',{php echo json_encode($goods)})
    // console.log('$member',{php echo json_encode($member)})
    console.log('$records',{php echo json_encode($records)})
    // console.log('$setting',{php echo json_encode($setting)})
</script>
<script type="text/javascript">
    var time1=Date.parse(new Date()),time2=Date.parse(new Date()),time3=Date.parse(new Date()),time4=Date.parse(new Date());
    var records={php echo json_encode($records)}||'';
    for(var i=0;i<records.length;i++){
        danmu(records[i],i);
    }
    function danmu(records,i){
        var bullet = $("<div><img src='"+records['avatar']+"' alt=''><span>"+records['tips']+"</span></div>");
        //生成一条弹幕
        // bullet.text(txt);
        //将输入框内容放置到div中
        bullet.addClass("bullet");
        var top=0;
        switch (i)
        {
            case 1:case 5:case 9:case 13:case 17:case 21:case 25:
            top=10;
            break;
            case 2:case 6:case 10:case 14:case 18:case 22:case 26:
            top=45;
            break;
            case 3:case 7:case 11:case 15:case 19:case 23:case 27:
            top=85;
            break;
            default:
                top=120;
                break;
        }
        //为bullet这个div添加样式bullet
        bullet.css("top",top+'px');
        //随机设置弹幕位置
        bullet.css("left","500px");
        // bullet.css("font-size",Math.round(Math.random()*60)+12+"px");
        if(records['status']==2) {
            bullet.css("color", "#FD6E4A");
        }
        setTimeout(function () {
            switch (i)
            {
                case 1:case 5:case 9:case 13:case 17:case 21:case 25:
                if(Date.parse(new Date())-time1>2000){
                    $(".dm_content").append(bullet);
                    time1= Date.parse(new Date())
                };
                break;
                case 2:case 6:case 10:case 14:case 18:case 22:case 26:
                if(Date.parse(new Date())-time2>2000){
                    $(".dm_content").append(bullet);
                    time2= Date.parse(new Date())
                };
                break;
                case 3:case 7:case 11:case 15:case 19:case 23:case 27:
                if(Date.parse(new Date())-time3>2000){
                    $(".dm_content").append(bullet);
                    time3= Date.parse(new Date())
                };
                break;
                default:
                    if(Date.parse(new Date())-time4>2000){
                        $(".dm_content").append(bullet);
                        time4= Date.parse(new Date())
                    };
                    break;
            }
            bullet.animate({
                left:-900//此处视为bug，应该随着弹幕的长短而变化
            },18000,"linear", function(){
                bullet.remove();
                danmu(records,i)
            });
        },Math.random()*10000)
        //将弹幕添加到屏幕中
    }
    var regional=true;
    function map_click(lng,lat){
        $.post(
            "{php echo $this->createMobileUrl('index',['op'=>'regional'])}",
            {
                'lng': lng,
                'lat': lat,
                'activity_id':"{$activity_id}"
            },
            function (data) {
                if(data.errno==1){
                    tips(data.message,3000);
                    regional=false;
                }else{
                    regional=true;
                }
            }, 'json'
        );
    }

</script>

{template 'footer'}
