{template 'header'}
<link rel="stylesheet" href="{YOUMI_URL_APP}css/animate.min.css">
<script src="{YOUMI_URL_APP}js/masonry.min.js"></script>

<style>
    .moneybox{width: 100%;height: 100%;}

    #leafContainer {
        /*position: absolute;*/
        /*width: 100%;*/
        /*height: 100%;*/
        overflow: hidden;
    }

    #leafContainer > div {
        position: fixed;
        z-index: 10;
        width: 25px;
        /*height: 150px;*/
        -webkit-animation-iteration-count: infinite, infinite;
        -webkit-animation-direction: normal, normal;
        -webkit-animation-timing-function: linear, ease-in;
    }
    #leafContainer > div > img {
        position: absolute;
        width: 25px;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-transform-origin: 50% -100%;
    }
    @-webkit-keyframes fade {
        0% {
            opacity: 1;
        }
        95% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @-webkit-keyframes drop {
        0% {
            -webkit-transform: translate(0px, -50px);
        }
        100% {
            -webkit-transform: translate(0px, 650px);
        }
    }
    @-webkit-keyframes clockwiseSpin {
        0% {
            -webkit-transform: rotate(-50deg);
        }
        100% {
            -webkit-transform: rotate(50deg);
        }
    }
    @-webkit-keyframes counterclockwiseSpinAndFlip {
        0% {
            -webkit-transform: scale(-1, 1) rotate(50deg);
        }
        100% {
            -webkit-transform: scale(-1, 1) rotate(-50deg);
        }
    }

</style>
<style>
    .color_red{
        color: #ED5F43
    }
    img{
        width: 100%;
    }
    input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select{
        border: 1px solid transparent;
        text-align: center;
        margin: 0 2%;
        height: 30px;
        padding: 5px;
        background: transparent;
    }
    .bg_fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        display: none;
    }

    .h_img{
        width: 100%;
    }
    .ah_top{
        background: rgba(0,0,0,0.7);
        color: #aaa;
        display: inline-flex;
        padding: 0 6px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    .ah_top span{
        color: #fff;
        font-weight: 700;
    }
    .a_head .iconfont{
        position: fixed;
        z-index: 5;
        color: #fff;
        font-size: 28px;
        border-radius: 50%;
        border: 1px solid #fff;
        background: rgba(0,0,0,0.4);
        left: 5%;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 33px;
    }
    .icon-music{
        top: 5%;
    }
    .icon-music.active,.icon-mofabang.active{
        -webkit-animation: zhuan 2s linear infinite;
    }
    .icon-mofabang{
        top: 15%;
        font-size: 24px!important;
    }
    .ah_user,.ah_contact,.ah_complain,.ah_share{
        top: 25%;
        left: 5%;
        width: 42px;
        height: 42px;
        background: #333;
        color: #fff;
        text-align: center;
        padding: 6px;
        line-height: 14px;
        border-radius: 50%;
        position: fixed;
        z-index: 10;
    }
    .ah_complain{
        left: inherit;
        right: 5%;
        top: 15%;
        line-height: 30px;
    }
    .ah_share{
        left: inherit;
        right: 5%;
        top: 5%;
        line-height: 30px;
    }
    .ah_contact{
        left: inherit;
        right: 5%;
        -webkit-animation: zhuan2 1.5s ease-in infinite;
    }


    .a_content{
        padding: 4%;
        box-sizing: border-box;
        background: url("{$activity['bgimage']}") repeat 100%;
        padding-bottom: 35%;
    }
    .ac_title{
        font-weight: 700;
        margin-bottom: 10px;
    }
    .ac_time{

    }
    .ac_time>div{
        width: 100%;
        text-align: center;
        left: 0;
        top: 28%;
    }
    .ac_time span{
        color: #111;
        background: #ED5F43;
        border-radius: 50%;
        padding: 2px;
        margin: 0 2px;
        display: inline-block;
        /*width: 20px;*/
        height: 20px;
        text-align: center;
        line-height: 16px;
    }

    .ac_messages{
        margin: 5% 0;
        text-align: center;
        background: #FEF4DC;
        width: 84%;
        left: 8%;
        position: relative;
        border-radius: 10px;
    }
    .notice_active {
        height: 3rem;
        padding: 0;
        overflow: hidden;
        position: relative;
    }
    .notice_active ul{
        padding: 0 6px;
    }
    .notice_active li{
        list-style-type:none;line-height: 2.6rem;overflow: hidden;
        text-align: center;
    }


    .ac_goods{
        background: #fff;
        border-radius: 5px;
        padding: 2%;
        margin-top: 20px;
    }
    .goods{
        border: 1px solid #111;
        border-radius: 5px;
        padding: 12% 2% 2% 2%;
        margin-top: 50px;
    }
    .goods .gt_logo{
        width: 100px;
        height: 100px;
        margin-right: 3%;
    }
    .gt_detail>div{
        margin: 10px 0;
    }
    .g_title{
        width: 70%;
        position: absolute;
        top: -25px;
        left: 15%;
    }
    .g_title>div{
        position: absolute;
        top: 5px;
        width: 100%;
        text-align: center;
        left: 0;
    }

    .ac_youhui{
        margin-top: 25px;
    }
    .acy_title{
        width: 66%;
        left: 17%;
        margin-bottom: 8px;
    }
    .acy_title input{
        width: 78%;
        top: 5px;
        left: 8%;
        position: absolute;
        z-index: 5;
    }
    .acy_content{
        background: #fff;
        border-radius: 5px;
        padding: 2%;
        position: relative;
        height: 90%;
        overflow-y: auto;
    }

    .acs_content .acsc_title,.acsc_list>div{
        display: flex;
        display: -webkit-flex;
        justify-content: space-around;
        justify-content: space-around;
        align-items: center;
        -webkit-align-items: center;
    }
    .acsc_list img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    .acs_content span{
        width: 25%;
        text-align: center;
        margin-top: 5px;
    }
    .acsc_tip{
        padding-top: 18px;
        text-align: center;
    }


    .go_top{
        position: fixed;
        bottom: 15%;
        right: 5%;
        width: 50px;
        height: 50px;
        z-index: 10;
        color: #fff;
        border-radius: 50%;
        background: rgba(0,0,0,0.6);
        text-align: center;
        line-height: 18px;
        padding: 6px;
        display: none;
    }
    .open_share{
        position: fixed;
        top: 8%;
        width: 60%;
        left: 20%;
        z-index: 20;
        color: #fff;
        display: none;
    }
    .os_btns img{
        background: #fff;
        border-radius: 50%;
        padding: 8px;
        width: 50px;
    }
    .osb_cancel{
        position: fixed;
        bottom: 5%;
        padding: 2px;
        border-bottom: 1px solid #fff;
        left: 45%;
    }


    .open_kjtips{
        position: fixed;
        top: 10%;
        width: 80%;
        left: 10%;
        z-index: 20;
        background: #D3441B;
        border-radius: 10px;
        display: none;
    }
    .a_btn2{
        width: 96%;
        margin: 4% 2%;
        display: block;
        box-sizing: border-box;
        padding: 2%;
        font-size: 18px;
    }
    .a_btn3{
        display: block;
        width: 96%;
        margin: 0 auto;
    }
    .swing{
        -webkit-animation: kanjia 1.5s ease-in infinite;
    }
    .ok_price{
        margin: 4% 2% 8% 2%;
    }
    .a_footer{
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 4%;
        background: rgba(0,0,0,0.7);
        z-index: 10;
        width: 100%;
        text-align: center;
    }
    .a_footer a{
        font-size: 14px;
        width: 28%;
        padding: 1.5% 0;
    }
    .gdtp_bg{
        width: 100%;
        height: 10px;
        background: #ddd;
        border-radius: 10px;
        margin: 5px 0;
    }
    .gdtp_bg>div{
        background: #ED5F43;
        border-radius: 20px;
        height: 10px;
    }
    .gdtp_bg>span{
        background: #fff;
        width: 16px;
        border-radius: 50%;
        height: 16px;
        border: 3px solid #ED5F43;
        top: -3px;
    }

    @-webkit-keyframes zhuan {
        0%{transform: rotate(0deg)}
        100%{transform: rotate(360deg)}
    }
    @-webkit-keyframes zhuan2 {
        0%{transform: rotate(0deg)}
        45%{transform: rotate(-30deg)}
        90%{transform: rotate(30deg)}
        100%{transform: rotate(0deg)}
    }
    @-webkit-keyframes kanjia {
        10%{
            transform: rotate(-3deg) scale(0.9);
        }
        35%{
            transform: rotate(3deg) scale(1.1);
        }
        45%{
            transform: rotate(-3deg);
        }
        55%{
            transform: rotate(3deg);
        }
        65%{
            transform: rotate(-3deg);
        }
        90%{
            transform: rotate(0) scale(1);
        }
    }

    .acs_navbar>div{
        padding: 2% 0;
        border-bottom: 2px solid transparent;
    }
    .acs_navbar>div.active{
        border-bottom: 2px solid #ED5F43;
        color: #ED5F43;
    }
    .acysc_detail span{
        background: #FD6E4A;
        width: 25px;
        text-align: center;
        color: #fff;
        margin: 10px;
        display: block;
        border-radius: 50%;
        height: 25px;
        line-height: 25px;
    }

    .a_explain{
        display: none;
        position: fixed;
        z-index: 50;
        left: 5%;
        width: 90%;
        top: 5%;
        height: 80%;
        overflow-y: auto;
        background: #fff;
        border-radius: 5px;
        padding: 5px;
        background: url("{$activity['bgimage']}") repeat 100%;
    }
    .e_close.icon-Close{
        display: none;
        position: fixed;
        left: 44%;
        bottom: 5%;
        z-index: 20;
        font-size: 40px;
        color: #fff;
    }
    .ac_list{
        text-align: center;
    }
    .ac_list img{
        width: 14%;
        margin: 2%;
    }

    .a_cheating,.ac_sort{
        position: fixed;
        border-radius: 10px;
        top: 15%;
        color: #111;
        padding: 5% 2%;
        width: 80%;
        left: 10%;
        z-index: 20;
        /*background: #F00C0A;*/
        display: none;
        background: url("{$activity['bgimage']}") repeat 100%;
    }
    .a_cheating .icon-Close{
        position: absolute;
        left: 44%;
        bottom: -30%;
        z-index: 20;
        font-size: 40px;
        color: #fff;
    }
    .ach_member{
        /*background: #FD6E4A;*/
        padding: 3%;
    }
    .ach_member img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    .ach_member div{
        font-size: 18px;
    }
    .ach_member p{
        font-size: 16px;
        margin-top: 10px;
    }

    .ac_sort{
        top: 0;
        height: 80%;
    }
    .a_close.icon-Close{
        display: none;
        position: fixed;
        left: 44%;
        bottom: 4%;
        z-index: 20;
        font-size: 40px;
        color: #fff;
    }

    .fb_tip{
        padding: 1% 0;
        margin-bottom: -15px;
        position: relative;
    }
    .fb_tip a{
        font-size: 16px;
    }
    .fb_tip .iconfont{
        color: #fff;
        position: absolute;
        right: -10px;
        top: 5px;
    }

</style>
<!--瀑布流-->
<style>
    #pageCon .text_a{width: 100%;}
    #pageCon .text_a a{display: block;width: 23.5%;float: left; background: #ff756b;text-align: center;color: #fff;line-height: 35px;font-size: 16px;}
    #pageCon .text_a a:nth-child(2), .content .text_a a:nth-child(3), .content .text_a a:nth-child(4){margin-left: 2%;}
    #pageCon .text_a a.active{background-color: #f9493c;}
    #pageCon .match_page {width: 100%;overflow: hidden;}
    #pageCon .list_box{position:relative;padding: 0}
    #pageCon .list_box li{width:49.9%;float: left;box-sizing:border-box;margin-bottom: 10px;list-style: none}
    #pageCon .list_box li>div{margin: 0 5px;position: relative;background-color: #ff756b;}
    #pageCon .list_box li>div .number {display: block;width: 70px;height: 30px;background: #ff756b;position: absolute;color: #fff;text-align: center;line-height: 32px;top: 0;right: 4%;}
    #pageCon .list_box li>div .number:after {content: '';width: 0;height: 0;position: absolute;top: 30px;right: 0;border-top: 10px solid #ff756b;border-left: 35px solid transparent;border-right: 35px solid transparent;}
    #pageCon .list_box li.mr0{margin-right: 0;}
    #pageCon .list_box li img{width: 100%;}
    #pageCon .list_box li a.img{display: block; padding: 3px 3px 0;}
    #pageCon .list_box li a.vote{float: right; width: 30%; height: 50px; background: #f9493c; line-height: 50px; color: #fff; font-size: 16px; text-align: center;}

    #pageCon .list_box li span{display:block;}
    #pageCon .list_box li .piao{position:absolute;z-index:1000;top:0px;left:0px;display:block;background-color:#e4393c;color:#fff;padding:2%;font-size:14px;}
    #pageCon .list_box li .tou{ clear:both;background-color:#ff756b; color:#fff; height:50px; width:100%}
    #pageCon .list_box li .tou .divP{overflow:hidden;text-overflow:ellipsis;white-space: nowrap;float:left;width:60%; text-indent:0.5em;height:50px}
    #pageCon .list_box li .tou .divP span{ line-height:24px}

    .clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0; }
    .clearfix:after {content: " ";clear: both;display: block;height: 0;visibility: hidden; }


</style>
<div>
    <div class="tips"></div>
    {if $activity['effects_imgs']}<div class="moneybox" id="leafContainer"></div>{/if}

    <!--头部-->
    <div class="a_head p_relative">
        <img class="h_img" src="{$activity['image']}" alt="">
        <div class="flex flex_a_center ah_top">
            <span>{$activity['pv']}</span>人查看 <span> {$activity['voter']}</span>投票 <span> {php echo count($cuts)}</span>人报名
        </div>

        {if $activity['music']}<i id="music" class="iconfont icon-music active"><audio id="audiojs" src="{$activity['music']}" autoplay loop></audio></i>{/if}
        {if $activity['effects_imgs']}<i class="iconfont icon-mofabang active"></i>{/if}
        <a href="{php echo $this->createMobileUrl('user')}" class="p_absolute ah_user">个人中心</a>
        <a href="{php echo $this->createMobileUrl('index',['op'=>'page_complain','activity_id'=>$activity['id']])}" class="p_absolute ah_complain">投诉</a>
        <div class="p_absolute ah_share" onclick="$('.open_share,.bg_fixed').fadeIn()">分享</div>
        <div class="p_absolute ah_contact" data-name="{$activity['shop_name']}" data-mobile="{$activity['shop_mobile']}" data-address="{$activity['shop_province']} {$activity['shop_city']} {$activity['shop_district']} {$activity['shop_address']}" data-code="{php echo tomedia($activity['shop_code'])}" onclick="openConcat(this)">联系商家</div>
    </div>
    <!--下部分，背景图片 background->repeat-->
    <div class="a_content">
        <!--倒计时-->
        {if $activity['status']=='1'}
        <div class="ac_time p_relative sys_color">
            <img style="width: 100%" src="{YOUMI_URL_APP}img/time_bg.png" alt="">
            <div class="p_absolute">距离活动结束还有:<span class="act_day"></span>天<span class="act_hour"></span>时<span class="act_min"></span>分<span class="act_sec"></span>秒</div>
        </div>
        {/if}
        <!--logo列表-->
        <div class="ac_list content">

            <div id="pageCon" class="match_page masonry" style="padding-bottom: 30px">
                <ul class="list_box masonry clearfix" >
                    {loop $cuts $cv}
                    <li class="picCon masonry-brick">
                        <div>
                            <i class="number">{$cv['id']}号</i>
                            <a href="{php echo $this->createMobileUrl('detail',['activity_id'=>$_GPC['activity_id'],'cut_id'=>$cv['id']])}" class="img">
                                <img src="{if $cv['vote_imgs'][0]}{$cv['vote_imgs'][0]}{else}{$cv['vote_imgs'][1]}{/if}" />
                            </a>
                            <div class="tou">
                                <div class="divP">
                                    <span>{$cv['realname']}</span>
                                    <span> <span class="d_times dt{$cv['id']}">{$cv['times']}</span>票</span>
                                </div>
                                <a href="javascript:void(0)" onclick="voting({$cv['id']},this)" class="vote">投票</a>
                            </div><!--/tou-->
                        </div>
                    </li>
                    {/loop}
                </ul>
            </div>

            {if $setting_activity&&$setting_activity['making_status2']==1}
            <div style="text-align: center;margin: 40px 0 0 0;">
                <a href="{$_W['siteroot']}index.php?c=entry&i={$_W['uniacid']}&do=making&case_id={$activity_umi['case_id']}&m=umi_activitys&module={$_W['current_module']['name']}" style="color:#000;border: 1px solid #000;padding: 6px 16px;border-radius: 5px;text-decoration: none;">
                    <span>我也要创建活动</span>
                    <i class="iconfont icon-jiantou1" style="font-size: 12px"></i>
                </a>
            </div>
            {/if}
            
        </div>
    </div>
    <!--活动说明弹窗-->
    <i class="iconfont icon-Close e_close" onclick="$('.a_explain,.bg_fixed,.e_close').fadeOut()"></i>
    <div class="a_explain">
        <!--活动信息-->
        <div class="ac_youhui p_relative">
            <div class="acy_title p_relative">
                <img style="height: 40px" src="{if $activity['titlebgimg']}{$activity['titlebgimg']}{else}{YOUMI_URL_APP}img/m_titlebg2.png{/if}" alt="">
                <input type="text" value="活动信息" readonly>
            </div>
            <div class="acy_content">
                <div class="acys_contents">
                    <!--内容-->
                    <div>活动对象: {$activity['receive_name']}</div>
                    <div>领取时间: {$activity['receive_time']}</div>
                    <div>领取地址: {$activity['receive_address']}</div>
                </div>
            </div>
            <img class="iconPig" src="{YOUMI_URL_APP}img/pig.png" alt="">
        </div>
        <!--活动描述-->
        <div class="ac_youhui p_relative">
            <div class="acy_title p_relative">
                <img style="height: 40px" src="{if $activity['titlebgimg']}{$activity['titlebgimg']}{else}{YOUMI_URL_APP}img/m_titlebg2.png{/if}" alt="">
                <input type="text" value="活动介绍" readonly>
            </div>
            <div class="acy_content">
                <div class="acys_contents">
                    <!--内容-->
                    {php echo htmlspecialchars_decode($activity['desc_val'])}
                    {loop $activity['desc_imgs'] $adv}
                    <img style="width: 100%;margin: 3px 0" src="{$adv}" alt="">
                    {/loop}
                </div>
            </div>
            <img class="iconPig" src="{YOUMI_URL_APP}img/pig.png" alt="">
        </div>

        <!--主办方资料-->
        <div class="ac_youhui p_relative">
            <div class="acy_title p_relative">
                <img style="height: 40px" src="{if $activity['titlebgimg']}{$activity['titlebgimg']}{else}{YOUMI_URL_APP}img/m_titlebg2.png{/if}" alt="">
                <input type="text" value="主办方资料" readonly>
            </div>
            <div class="acy_content">
                <div class="acys_contents">
                    <!--内容-->
                    {php echo htmlspecialchars_decode($activity['shop_val'])}
                    {loop $activity['shop_imgs'] $sv}
                    <img style="width: 100%;margin-bottom: 2px" src="{$sv}" alt="">
                    {/loop}
                </div>
            </div>
            <img class="iconPig" src="{YOUMI_URL_APP}img/pig.png" alt="">
        </div>

    </div>
    <!--排行榜弹窗-->
    <i class="iconfont icon-Close a_close" onclick="$('.ac_sort,.bg_fixed,.a_close').fadeOut()"></i>
    <div class="ac_sort ac_youhui p_relative">
        <div class="acy_title p_relative">
            <img style="height: 40px" src="{if $activity['titlebgimg']}{$activity['titlebgimg']}{else}{YOUMI_URL_APP}img/m_titlebg2.png{/if}" alt="">
            <input type="text" value="排行榜" readonly>
        </div>

        <div class="acy_content">
            <div class="acs_content">
                <div class="acsc_title">
                    <span>排名</span>
                    <span>头像</span>
                    <span>姓名</span>
                    <span>数量</span>
                </div>
                <div class="acsc_list">
                    {loop $records $ridx $rv}
                    <div>
                        <span>{php echo intval($ridx+1)}</span>
                        <span><img src="{$rv['avatar']}" alt=""></span>
                        <span>{$rv['realname']}</span>
                        <span>{$rv['times']}票</span>
                    </div>
                    {/loop}
                </div>
            </div>
            <!--<div class="acsc_tip">已经到底了</div>-->
        </div>
    </div>

    <div class="bg_fixed"></div>
    <!--返回顶部-->
    <div class="go_top">
        <i class="iconfont icon-xiangshang active"></i>
        <div>顶部</div>
    </div>
    <!--分享-->
    <div class="open_share">
        <img src="{YOUMI_URL_APP}img/m_share.png" alt="">
        <div class="text_center" style="margin-bottom: 10px">————分享方式————</div>
        <div class="os_btns flex flex_a_center flex_j_around">
            <div class="text_center" onclick="tips('点击右上角分享给微信好友')">
                <img src="{YOUMI_URL_APP}img/m_weixin.png" alt="">
                <div>微信好友</div>
            </div>
            <div class="text_center" onclick="hecheng();">
                <img src="{YOUMI_URL_APP}img/m_pyq.png" alt="">
                <div>朋友圈</div>
            </div>
            <div class="osb_cancel" onclick="$('.open_share,.bg_fixed').fadeOut()">取消</div>
        </div>
    </div>
    <!--联系商家-->
    {template 'contact'}
    <!--提交信息-->
    {template 'signup'}
    {template 'signup_voter'}
    <!--砍价-->
    <div class="open_kjtips">
        <img style="width: 100%;border-radius: 10px;" src="{YOUMI_URL_APP}img/kj_bg.png" alt="">
        <h4 class="text-center color_fff"></h4>
        <h1 class="text-center color_fff ok_price"></h1>
        <a href="javascript:;" class="a_btn2" onclick="$('.open_kjtips,.bg_fixed').fadeOut()">我知道了</a>
    </div>
    <!--底部按钮-->

    <div class="a_footer">
        <div class="flex flex_j_between">
            <a class="a_btn" href="javascript:;" onclick="$('.a_explain,.bg_fixed,.e_close').fadeIn()">活动说明</a>
            {if $activity['status2']==2}
            <a class="a_btn" href="javascript:;">活动已结束</a>
            {/if}
            {if $activity['status2']==4}
            <a onclick="openSign()" class="a_btn swing" href="javascript:;">我要报名</a>
            {/if}
            {if $activity['status2']==6||$activity['status2']==5}
                <a href="{php echo $this->createMobileUrl('detail',['activity_id'=>$_GPC['activity_id'],'cut_id'=>$cut['id']])}" class="a_btn swing">我的活动</a>
            {/if}
            <a onclick="$('.ac_sort,.bg_fixed,.a_close').fadeIn()" class="a_btn" href="javascript:;">排行榜</a>
        </div>
        {if $setting_activity&&$setting_activity['making_status']==1}
        <div class="fb_tip flex flex_j_around flex_a_center ft16">
            <div class="color_fff">{$setting_activity['copyright']}</div>
            <a href="{$setting_activity['copyright_url']}">{if $setting_activity['copyright_buy']}{$setting_activity['copyright_buy']}{else}去购买{/if}</a>
            <i class="iconfont icon-Close" onclick="$('.fb_tip').hide()"></i>
        </div>
        {/if}
    </div>

</div>
{template 'canvas_share'}
<script>
    const NUMBER_OF_LEAVES = 10;
    const width=window.screen.width;
    function init(){
        var container = document.getElementById('leafContainer');
        for (var i = 0; i < NUMBER_OF_LEAVES; i++)
        {
            container.appendChild(createALeaf());
        }

    }
    function randomInteger(low, high)
    {
        return low + Math.floor(Math.random() * (high - low));
    }
    function randomFloat(low, high)
    {
        return low + Math.random() * (high - low);
    }
    function pixelValue(value)
    {
        return value + 'px';
    }

    function durationValue(value)
    {
        return value + 's';
    }
    function createALeaf()
    {
        var effects_imgs= {php echo json_encode($activity['effects_imgs'])};
        var leafDiv = document.createElement('div');
        var image = document.createElement('img');
        image.src = effects_imgs[randomInteger(0, 4)];
        leafDiv.style.top = "-10px";
        leafDiv.style.left = pixelValue(randomInteger(0, width));
        var spinAnimationName = (Math.random() < 1.5) ? 'clockwiseSpin' : 'counterclockwiseSpinAndFlip';
        leafDiv.style.webkitAnimationName = 'fade, drop';
        image.style.webkitAnimationName = spinAnimationName;
        var fadeAndDropDuration = durationValue(randomFloat(13, 39));
        var spinDuration = durationValue(randomFloat(3, 7));
        leafDiv.style.webkitAnimationDuration = fadeAndDropDuration + ', ' + fadeAndDropDuration;
        var leafDelay = durationValue(randomFloat(0, 0));
        leafDiv.style.webkitAnimationDelay = leafDelay + ', ' + leafDelay;
        image.style.webkitAnimationDuration = spinDuration;
        leafDiv.appendChild(image);
        return leafDiv;
    }
    window.addEventListener('load', init, false);
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function audioAutoPlay() {
            var audio = document.getElementById('audiojs');
            audio.play();
            document.addEventListener("WeixinJSBridgeReady", function () {
                audio.play();
            }, false);
        }
        audioAutoPlay();
    });
    if (/i(Phone|P(o|a)d)/.test(navigator.userAgent)) {
        $(document).one('touchstart',
            function(e) {
                $('#audiojs').get(0).touchstart = true;
                $('#audiojs').get(0).play();
                return false;
            }
        );
    }
    var goods={php echo json_encode($goods)};
    var audio=document.getElementsByTagName('audio')[0];
</script>
<script>

    $('.icon-music').click(function () {
        if(audio.paused){
            audio.play();
            $(this).addClass('active')
        }else{
            audio.pause();
            $(this).removeClass('active')
        }
    })
    $('.icon-mofabang').click(function(){
        if($(this).hasClass('active')){
            $(this).removeClass('active')
            $('#leafContainer').hide()
        }else{
            $(this).addClass('active')
            $('#leafContainer').show()
        }
    })


    countDown({php echo intval($activity['endtime']-time())})//时间戳相减
    //带天数的倒计时
    function countDown(times){
        var timer=null;
        timer=setInterval(function(){
            var day=0,
                hour=0,
                minute=0,
                second=0;//时间默认值
            if(times > 0){
                day = Math.floor(times / (60 * 60 * 24));
                hour = Math.floor(times / (60 * 60)) - (day * 24);
                minute = Math.floor(times / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(times) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (day <= 9) day = '0' + day;
            if (hour <= 9) hour = '0' + hour;
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;
            //
            $('.act_day').html(day)
            $('.act_hour').html(hour)
            $('.act_min').html(minute)
            $('.act_sec').html(second)
            // console.log(day+"天:"+hour+"小时："+minute+"分钟："+second+"秒");
            times--;
        },1000);
        if(times<=0){
            clearInterval(timer);
        }
    }

    // 公告
    function timer(opj){
        $(opj).find('ul').animate({
            marginTop : "-2.1rem"
        },500,function(){
            $(this).css({marginTop : "0.3rem"}).find("li:first").appendTo(this);
        })
    }
    var num = $('.notice_active').find('li').length;
    if(num > 1){
        var time=setInterval('timer(".notice_active")',3000);
        $('.gg_more a').mousemove(function(){
            clearInterval(time);
        }).mouseout(function(){
            time = setInterval('timer(".notice_active")',3000);
        });
    }


    var startX,startY;
    // 返回顶部
    // $("body").on("touchstart", function(e) {
    //     e.preventDefault();
    //     startX = e.originalEvent.changedTouches[0].pageX;
    //     startY = e.originalEvent.changedTouches[0].pageY;
    // });
    // $("body").on("touchmove", function(e) {
    //     e.preventDefault();
    //     moveEndX = e.originalEvent.changedTouches[0].pageX,
    //     moveEndY = e.originalEvent.changedTouches[0].pageY,
    //     X = moveEndX - startX,
    //     Y = moveEndY - startY;
    //
    //     if(document.documentElement.scrollTop>100){
    //         $('.go_top').fadeIn()
    //     }else{
    //         $('.go_top').fadeOut()
    //     }
    //     if(Y>20||Y<-20){
    //         $('.a_footer').fadeOut()
    //         setTimeout(function () {
    //             $('.a_footer').fadeIn()
    //         },300)
    //     }
    //
    //     var scrollTop = document.documentElement.scrollTop;
    //     var scrollHeight = $(document).height();
    //     var windowHeight = $('body').height();
    //     if(scrollTop + windowHeight == scrollHeight){
    //         // alert("已经到最底部了！");
    //     }
    // });
    $('.go_top').click(function(){
        $(window).scrollTop(0);
        $('.go_top').fadeOut()
    })

    // 提示
    function tips(txt){
        $('.tips').html(txt).fadeIn()
        setTimeout(function(){$('.tips').fadeOut()},1500);
    }

    //报名
    function openSign(){
        var kj_userinfo=JSON.parse(localStorage.getItem('bm_userinfo'))
        if(!!kj_userinfo){
            $($(".os_input").eq(0)).find('input').val(kj_userinfo.realname)
            $($(".os_input").eq(1)).find('input').val(kj_userinfo.mobile)
        }

        $('.open_signup,.bg_fixed').fadeIn()
    }
    function openSign2(id){
        var kj_userinfo=JSON.parse(localStorage.getItem('bm_userinfo'))
        if(!!kj_userinfo){
            $($(".os_input2").eq(0)).find('input').val(kj_userinfo.realname)
            $($(".os_input2").eq(1)).find('input').val(kj_userinfo.mobile)
        }
        $('.open_signup2,.bg_fixed').fadeIn();
        $('.open_signup2').attr('data_cutid',id);
    }

    // 支付
    $('.pay_btn').click(function(){
        var self=this;
        $.post(
            "{php echo $this->createMobileUrl('order',['op'=>'create_order'])}",
            {
                'cut_id': "{$cut['id']}"
            },
            function (data) {
                if(!!data.data.id) {
                    location.href = "{php echo $this->createMobileUrl('pay')}&order_id=" + data.data.id;
                }
            }, 'json'
        )
    })

    function cheating(self,id){
        console.log(!!$(self).attr('data-openid'))
        if(!!$(self).attr('data-openid')){
            $('.ach_member img').attr('src',$(self).attr('data-avatar'))
            $('.ach_member div').html($(self).attr('data-nickname'))
            $('.ach_member p').html('在'+$(self).attr('data-time')+'为好友点亮了')
            $('.a_cheating,.bg_fixed').fadeIn()
        }else{
            $.post(
                "{php echo $this->createMobileUrl('index',['op'=>'cheating'])}",
                {
                    'id': id,
                    'cut_id':"{$_GPC['cut_id']}"
                },
                function (data) {
                    tips(data.message);
                    if(data.errno==0) {
                        $(self).attr('src',$(self).attr('data-src')).attr('data-avatar',"{$member['avatar']}").attr('data-nickname',"{$member['nickname']}").attr('data-time',data.data.d_time).attr('data-openid',data.data.openid)
                        $('.acd_num').html($('.acd_num').html()-0+1)
                    }
                }, 'json'
            )
        }

    }
    var isvoter="{$isvoter}"||false;
    function voting(id,self) {
        if ({$activity['voter_information']} == 2&&!isvoter) {
            openSign2(id, self);
        }else{
            $.post(
                "{php echo $this->createMobileUrl('index',['op'=>'voting'])}",
                {
                    'id': id,
                    'activity_id': "{$_GPC['activity_id']}"
                },
                function (data) {
                    tips(data.message);
                    if (data.errno == 0) {
                        $(self).parent('.tou').find('.d_times').html($(self).parent('.tou').find('.d_times').html() - 0 + 1)
                    }
                }, 'json'
            )
        }
    }
    var regional=true;
    function map_click(lng,lat){
        $.post(
            "{php echo $this->createMobileUrl('index',['op'=>'regional'])}",
            {
                'lng': lng,
                'lat': lat,
                'activity_id':"{$activity_id}"
            },
            function (data) {
                if(data.errno==1){
                    tips(data.message,3000);
                    regional=false;
                }else{
                    regional=true;
                }
            }, 'json'
        );
    }
    console.log('$activity',{php echo json_encode($activity)})
    console.log('$records',{php echo json_encode($records)})
    console.log('$cut',{php echo json_encode($cut)})
    console.log('$cuts',{php echo json_encode($cuts)})
    console.log('$isvoter',{php echo json_encode($isvoter)})
</script>
<script>
    var container2 = $('#pageCon ul');
    container2.imagesLoaded(function(){
        container2.masonry({
            itemSelector: '.picCon'
        });
    });
</script>
{template 'footer'}