{template 'header'}
<style>
    .grids{
        border-top: 1px solid #eee;
        overflow-x: auto;
        position: fixed;
        z-index: 8;
        top: 0;
        left: 0;
        width: 100%;
        white-space: nowrap;
        background: #fff;
        justify-content: space-around;
    }
    .grids>div{
        width: 12%;
        margin: 0 4%;
        border-bottom: 2px solid transparent;
    }
    .grids img{
        width: 100%;
    }
    .grids .ft12{
        padding-bottom: 15%;
        margin-top: -10%;
    }
    .grids i{
        font-size: 25px;
    }
    .grids>.active{
        color: #F8A40D;
        border-bottom: 2px solid #F8A40D;
    }
    .weui-cell__hd{
        width: 30%;
        margin-right: 4%;
    }
    .weui-cell__hd img{
        width: 100%;
        min-height: 90px; 
    }
    .weui-cell{
        align-items: inherit;
    }
    .list .weui-cell__bd{
        position: relative;
    }
    .weui-cells{
        margin-top: 0;
    }
    .list .btns{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    .btns .a_btn{
        margin-right: 5%;
    }

    .grids2{
        top: 64px;
        z-index: 5;
        border-top: 1px solid #eee;
        padding: 2%;
        position: fixed;
        left: 0;
        width: 100%;
        background: #fff;
        box-shadow:0 2px 4px #ddd;
        display: none;
    }
    .grids2 div{
        background: #fff;
        color: #000;
        padding:2% 4%;
        border-radius:42px;
        font-size: 12px;
        text-align: center;
        margin:2%;
        float: left;
    }
    .grids2 div.active{
        background: #f3f3f3;
        color: #F8A40D;
    }

    .explain{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 20;
        height: 93%;
        display: none;
        overflow-y: auto;
    }
    .explain>h4{
        text-align: center;
        margin: 4%;
        color: #F8A40D;
    }
    .explain .a_btn{
        font-size: 16px;
        padding: 4% 10%;

    }
</style>
<div class="navs">
    <div class="grids flex">
        <div data-type="0" onclick="grids(this)" class="text_center active">
            <i class="iconfont icon-icon-test"></i>
            <div class="ft12">精选</div>
        </div>
        <div data-type="1" onclick="grids(this)" class="text_center">
            <i class="iconfont icon-tangniaobingleixing"></i>
            <div class="ft12">按类型分</div>
        </div>
        <div data-type="2" onclick="grids(this)" class="text_center">
            <i class="iconfont icon-xingye"></i>
            <div class="ft12">按行业分</div>
        </div>
        <div data-type="3" onclick="grids(this)" class="text_center">
            <i class="iconfont icon-reqiqiu-"></i>
            <div class="ft12">按节日分</div>
        </div>
        <div data-type="4" onclick="grids(this)" class="text_center">
            <i class="iconfont icon-bianji"></i>
            <div class="ft12">按品牌分</div>
        </div>
    </div>
    <div class="grids2 flex flex_wrap">
        <!--<div onclick="grids2(this)" class="active">季节</div>-->
    </div>
    <div class="divheight" style="background-color: #f3f3f3;height: 70px"></div>
    <div class="weui-cells list">

        <!--<div class="weui-cell">-->
            <!--<div class="weui-cell__hd"><img src="{YOUMI_URL_APP}img/acticity_img.jpg"></div>-->
            <!--<div class="weui-cell__bd">-->
                <!--<p>标题文字</p>-->
                <!--<p>标题文字</p>-->
                <!--<div class="btns flex">-->
                    <!--<a href="" class="a_btn">-->
                        <!--<i class="iconfont icon-tianqi_icon"></i>-->
                        <!--<text>查看示例</text>-->
                    <!--</a>-->
                    <!--<a href="" class="a_btn">-->
                        <!--<i class="iconfont icon-tianqi_icon"></i>-->
                        <!--<text>我要制作</text>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <!--商户须知-->
    <div class="explain">
        <h4>商户须知</h4>
        <div style="margin: 4%">
            {$setting['notice']}
        </div>
        <div class="text_center" style="margin: 8%"><a onclick="goPage()" href="javascript:;" class="a_btn">我知道了</a></div>
    </div>


    {template 'temp/footerbar'}
</div>

<script>

    var case0={php echo json_encode($case)};//精选案例
    var cate1={php echo json_encode($cate1)};//分类
    var cate2={php echo json_encode($cate2)};
    var cate3={php echo json_encode($cate3)};
    var cate4={php echo json_encode($cate4)};


    ajaxList(0)//加载精选案例

    function grids(self) {
        if($(self).hasClass('active')){
            if($(self).attr('data-type')!='0'){
                $('.grids2').slideToggle(400, function () {
                    animatList()
                });
            }
        }else {
            $('.grids>div').removeClass('active')
            $(self).addClass('active')
            switch ($(self).attr('data-type')) {
                case '0':
                    ajaxCate(case0 || [], 0);
                    break;
                case '1':
                    ajaxCate(cate1 || [], 1);
                    break;
                case '2':
                    ajaxCate(cate2 || [], 2);
                    break;
                case '3':
                    ajaxCate(cate3 || [], 3);
                    break;
                case '4':
                    ajaxCate(cate4 || [], 4);
                    break;
            }
        }
    }

    function grids2(self,type,cate_id) {
        if($(self).hasClass('active')){return false;}
        $('.grids2 div').removeClass('active')
        $(self).addClass('active')
        ajaxList(type,cate_id)
    }


    //计算弹性DIV高度
    function animatList() {
        var grids2Height=$('.grids2')[0].offsetHeight||1;
        if(grids2Height>0){
            $('.divheight').css('height',70+grids2Height+'px')
        }
    }
    // 加载二级分类
    function ajaxCate(arr,type) {

        if (arr.length <= 0) {
            $('.grids2,.list').html();
        } else {
            if(type==0){//精选二级分类一直隐藏
                $('.grids2').slideUp(400, function () {
                    animatList()
                })
            }else {
                var html = '';
                for (var key in arr) {
                    if (key == 0) {
                        html += `<div onclick="grids2(this,'${type}','${arr[key].id}')" class="active">${arr[key].title}</div>`
                    } else {
                        html += `<div onclick="grids2(this,'${type}','${arr[key].id}')">${arr[key].title}</div>`
                    }
                }
                $('.grids2').html(html).slideDown(400, function () {
                    animatList()
                })
            }
            ajaxList(type, arr[0].id)
        }

    }
    // 加载列表数据
    function ajaxList(type,cate_id) {
        if(type==0){
            listHtml(case0)
        }else {
            $.post(
                "{php echo $this->createMobileUrl('activitys',['op'=>'case_list'])}",
                {
                    'type': type,
                    'cate_id': cate_id
                },
                function (data) {
                    console.log(data)
                    if (data.data.length > 0) {
                        listHtml(data.data)
                    } else {
                        $('.list').html('')
                        $.toast("暂无数据", "text");
                    }
                }, 'json'
            )
        }
    }
    //我要制作按钮
    function openExplain(id,module) {
        $('.explain').show(400).attr('data-id',id).attr('data-module',module)
    }
    // 我知道了按钮，跳转
    function goPage() {
        var id=$('.explain').attr('data-id')
        var module=$('.explain').attr('data-module')
        location.href="{php echo $this->createMobileUrl('making')}&case_id="+id+'&module='+module
    }
    function listHtml(arr){
        var html='';
        for (var key in arr){
            html+=`<div class="weui-cell">
                <div class="weui-cell__hd"><img src="${arr[key].logo}"></div>
                <div class="weui-cell__bd">
                    <p>${arr[key].title}</p>
                    <p class="ft12" style="color: #B0B0B0">${arr[key].desc}</p>
                    <div class="btns flex">
                        <a href="${arr[key].link}" class="a_btn">
                            <i class="iconfont icon-chakan"></i>
                            <text>查看示例</text>
                        </a>
                        <div onclick="openExplain('${arr[key].id}','${arr[key].module}')" class="a_btn">
                            <i class="iconfont icon-tianjia"></i>
                            <text>我要制作</text>
                        </div>
                    </div>
                </div>
            </div>`
        }
        $('.list').html(html)
    }




    console.log(case0)
    console.log(cate1)
    console.log(cate2)
    console.log(cate3)
    console.log(cate4)
</script>

{template 'footer'}