{template 'header'}
<style>
    body{
        background: #f3f3f3;
    }
    .list{
        margin-top: 10px;
    }
    .detail{
        background: #fff;
        margin: 3% 0;
        padding: 2%;
        display: block;
    }
    .a_navbar{
        background: #fff;
        margin: 0;
        padding: 0;
        margin-top: 10px;
    }
    .a_navbar a{
        display: inline-block;
        width: 49%;
        text-align: center;
        padding: 2% 0;
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        color: #000;
    }
    .a_navbar a.active{
        border-bottom: 2px solid #F8A40D;
        color: #F8A40D;
    }
    .icon-jiantouyou{
        color: #aaa;
        margin-left: 5%;
    }
    .d_top h5{
        color: #555;
    }
    .weui-cell_select{
        background: #fff;
    }
    .weui-cell_select .weui-select{
        padding: 0;
    }
    .d_title>div{
        width: 25%;
        text-align: center;
        color: #777;
        margin-bottom: 10px;
    }
    .d_content>div{
        width: 25%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        overflow: hidden;
        word-break: break-word;
    }
    .dc_btns{
        text-align: center;
    }
    .dc_btns a{
        padding: 2px 10px;
        background: #F8A40D;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
    }
    .daochu input{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }
    .daochu button{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
</style>
{if empty($list)}
<div style="padding: 22% 0 30% 0;text-align: center;">
    <i class="iconfont icon-kong" style="font-size: 6rem;display: block;margin: 0 auto;"></i>
    <div style="font-size: 20px">暂无数据~</div>
</div>
{else}

<div class="daochu flex" style="margin: 10px;">
    <input class="email" type="email" placeholder="请输入邮箱地址">
    <button class="download">导出名单</button>
</div>
<div class="list">
    <div class="detail">
        <div class="d_title flex">
            <div>用户</div>
            <div>报名信息</div>
            <div>状态</div>
            <div>报名时间</div>
            {if $activity['audit']==2}
            <div>操作</div>
            {/if}
        </div>
        {loop $list $lidx $lv}
        <div style="height: 2px;background: #f3f3f3;margin-bottom: 4px"></div>
        <div class="d_content flex flex_a_center">
            <div>{$lv['realname']} <br>{$lv['mobile']}</div>
            {if $_GPC['module']=='umiacp_vote'}
            <div><img onclick="preview(this)" style="width: 100%" src="{$lv['vote_imgs'][0]}" alt=""></div>
            {else}
            <div>{$lv['userinfo']}</div>
            {/if}
            <div>{$lv['statusname']}</div>
            <div>{php echo date('Y-m-d H:i',$lv['createtime'])}</div>
            {if $activity['audit']==2}
            <div class="dc_btns">
                {if $lv['status']==1}
                <a href="javascript:;" onclick="audit(2,{$lv['id']})">通过</a>
                <br>
                <a href="javascript:;" onclick="audit(3,{$lv['id']})" style="background: #555;margin-top: 5px">拒绝</a>
                {/if}
            </div>
            {/if}
        </div>
        {/loop}
    </div>
</div>

{/if}
{template 'temp/icon_backhome'}
<script>
    function audit(num,id){
        if(num==3) {
            var r = confirm('确认拒绝通过吗?');
            if (r == true) {
                $.post(
                    "{php echo $this->createMobileUrl('cuts',['op'=>'audit'])}",
                    {
                        'module':"{$_GPC['module']}",
                        'id':id,
                        'status':num
                    },
                    function (data) {
                        tips(data.message);
                        if(data.errno==0){
                            setTimeout(function () {
                                location.reload()
                            },1500)
                        }
                    },'json'
                )
            }
        }else{
            $.post(
                "{php echo $this->createMobileUrl('cuts',['op'=>'audit'])}",
                {
                    'module':"{$_GPC['module']}",
                    'id':id,
                    'status':num
                },
                function (data) {
                    tips(data.message);
                    if(data.errno==0){
                        setTimeout(function () {
                            location.reload()
                        },1500)
                    }
                },'json'
            )
        }
    }

    function preview(self){
        var urls=[];
        urls.push($(self).attr('src'));
        wx.previewImage({
            current: $(self).attr('src'), // 当前显示图片的http链接
            urls: urls // 需要预览的图片http链接列表
        });
    }

    $('.download').click(function () {
        var email=$('.email').val();
        if(!email){
            tips('请填写邮箱地址')
        }
        tips('发送中,请等待...');
        $.post(
            "{php echo $this->createMobileUrl('cuts',['op'=>'download','activity_id'=>$_GPC['activity_id'],'module'=>$_GPC['module']])}",
            {
                'email':email,
                'module':"{$_GPC['module']}"
            },
            function (data) {
                tips(data.message);
            },'json'
        )
    })

    console.log('$list',{php echo json_encode($list)})
    console.log('$activity',{php echo json_encode($activity)})
    console.log('$uniacid',{php echo json_encode($uniacid)})
</script>
{template 'footer'}