{template 'header'}

<style>
    .head_top {
        padding: 10% 5%;
        font-size: 20px;
        text-align: center;
        background: #B0B0B0;
        position: relative;
    }

    .head_top img {
        width: 25%;
        border-radius: 50%;
        position: relative;
        z-index: 5;
    }

    .head_top div {
        font-size: 18px;
        position: relative;
        z-index: 5;
    }

    input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
        margin-bottom: 0;
        border: 1px solid transparent;
    }

    .weui-cells {
        margin-top: 0;
    }

    .tj_btn {
        margin: 5%;
        font-size: 16px;
    }

    .weui-label {
        color: #777;
        width: 80px;
    }

    .iconfont {
        color: #F8A40D;
    }

    .weui-btn_plain-default {
        color: #F8A40D;
        border: 1px solid #F8A40D;;
    }

    .container-fill {
        overflow: hidden;
    }

    .select_codeimg, .qrcode, .icon-tupiantianjia {
        position: absolute;
        right: 15px;
        top: 5px;
        width: 50px;
        height: 50px;
        z-index: 5;
    }

    .select_codeimg {
        opacity: 0;
    }

    .qrcode {
        z-index: 2;
        right: 65px;
    }

    .icon-tupiantianjia {
        z-index: 3;
        font-size: 35px;
        color: #555;
    }
    .weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before{
        color: #F8A40D;
    }
    .explain{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 20;
        height: 93%;
        display: none;
        overflow-y: auto;
    }
    .explain>h4{
        text-align: center;
        margin: 4%;
        color: #F8A40D;
    }
    .explain .a_btn{
        font-size: 16px;
        padding: 2% 10%;
        position: fixed;
        bottom: 5px;
        width: 50%;
        left: 25%;

    }
</style>
<!--头像背景方块冒泡样式-->
<style>
    .bg-bubbles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .bg-bubbles li {
        position: absolute;
        bottom: -160px;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.15);
        list-style: none;
        animation: square 10s infinite;
        transition-timing-function: linear;
    }

    .bg-bubbles li:nth-child(1) {
        left: 10%;
    }

    .bg-bubbles li:nth-child(2) {
        left: 20%;
        width: 90px;
        height: 90px;
        animation-delay: 2s;
        animation-duration: 35s;
    }

    .bg-bubbles li:nth-child(3) {
        left: 25%;
        animation-delay: 4s;
    }

    .bg-bubbles li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-duration: 30s;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .bg-bubbles li:nth-child(5) {
        left: 70%;
    }

    .bg-bubbles li:nth-child(6) {
        left: 80%;
        width: 120px;
        height: 120px;
        animation-delay: 3s;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .bg-bubbles li:nth-child(7) {
        left: 32%;
        width: 160px;
        height: 160px;
        animation-delay: 2s;
    }

    .bg-bubbles li:nth-child(8) {
        left: 55%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
        animation-duration: 45s;
    }

    .bg-bubbles li:nth-child(9) {
        left: 25%;
        width: 10px;
        height: 10px;
        animation-delay: 2s;
        animation-duration: 22s;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .bg-bubbles li:nth-child(10) {
        left: 85%;
        width: 160px;
        height: 160px;
        animation-delay: 5s;
    }


    @keyframes square {
        0% {
            opacity: 0.5;
            transform: translateY(0px) rotate(45deg);
        }
        50% {
            opacity: 0.75;
            transform: translateY(-400px) rotate(90deg)
        }
        100% {
            opacity: 0;
            transform: translateY(-1000px) rotate(180deg);
        }
    }
</style>
<div>
    <div class="head_top">
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <img src="{$_W['fans']['avatar']}" alt="">
        <div>{$_W['fans']['nickname']}</div>
    </div>


    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <i class="iconfont icon-jigou"></i>
                    机构名称
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input title" type="text" placeholder="请输入机构名称" value="{$shop['title']}">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <i class="iconfont icon-tubiao-qiapian"></i>
                    真实姓名
                </label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input realname" type="text" placeholder="请输入真实姓名" value="{$shop['realname']}">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <i class="iconfont icon-mobile"></i>
                    手机号码
                </label>
            </div>
            <div class="weui-cell__bd">
                <input id="mobile" class="weui-input mobile" type="tel" maxlength="11" placeholder="请输入手机号码"
                       value="{$shop['mobile']}">
            </div>
        </div>

        {if !$shop['id']&&$setting['sign_code']==1}
        <div class="weui-cell">
            <div class="weui-cell__bd flex">
                <input id="mobile_code" class="weui-input" type="tel" maxlength="6" placeholder="请输入验证码">
                <button onclick="time(this)">获取验证码</button>
            </div>
        </div>
        {/if}
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <i class="iconfont icon-xingye"></i>
                    所在行业
                </label>
            </div>
            <div class="weui-cell__bd">
                <select class="industry" id="">
                    <option value="0">请选择所在行业</option>
                    {loop $industry $iv}
                    <option value="{$iv['id']}" {if $shop['industry_id']==$iv['id']}selected{/if}>{$iv['title']}</option>
                    {/loop}
                </select>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <i class="iconfont icon-weizhi"></i>
                    所在城市
                </label>
            </div>
            <div class="weui-cell__bd">
                <input type="text" id='city-picker' placeholder="请选择所在城市"
                       value="{if $shop['province']}{$shop['province']} {$shop['city']} {$shop['district']}{/if}"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <i class="iconfont icon-weizhi"></i>
                    详细地址
                </label>
            </div>
            <div class="weui-cell__bd">
                <input type="text" class="address" placeholder="请填写详细地址" value="{$shop['address']}"/>
            </div>
        </div>
        <div class="weui-cell p_relative" style="height: 60px">
            <div class="weui-cell__hd">
                <label class="weui-label">
                    <i class="iconfont icon-code"></i>
                    二维码
                </label>
            </div>
            <div class="weui-cell__bd">
                <i class="iconfont icon-tupiantianjia"></i>
                <input class="select_codeimg" type="file" accept="image/*" onchange="selectCodeimg(this)">
                <img onclick="preview(this)" class="qrcode" src="{php echo tomedia($shop['qrcode'])}" alt="">
            </div>
        </div>
        <div class="weui-cells weui-cells_checkbox flex flex_a_center">
            <label class="weui-cell weui-check__label" for="s11" style="padding-right: 0;">
                <div class="weui-cell__hd">
                    <input type="checkbox" class="weui-check" name="checkbox1" id="s11" {if $shop['id']}checked="checked"{/if}>
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>阅读并接受</p>
                </div>
            </label>
            <div style="color: #F8A40D;" onclick="$('.explain,.bg_fixed').fadeIn()">《注册协议》</div>
        </div>
    </div>
    {if $shop['id']&&$setting['user_change']==2}
    <div style="text-align: center;margin-top: 20px;color: #F8A40D;">如需修改，请联系客服~</div>
    {else}
    <a href="javascript:;" class="weui-btn weui-btn_plain-default tj_btn">保存</a>
    {/if}
    <div style="height: 40px"></div>

    <!--注册协议-->
    <div class="explain">
        <h4>注册协议</h4>
        <div style="margin: 4%">
            {php echo htmlspecialchars_decode($setting['notice2'])}
        </div>
        <div class="text_center" style="margin: 8%"><a onclick="noticeChecked()" href="javascript:;" class="a_btn">阅读并接受</a></div>
    </div>
</div>


<script>
    var sys_code;
    var wait = 60;

    function time(obj) {
        var mobile = $('.mobile').val()
        if (mobile == '') {
            tips('请输入手机号')
            return false;
        }
        var myreg = /^(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(16[0-9]{1})|(17[0-9]{1})|(18[0-9]{1})|(19[0-9]{1}))+\d{8})$/;
        if (!myreg.test(mobile)) {
            tips('请输入有效的手机号码');
            return false;
        }
        if (wait == 60) {
            $.post(
                "{php echo $this->createMobileUrl('login',['op'=>'mobile_code'])}",
                {
                    'mobile': mobile,
                },
                function (data) {
                    console.log(data);
                    tips(data.message)
                    if (data.errno == 0) {
                        sys_code = data.data;
                    }
                }, 'json'
            )
        }
        if (wait == 0) {
            obj.removeAttribute("disabled");
            obj.innerHTML = "获取验证码";
            wait = 60;
        } else {
            obj.setAttribute("disabled", true);
            obj.innerHTML = wait + "秒后重新发送";
            wait--;
            setTimeout(function () {
                    time(obj)
                },
                1000)
        }
    }


    $("#city-picker").cityPicker({
        title: "请选择所在城市"
    });

    $('.tj_btn').click(function () {
        for (var key in $('input.weui-input')) {
            if ($('input.weui-input')[key].value == '') {
                $.toast($($('input.weui-input')[key]).attr('placeholder'), 'cancel');
                return false;
            }
        }
        var realname = $('.realname').val();
        if (realname == '') {
            $.toast("请填写真实姓名", 'cancel');
            return false;
        }
        var mobile = $('.mobile').val();
        if (!(/^1(3|4|5|7|8)\d{9}$/.test(mobile))) {
            $.toast("手机号码有误", 'cancel');
            return false;
        }
        var industry_id = $('.industry option:selected').val();
        if (industry_id == 0) {
            $.toast("请选择所在行业", 'cancel');
            return false;
        }
        var address = $('#city-picker').val();
        if (address == '') {
            $.toast("请选择所在城市", 'cancel');
            return false;
        }
        var address2 = $('.address').val();
        if (address2 == '') {
            $.toast("请填写详细地址", 'cancel');
            return false;
        }
        var qrcode = $('.qrcode').attr('src');
        if (qrcode == '') {
            tips("请上传一个二维码，以便创建活动的时候用户能联系到您");
            return false;
        }
        var mb = $('#mobile_code').val()||0;
        {if !$shop['id']&&$setting['sign_code']==1}
        if (mb == '') {
            $.toast("请输入验证码", 'cancel');
            return false;
        }
        {/if}
        if(!$('#s11')[0].checked){
            $.toast("您未同意注册协议", 'cancel');
            return false;
        }

        $.post(
            "{php echo $this->createMobileUrl('login',['op'=>'register'])}",
            {
                'title': $('.title').val(),
                'mobile': $('.mobile').val(),
                'industry_id': industry_id,
                'industry': $('.industry option:selected').html(),
                'province': address.split(' ')[0],
                'city': address.split(' ')[1],
                'district': address.split(' ')[2],
                'realname': realname,
                'address': address2,
                'qrcode': qrcode,
                'mobile_code': mb,
            },
            function (data) {
                $.toast(data.message, 'text');
                if (data.errno == 0) {
                    setTimeout(function () {
                        location.href = "{php echo $this->createMobileUrl('user')}";
                    }, 1000)
                }
            }, 'json'
        )
    })

    function selectCodeimg(self) {
        var reader = new FileReader();
        var arr = $(self).val().split('\\');
        arr = arr[arr.length - 1].split('/');
        var my = arr[arr.length - 1];//这就是要取得的图片名称
        reader.onload = function (e) {
            $.post(
                "{php echo $this->createMobileUrl('upload',['op'=>'image'])}",
                {
                    'file': reader.result,
                    'name': my,
                    'size': e.total
                },
                function (data) {
                    if (data.errno === 0) {
                        $(self).next().attr('src', data.message)
                    } else {
                        tips("图片上传失败:" + data.message);
                    }

                }, 'json'
            )
        }
        reader.readAsDataURL(self.files[0])
    }

    function preview(self) {
        var urls = [];
        urls.push($(self).attr('src'));
        wx.previewImage({
            current: $(self).attr('src'), // 当前显示图片的http链接
            urls: urls // 需要预览的图片http链接列表
        });
    }

    function noticeChecked(){
        $('.explain,.bg_fixed').fadeOut();
        if(!$('#s11')[0].checked){
            $('#s11').click()
        }
    }

    console.log({php echo json_encode($shop)})
</script>
{template 'footer'}
