# Created by .ignore support plugin (hsz.mobi)
*.png
*.jpg
*.jpeg
.idea
*.log
**/dist
**/node_modules
*.zip
*.mp3
**/resource
**/layui
**/img*
**/font
**/js
**/lib
/data
framework
/web
/test.php
/addons/umi_worldtravels
/addons/dayu_form
/addons/umi_kouling2
/addons/umi_activitys/cert
