<style>
    .ce_miaoshu{
        margin-top: 25px;
    }
    .cem_title{
        text-align: center;
        margin-bottom: 5%;
    }
    .cem_title>img{
        width: 60%;
        height: 40px;
    }
    .cem_title>span{
        position: absolute;
        bottom: -14px;
        right: 0;
        width: 100%;
    }
    .cem_title input{
        /*border: 1px solid transparent;*/
        width: 38%;
        top: 10%;
        left: 29%;
        position: absolute;
        z-index: 5;
    }
    .cem_content{
        background: #fff;
        border-radius: 5px;
        padding: 2%;
    }
    .csms_contents{
        width: 100%;
    }
</style>
<div class="ce_miaoshu">
    <div class="cem_title p_relative">
        {if $_GPC['module']=='umiacp_bargainsimple'}
        <img src="{YOUMI_URL_APP}img_template/bargainsimple/shuoming.png" alt="">
        {elseif $_GPC['module']=='umiacp_bargainsimple2'}
        <img src="{YOUMI_URL_APP}img_template/bargainsimple2/shuoming.png" alt="">
        {elseif $_GPC['module']=='umiacp_groupprepay2'}
        <img src="{YOUMI_URL_APP}img_template/groupprepay2/shuoming.png" alt="">
        {else}
        <img class="titlebgimg" src="{if $activity['titlebgimg']}{$activity['titlebgimg']}{else}{YOUMI_URL_APP}img/m_titlebg2.png{/if}" alt="">
        <input type="text" class="d_desc_title" value="{if $activity['desc_title']}{$activity['desc_title']}{else}活动描述{/if}" />
        <span class="ft10 color777">小标题最多6个字</span>
        {/if}
    </div>
    <div class="cem_content">
        <!--<textarea placeholder="（800字以内）" maxlength="800" class="text_left d_desc_val">{$activity['desc_val']}</textarea>-->
        <!--<div class="csms_contents">-->
            <!--&lt;!&ndash;描述图片&ndash;&gt;-->
            <!--{if $activity['desc_imgs']}-->
            <!--{loop $activity['desc_imgs'] $adidx $adv}-->
            <!--<div class="csms_content flex flex_a_center p_relative">-->
                <!--<div class="s_goodimg p_relative">-->
                    <!--<input class="select_good2img" type="file" onchange="selectGoodimg(this)">-->
                    <!--<div>-->
                        <!--<i class="iconfont icon-webicon308" style="font-size: 35px"></i>-->
                        <!--<div class="color777 ft16" style="margin-top: -10px;">点击选择图片</div>-->
                    <!--</div>-->
                    <!--<img class="good_logo d_desc_img" src="{$adv}" alt="">-->
                <!--</div>-->
                <!--<div class="csmcc_btns flex flex_a_center">-->
                    <!--<div class="csmccb_down flex flex_a_center" {if ($adidx==count($activity['desc_imgs'])&&$adidx>0)||count($activity['desc_imgs'])}style="display: none"{/if}>-->
                        <!--<i class="iconfont icon-shangchuanxiangshangjiantou"></i>-->
                        <!--<span class="word-break" onclick="downMiaoshu(this)">向下</span>-->
                    <!--</div>-->
                    <!--<div class="csmccb_up flex flex_a_center" {if $adidx==0}style="display: none"{/if}>-->
                    <!--<i class="iconfont icon-xsaaa"></i>-->
                    <!--<span class="word-break" onclick="upMiaoshu(this)">向上</span>-->
                    <!--</div>-->
                    <!--<div class="flex flex_a_center" onclick="delMiaoshu(this)">-->
                        <!--<i class="iconfont icon-bianji1"></i>-->
                        <!--<span class="word-break">删除</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--{/loop}-->
            <!--{/if}-->
        <!--</div>-->
        <!--<div class="cemc_btns s_goodimg p_relative">-->
            <!--<div>-->
                <!--<i class="iconfont icon-tupiantianjia" style="font-size: 35px"></i>-->
                <!--<div class="color777 ft16" style="margin-top: -10px;">添加图片</div>-->
                <!--<div class="color777 ft10">(最多添加十张)</div>-->
            <!--</div>-->
        <!--</div>-->
        <div id="contentEditor_miaoshu">{php echo htmlspecialchars_decode($activity['desc_val'])}</div>
    </div>
    <img class="iconPig" src="{YOUMI_URL_APP}img/pig.png" alt="">
</div>
<script>
    //添加图片（活动描述）
    $('.cemc_btns').click(function () {
        var sumnum=$('.csms_contents .csms_content').length
        if(sumnum<10){
            var html=`{template 'temp/goods_miaoshu'}`;
            $('.csms_contents').append(html)
            sortMiaoshu(sumnum)
        }
    })

    // 活动描述重新排序
    function sortMiaoshu(sumnum) {
        for(var i=0;i<=sumnum;i++){
            if((sumnum==i)&&i>0){
                $($('.csms_contents .csms_content')[i]).find('.csmccb_down').hide()
                $($('.csms_contents .csms_content')[i]).find('.csmccb_up').show()
            }else {
                if (i == 0) {
                    $($('.csms_contents .csms_content')[0]).find('.csmccb_up').hide()
                    $($('.csms_contents .csms_content')[0]).find('.csmccb_down').show()
                } else if (i == 1 || i == 2) {
                    $($('.csms_contents .csms_content')[i]).find('div').show()
                }
            }
        }
    }
</script>
<script>
    var contentEditor_miaoshu = new Eleditor({
        el: '#contentEditor_miaoshu',
        upload:{
            server: "{php echo $this->createMobileUrl('upload',['op'=>'form_image'])}",
            formData: {
                // 'token':123456789,
                // 'file':reader.result,
                // 'name':my,
                // 'size':e.total,
                'module':"{$_GPC['module']}",
                'activity_id':"{$activity_id}",
            },
            accept: {//accept一般不用设置
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png,webp',
                mimeTypes: 'image/*'
            },
            compress: false,
            fileSizeLimit: 2
        },
        /*自定义按钮的例子*/
        toolbars: [
            'insertText',
            'editText',
            'insertImage',
            'insertLink',
            'insertHr',
            'delete',
            'undo',
            'cancel'
        ]
        //placeHolder: 'placeHolder设置占位符'
    });
</script>