<div class="ce_common">
    <div class="ceg_title p_relative">
        {if $_GPC['module']=='umiacp_bargainsimple'}
        <img src="{YOUMI_URL_APP}img_template/bargainsimple/jiehsao.png" alt="">
        {else}
        <img class="titlebgimg" src="{if $activity['titlebgimg']}{$activity['titlebgimg']}{else}{YOUMI_URL_APP}img/m_titlebg2.png{/if}" alt="">
        <input type="text" class="d_shop_title" value="{if $activity['shop_title']}{$activity['shop_title']}{else}商家介绍{/if}">
        <span class="ft10 color777">小标题最多6个字</span>
        {/if}
    </div>
    <div class="ces_content">
        <!--<textarea placeholder="（500字以内）" maxlength="500" class="text_left d_shop_val">{$activity['shop_val']}</textarea>-->
        <!--<div class="cess_contents">-->
            <!--{if $activity['shop_imgs']}-->
            <!--{loop $activity['shop_imgs'] $asidx $asv}-->
            <!--<div class="cess_content flex flex_a_center p_relative">-->
                <!--<div class="s_goodimg p_relative" style="margin: 0">-->
                    <!--<input class="select_good2img" type="file" onchange="selectGoodimg(this)">-->
                    <!--<div>-->
                        <!--<i class="iconfont icon-tupiantianjia" style="font-size: 35px"></i>-->
                        <!--<div class="color777 ft16" style="margin-top: -10px;">点击选择图片</div>-->
                    <!--</div>-->
                    <!--<img class="good_logo d_shop_img" src="{$asv}" alt="">-->
                <!--</div>-->
                <!--<div class="common_btns flex flex_a_center">-->
                    <!--<div class="cssccb_down flex flex_a_center" {if ($asidx==count($activity['desc_imgs'])&&$asidx>0)||count($activity['desc_imgs'])==1}style="display: none"{/if}>-->
                        <!--<i class="iconfont icon-shangchuanxiangshangjiantou"></i>-->
                        <!--<span class="word-break" onclick="downShangjia(this)">向下</span>-->
                    <!--</div>-->
                    <!--<div class="cssccb_up flex flex_a_center" {if $asidx==0}style="display: none"{/if}>-->
                    <!--<i class="iconfont icon-xsaaa"></i>-->
                    <!--<span class="word-break" onclick="upShangjia(this)">向上</span>-->
                <!--</div>-->
                <!--<div class="flex flex_a_center" onclick="delShangjia(this)">-->
                    <!--<i class="iconfont icon-bianji1"></i>-->
                    <!--<span class="word-break">删除</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--{/loop}-->
        <!--{/if}-->
    <!--</div>-->
    <!--<div class="ces_btns flex flex_j_around border_sysdashed">-->
        <!--&lt;!&ndash;<div class="sj_addTxt text_center">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="iconfont icon-tianjia"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="ft16 color555">添加文本</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="sj_addImg text_center">-->
            <!--<i class="iconfont icon-tupiantianjia"></i>-->
            <!--<div class="ft16 color555">添加图片</div>-->
            <!--<div class="ft10 color777">最多添加10张</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="sj_addVideo text_center">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="iconfont icon-tianjiashipin-m"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="ft16 color555">添加视频</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
        <div id="contentEditor_shop">{php echo htmlspecialchars_decode($activity['shop_val'])}</div>
    </div>
<img class="iconPig" src="{YOUMI_URL_APP}img/pig.png" alt="">
</div>
<script>
    //商家介绍
    //添加文本
    $('.sj_addTxt').click(function () {
        var html=`{template 'temp/goods_sj_txt'}`;
        $('.cess_contents').append(html)
        sortShangjia($('.cess_contents .cess_content').length)
    })
    //添加图片
    $('.sj_addImg').click(function () {
        if($('.cess_contents img').length<10) {
            var html = `{template 'temp/goods_sj_img'}`;
            $('.cess_contents').append(html)
            sortShangjia($('.cess_contents .cess_content').length)
        }
    })
    //添加视频地址
    $('.sj_addVideo').click(function () {
        var html=`{template 'temp/goods_sj_video'}`;
        $('.cess_contents').append(html)
        sortShangjia($('.cess_contents .cess_content').length)
    })

    // 商家介绍重新排序
    function sortShangjia(sumnum) {
        for(var i=0;i<=sumnum;i++){
            if((sumnum==i)&&i>0){
                $($('.cess_contents .cess_content')[i-1]).find('.cssccb_down').hide()
                $($('.cess_contents .cess_content')[i-1]).find('.cssccb_up').show()
            }else {
                if (i == 0) {
                    $($('.cess_contents .cess_content')[0]).find('.cssccb_up').hide()
                    $($('.cess_contents .cess_content')[0]).find('.cssccb_down').show()
                } else{
                    $($('.cess_contents .cess_content')[i]).find('div').show()
                }
            }
        }
    }
    //删除区块(商家介绍)
    function delShangjia(self){
        $(self).parents('.cess_content').remove()
    }
    //上移区块(商家介绍)
    function upShangjia(self){
        var nowHtml='<div class="cess_content flex flex_a_center p_relative">'+$(self).parents('.cess_content').html()+'</div>'
        $(self).parents('.cess_content').prev().before(nowHtml)
        if($(self).parents('.cess_content').find('textarea')){
            var value=$(self).parents('.cess_content').find('textarea').val()
            $(self).parents('.cess_content').prev().prev().find('textarea').val(value)
        }
        $(self).parents('.cess_content').remove()
        sortShangjia($('.cess_contents .cess_content').length)
    }
    //下移区块(商家介绍)
    function downShangjia(self){
        var nowHtml='<div class="cess_content flex flex_a_center p_relative">'+$(self).parents('.cess_content').html()+'</div>'
        console.log($(self).parents('.cess_content').next());
        if($(self).parents('.cess_contents').find('.cess_content').length>1) {
            $(self).parents('.cess_content').next().after(nowHtml)
            if ($(self).parents('.cess_content').find('textarea')) {
                var value = $(self).parents('.cess_content').find('textarea').val()
                $(self).parents('.cess_content').next().next().find('textarea').val(value)
            }
            $(self).parents('.cess_content').remove()
            sortShangjia($('.cess_contents .cess_content').length)
        }
    }
</script>
<script>
    var contentEditor_shop = new Eleditor({
        el: '#contentEditor_shop',
        upload:{
            server: "{php echo $this->createMobileUrl('upload',['op'=>'form_image'])}",
            formData: {
                // 'token':123456789,
                // 'file':reader.result,
                // 'name':my,
                // 'size':e.total,
                'module':"{$_GPC['module']}",
                'activity_id':"{$activity_id}",
            },
            accept: {//accept一般不用设置
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png,webp',
                mimeTypes: 'image/*'
            },
            compress: false,
            fileSizeLimit: 2
        },
        /*自定义按钮的例子*/
        toolbars: [
            'insertText',
            'editText',
            'insertImage',
            'insertLink',
            'insertHr',
            'delete',
            'undo',
            'cancel'
        ]
        //placeHolder: 'placeHolder设置占位符'
    });
</script>