<style>
    .d_share_desc{
        margin: 0 6%;
        margin-top: 20px;
    }
    .d_share_img{
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<div class="ce_common p_relative ce_share">
    <div class="ceg_title p_relative">
        {if $_GPC['module']=='umiacp_bargainsimple'}
        <div class="title_txtshadow">分享设置</div>
        {else}
        <img class="titlebgimg" src="{if $activity['titlebgimg']}{$activity['titlebgimg']}{else}{YOUMI_URL_APP}img/m_titlebg2.png{/if}" alt="">
        <input class="border_transparent" type="text" value="分享设置" readonly>
        {/if}
    </div>

    <div class="s_price flex flex_wrap flex_j_between flex_a_center cel_content">
        <div class="p_price flex1">
            <div class="s_detail">
                <div class="flex flex_a_center">
                    <span class="word-break"><i class="iconfont icon-essential"></i>标题</span>
                    <input type="text" class="d_share_title" value="{$activity['share_title']}"/>
                </div>
            </div>
            <div class="s_detail">
                <div class="flex flex_a_center">
                    <span class="word-break"><i class="iconfont icon-essential"></i>描述</span>
                    <textarea class="d_share_desc">{$activity['share_desc']}</textarea>
                </div>
            </div>
        </div>
        <div class="p_gimg p_relative flex_a_center">
            <input class="select_goodimg" type="file" accept="image/*" onchange="selectGoodimg(this)" style="position: absolute">
            <div>
                <i class="iconfont icon-tupiantianjia" style="font-size: 30px"></i>
                <div class="color777 ft14">添加图片</div>
                <div class="color777 ft10">(只能添加一张)</div>
            </div>
            <img class="d_share_img" src="{$activity['share_img']}" alt="">
        </div>
    </div>
</div>