<div class="cess_content flex flex_a_center p_relative">
    <textarea class="text_left" placeholder="请添加文本 "></textarea>
    <div class="common_btns flex flex_a_center">
        <div class="cssccb_down flex flex_a_center" style="display: none">
            <i class="iconfont icon-shangchuanxiangshangjiantou"></i>
            <span class="word-break" onclick="downShangjia(this)">向下</span>
        </div>
        <div class="cssccb_up flex flex_a_center" style="display: none">
            <i class="iconfont icon-xsaaa"></i>
            <span class="word-break" onclick="upShangjia(this)">向上</span>
        </div>
        <div class="flex flex_a_center" onclick="delShangjia(this)">
            <i class="iconfont icon-bianji1"></i>
            <span class="word-break">删除</span>
        </div>
    </div>
</div>