<div class="csms_content flex flex_a_center p_relative">
    <div class="s_goodimg p_relative">
        <input class="select_good2img" type="file" onchange="selectGoodimg(this)">
        <div>
            <i class="iconfont icon-webicon308" style="font-size: 35px"></i>
            <div class="color777 ft16" style="margin-top: -10px;">点击选择图片</div>
        </div>
        <img class="good_logo d_desc_img" src="" alt="">
    </div>
    <div class="csmcc_btns flex flex_a_center">
        <div class="csmccb_down flex flex_a_center" style="display: none">
            <i class="iconfont icon-shangchuanxiangshangjiantou"></i>
            <span class="word-break" onclick="downMiaoshu(this)">向下</span>
        </div>
        <div class="csmccb_up flex flex_a_center" style="display: none">
            <i class="iconfont icon-xsaaa"></i>
            <span class="word-break" onclick="upMiaoshu(this)">向上</span>
        </div>
        <div class="flex flex_a_center" onclick="delMiaoshu(this)">
            <i class="iconfont icon-bianji1"></i>
            <span class="word-break">删除</span>
        </div>
    </div>
</div>