<div class="csys_content flex flex_a_center">
    <div class="csycc_num">1</div>
    <div class="p_relative flex1">
        <textarea placeholder="优惠内容（最多50字）" maxlength="50" class="text_left d_preferential_val"></textarea>
        <div class="csycc_btns flex flex_a_center">
            <div class="csyccb_down flex flex_a_center" style="display: none">
                <i class="iconfont icon-shangchuanxiangshangjiantou"></i>
                <span class="word-break" onclick="downYouhui(this)">向下</span>
            </div>
            <div class="csyccb_up flex flex_a_center" style="display: none">
                <i class="iconfont icon-xsaaa"></i>
                <span class="word-break" onclick="upYouhui(this)">向上</span>
            </div>
            <div class="flex flex_a_center" onclick="delYouhui(this)">
                <i class="iconfont icon-bianji1"></i>
                <span class="word-break">删除</span>
            </div>
        </div>
    </div>
</div>