{template 'header'}
<title></title>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
<link rel="stylesheet" href="{MC_URL_APP}css/animate.min.css">
<script src="{MC_URL_APP}js/app4.js"></script>
<style>
*{
	margin:0;
	padding:0;
}
html,body{
	height:100%;
}
body{
	font-family:"microsoft yahei";
}
img{
	display:block;
}
@-webkit-keyframes start {
	0%,30% {opacity: 0;-webkit-transform: translate(0,10px);}
	60% {opacity: 1;-webkit-transform: translate(0,0);}
	100% {opacity: 0;-webkit-transform: translate(0,-8px);}
}
@-moz-keyframes start {
	0%,30% {opacity: 0;-moz-transform: translate(0,10px);}
	60% {opacity: 1;-moz-transform: translate(0,0);}
	100% {opacity: 0;-moz-transform: translate(0,-8px);}
}
@keyframes start {
	0%,30% {opacity: 0;transform: translate(0,10px);}
	60% {opacity: 1;transform: translate(0,0);}
	100% {opacity: 0;transform: translate(0,-8px);}
}

@keyframes tm1 {
	0% {transform: translateX(180%);}
	100% {transform: translateX(-130%);}
}
@keyframes tm2 {
	0% {transform: translateX(160%);}
	100% {transform: translateX(-130%);}
}

@-webkit-keyframes change {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
.music{
    display: none;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 999999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url(http://qiniu.longyue8.com/klhbnew2aaa.png) no-repeat;
    background-size: cover;
}
.muc{
    animation: change 1s linear 0s infinite;
    -moz-animation: change 1s linear 0s infinite;
    -webkit-animation: change 1s linear 0s infinite;
    -o-animation: change 1s linear 0s infinite;
}
    .tips{
        width: 50%;
        position: fixed;
        top: 30%;
        left: 25%;
        padding: 10px;
        background: #aaa;
        color: #fff;
        z-index: 999;
        text-align: center;
        border-radius: 10px;
        display: none;
    }
    .infinite {
        -webkit-animation-iteration-count: infinite;
    }
    .footer{
        display: none;
    }
    .step1 img,.step2>img{
        position: absolute;
        z-index: 3;
    }
    .step2{
        display: none;
    }
    .bg{
        width: 100%;
        z-index: 1!important;
        height: 100%;
    }
    .logo{
        width: 100%;
        top: 1%;
        left: 0;
    }
    .step1 .title1{
        width: 70%;
        left: 15%;
        top: 12%;
        animation-delay: 0.5s;    //动画延迟时间
    }
    .step1 .title2{
        width: 70%;
        left: 15%;
        top: 32%;
        animation-delay: 0.5s;
    }
    .step1 .title3{
        width: 70%;
        left: 15%;
        top: 44%;
        animation-delay: 1s;
    }
    .step1 .title4{
        width: 15%;
        left: 35%;
        top: 54%;
        animation-delay: 1.5s;
    }
    .step1 .s1input{
        width: 35%;
        left: 51%;
        top: 53%;
        animation-delay: 1.5s;
    }
    .step1 .feiji{
        width: 14%;
        right: 0;
        top: 51%;
        animation-delay: 1.5s;
    }
    .step1 .title5{
        width: 30%;
        left: 53%;
        top: 60%;
        animation-delay: 1.5s;
        animation-iteration-count: infinite;
    }
    .step1 .s1btn{
        width: 35%;
        left: 51%;
        top: 63%;
        animation-delay: 1.5s;
    }
    .step1 .title6{
        width: 45%;
        left: 42%;
        top: 83%;
        animation-delay: 2s;
    }
    .step1 .s1man{
        width: 52%;
        left: 5%;
        top: 62%;
        animation-delay: 2s;
    }
    .step1 .kouling{
        position: absolute;
        z-index: 5;
        width: 24%;
        left: 56%;
        top: 54%;
        border: 1px solid transparent;
        background: #fff;
        height: 26px;
        animation-delay: 1.5s;
    }
    .step1 input::-webkit-input-placeholder {
        color: #f89573;
    }

    .step2 .title1{
        width: 70%;
        left: 18%;
        top: 9%;
        animation-delay: 0.5s;    //动画延迟时间
    }
    .step2 .title2{
        width: 29%;
        left: 57%;
        top: 83%;
        animation-delay: 1.5s;    //动画延迟时间
    }
    .step2 .s2man{
        width: 34%;
        left: -3%;
        top: 82%;
        animation-delay: 2s;
        z-index: 12;
    }
    .step2 .s2btn{
        width: 30%;
        left: 64%;
        top: 89%;
        animation-delay: 2s;
    }
    .step2 .s2btn2{
        width: 31%;
        left: 31%;
        top: 89%;
        animation-delay: 2s;
    }

    .zhongj{
        position: fixed;
        z-index: 22;
        width: 90%;
        left: 5%;
        top: 3%;
        display: none;
    }
    .zhongj .close{
        position: absolute;
        right: 0;
        width: 10%;
        top: 0;
        z-index: 28;
    }
    .zhongj .title1{
        position: absolute;
        right: 0;
        width: 100%;
        top: 0;
        z-index: 25;
    }
    .zhongj .title2{
        width: 100%;
    }
    .zj_detail{
        position: absolute;
        margin-top: 28%;
        left: 7.5%;
        width: 84%;
        background: #fff;
        z-index: 20;
        padding: 5%;
        box-sizing: border-box;
        border-radius: 10px;
    }
    .zj_detail h5{
        text-align: center;
        font-size: 14px;
        margin-top: 3%;
        margin-bottom: 2%;
    }
    .zj_detail h3{
        text-align: center;
        color: #ff5138;
        font-size: 16px;
    }
    .zj_detail .tipstxt{
        margin-top: 17%;
        font-size: 10px;
        text-align: center;
        color: #777;
    }
    .zj_detail input{
        padding: 5px;
        box-sizing: border-box;
        width: 60%;
        border-radius: 5px;
        border: 1px solid #aaa;
    }
    .zhongj .title1,.zhongj .zjbtn{
        width: 100%;
    }
    .zhongj .zjbtn{
        width: 57%;
        margin: 5% auto 0 auto;
    }

    .zjjl{
        position: fixed;
        z-index: 22;
        width: 80%;
        left: 10%;
        top: 15%;
        background: #fff;
        border-radius: 20px;
        padding: 10px;
        box-sizing: border-box;
        display: none;
    }
    .zjjl>img{
        width: 100%;
    }
    .zjjl .close5{
        position: absolute;
        right: 3%;
        width: 14%;
        top: -7%;
        z-index: 28;
    }
    .zj_list{
        font-size: 12px;
        color: #777;
        margin-left: 10px;
        overflow: hidden;
        overflow-y: auto;
        height: 170px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .zj_list span{
        color: #ff5138;
    }
</style>
<style>
    table {
        border-spacing: 0;
        border-collapse: collapse;
        text-align: center;
    }

    .draw {
        width: 70%;
        left: 15%;
        margin: 0 auto;
        padding: 8% 8% 10% 8%;
        position: absolute;
        top: 38%;
        z-index: 10;
        background-image: url(http://qiniu.longyue8.com/klhbnew2s2_bg11.gif);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-sizing: border-box;
        animation-delay: 1s;
    }

    .draw .item {
        width: 31%;
        border-radius: 5px;
        background: #fff;
        border: 1px solid transparent;
    }

    .draw .item.active {
        /*border: 1px solid #000;*/
        background: #f39800;
    }

    .draw .img {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
    }

    .draw .img img {
        width: 100%;
        border-radius: 5px;
        padding: 5%;
        box-sizing: border-box;
    }

    .draw .gap {
        width: 3px;
    }

    .draw .gap-2 {
        height: 3px;
    }

    .draw .name {
        display: block;
        margin-top: 10px;
        font-size: 14px;
    }

    .draw .draw-btn {
        width: 100%;
    }
    .bg_fix,.bg_share{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        background: rgba(0,0,0,0.7);
        display: none;
    }
    .share{
        position: fixed;
        width: 25%;
        right: 0;
        z-index: 22;
        top: 0;
        display: none;
    }
    .guiz{
        position: fixed;
        width: 80%;
        left: 10%;
        z-index: 22;
        top: 12%;
        display: none;
    }
    .notice_active{
        position: absolute;
        left: 13%;
        top: 32%;
        z-index: 7;
        height: 2rem;
        /* background: #000; */
        border: 1px solid #f4d621;
        font-size: 10px;
        color: #f4d621;
        padding: 0 6px;
        border-radius: 8px;
        width: 70%;
        overflow: hidden;
        animation-delay: 1.5s;
    }
    li{
        list-style: none;
    }
    .notice_active img{
        width: 30px;
        margin-right: 2px;
        margin-top: 0;
    }
    .notice_active li div{
        display: inline-block;
    }
    .tongzhi{
        position: absolute;
        left:0 ;
        top: 0;
        width: 25px;
    }
</style>
</head>

<body>
    <div id="music" class="music muc">
        <audio id="audiojs" src="http://qiniu.longyue8.com/mango-music.mp3" autoplay loop></audio>
    </div>
    <div class="step1">
        <img class="bg" src="http://qiniu.longyue8.com/klhbnew2s1_bg.png" alt="">
        <img class="logo" src="http://qiniu.longyue8.com/klhbnew2logo.png" alt="">
        <img class="title1 animated fadeIn" src="{php echo tomedia($setting['title1'])}" alt="">
        <!--<img class="title2 animated fadeIn" src="{php echo tomedia($setting['title2'])}" alt="">-->
        <img class="title3 animated fadeIn" src="{php echo tomedia($setting['title3'])}" alt="">
        <img class="title4 animated fadeIn" src="http://qiniu.longyue8.com/klhbnew2s1_title4.png" alt="">
        <img class="s1input animated bounceIn" src="http://qiniu.longyue8.com/klhbnew2s1_input.png" alt="">
        <input class="kouling animated fadeIn" placeholder="此处输入口令" type="text">
        <img class="feiji animated shake" src="http://qiniu.longyue8.com/klhbnew2s1_feiji.png" alt="">
        <img class="title5 animated pluse" src="http://qiniu.longyue8.com/klhbnew2s1_title5.png" alt="">
        <img class="s1btn animated bounceIn" src="http://qiniu.longyue8.com/klhbnew2s1_btn.png" alt="">
        <!--<img class="title6 animated fadeIn" src="{php echo tomedia($setting['address'])}" alt="">-->
        <!--<img class="s1man animated fadeIn" src="http://qiniu.longyue8.com/klhbnew2s1_man.png" alt="">-->
    </div>
    <div class="step2">
        <div class="notice_active animated fadeIn">
            <img class="tongzhi" src="http://qiniu.longyue8.com/klhbnew2tongzhi.png" alt="">
            <ul style="margin-top: 0.2rem;padding-left: 25px">
                {loop $new_log $idx $nv}
                <li class="notice_active_ch" style="display: -webkit-flex;-webkit-align-items: center;">
                    <div style="height:2.2rem;display: flex;align-items: center;width: 100%;overflow: hidden">
                        用户“{$nv['nickname']}”{php echo date('Y-m-d H:m',$nv['createtime'])} | 抽到{$nv['title']}
                    </div>
                </li>
                {/loop}
            </ul>
        </div>

        <img class="bg" src="http://qiniu.longyue8.com/klhbnew2s2_bg11.png" alt="">
        <img class="logo" src="http://qiniu.longyue8.com/klhbnew2logo.png" alt="">
        <img class="title1 animated fadeIn" src="{php echo tomedia($setting['title4'])}" alt="">
        <img onclick="zjlist()" class="title2 animated bounceInRight" src="http://qiniu.longyue8.com/images/3/2019/01/tC1dEejCC29LRCd9Riy1deYDY2ar91.png" alt="">
        <img class="s2man animated bounceInLeft" src="http://qiniu.longyue8.com/klhbnew2s1_man.png" alt="">
        <img onclick="$('.share,.bg_share').fadeIn()" class="s2btn2 animated bounceInRight" src="http://qiniu.longyue8.com/klhbnew2s2_btn2.png" alt="">
        <img onclick="$('.guiz,.bg_fix').fadeIn()" class="s2btn animated bounceInRight" src="http://qiniu.longyue8.com/klhbnew2s2_btn1.png" alt="">
        <div class="draw animated bounceIn" id="lottery">
                <table>
                    <tr>
                        <td data-num="0" class="item lottery-unit lottery-unit-0 prize{$prizes[0]['id']}">
                            <div class="img">
                                <img src="{$prizes[0]['image']}" alt="">
                            </div>
                        </td>
                        <td class="gap"></td>
                        <td data-num="1" class="item lottery-unit lottery-unit-1 prize{$prizes[1]['id']}">
                            <div class="img">
                                <img src="{$prizes[1]['image']}" alt="">
                            </div>
                        </td>
                        <td class="gap"></td>
                        <td data-num="2" class="item lottery-unit lottery-unit-2 prize{$prizes[2]['id']}">
                            <div class="img">
                                <img src="{$prizes[2]['image']}" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="gap-2" colspan="1"></td>
                    </tr>
                    <tr>
                        <td data-num="7" class="item lottery-unit lottery-unit-7 prize{$prizes[7]['id']}">
                            <div class="img">
                                <img src="{$prizes[7]['image']}" alt="">
                            </div>
                        </td>
                        <td class="gap"></td>
                        <td class="">
                            <!--<a class="draw-btn" href="javascript:"></a>-->
                            <img class="draw-btn" src="http://qiniu.longyue8.com/klhbnew2s2_go.png" alt="">
                        </td>
                        <td class="gap"></td>
                        <td data-num="3" class="item lottery-unit lottery-unit-3 prize{$prizes[3]['id']}">
                            <div class="img">
                                <img src="{$prizes[3]['image']}" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="gap-2" colspan="1"></td>
                    </tr>
                    <tr>
                        <td data-num="6" class="item lottery-unit lottery-unit-6 prize{$prizes[6]['id']}">
                            <div class="img">
                                <img src="{$prizes[6]['image']}" alt="">
                            </div>
                        </td>
                        <td class="gap"></td>
                        <td data-num="5" class="item lottery-unit lottery-unit-5 prize{$prizes[5]['id']}">
                            <div class="img">
                                <img src="{$prizes[5]['image']}" alt="">
                            </div>
                        </td>
                        <td class="gap"></td>
                        <td data-num="4" class="item lottery-unit lottery-unit-4 prize{$prizes[4]['id']}">
                            <div class="img">
                                <img src="{$prizes[4]['image']}" alt="">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
    </div>
    <!--//分享-->
    <div onclick="$('.share,.bg_share').fadeOut()" class="bg_share"></div>
    <img onclick="$('.share,.bg_share').fadeOut()" class="share" src="http://qiniu.longyue8.com/klhbnew2s2_share.png" alt="">
    <!--规则-->
    <div class="bg_fix"></div>
    <img onclick="$('.guiz,.bg_fix').fadeOut()" class="guiz" src="{php echo tomedia($setting['hdgz'])}" alt="">
    <!--提示-->
    <div class="tips"></div>
    <!--中奖弹窗-->
    <div class="zhongj">
        <img onclick="$('.zhongj,.bg_fix').fadeOut()" class="close" src="http://qiniu.longyue8.com/klhbnew2zj_close.png" alt="">
        <img class="title1" src="http://qiniu.longyue8.com/klhbnew2zj_title1.png" alt="">
        <div class="zj_detail">
            <h5>恭喜您获得</h5>
            <h3></h3>
            <p class="tipstxt">TIPS:留下您的联系方式以便领取奖品</p>
            <div style="text-align: center;margin: 5% 0;">
                <span>姓名：</span>
                <input class="realname" type="text">
            </div>
            <div style="text-align: center;margin-bottom: 5%;">
                <span>电话：</span>
                <input class="mobile" type="tel" maxlength="11">
            </div>
            <p style="font-size: 10px;color: #777;margin-left: 10%;">领取地址:深圳路与常福路交汇处往南约100米璀璨澜庭售楼处</p>
            <p style="font-size: 10px;color: #777;margin-left: 10%;">领奖时间:2019年1月18日-1月31日 10:00-17:00</p>
            <img class="zjbtn" src="http://qiniu.longyue8.com/klhbnew2zj_btn.png" alt="">
        </div>
    </div>
    <!--中奖记录-->
    <div class="zjjl">
        <img onclick="$('.zjjl,.bg_fix').fadeOut()" class="close5" src="http://qiniu.longyue8.com/klhbnew2s2_close5.png" alt="">
        <img class="title5" src="http://qiniu.longyue8.com/klhbnew2zj_title5.png" alt="">
        <div class="zj_list">
            <!--<p>2019-1-21 15:03 | 获得<span>XXXXXXXXXXX</span></p>-->
        </div>
        <img onclick="$('.zjjl,.bg_fix').fadeOut()" class="btn5" src="http://qiniu.longyue8.com/klhbnew2zj_btn5.png" alt="">
    </div>
<script>
    var audio=document.getElementsByTagName('audio')[0];
    $('#music').click(function(){
        if(audio.paused){
            audio.play();
            $(this).attr('class','music muc')
        }else{
            audio.pause();
            $(this).attr('class','music')
        }
    });
    document.addEventListener('DOMContentLoaded', function () {
        function audioAutoPlay() {
            var audio = document.getElementById('audiojs');
            audio.play();
            document.addEventListener("WeixinJSBridgeReady", function () {
                audio.play();
            }, false);
        }
        audioAutoPlay();
    });
    if (/i(Phone|P(o|a)d)/.test(navigator.userAgent)) {
        $(document).one('touchstart',
            function(e) {
                $('#audiojs').get(0).touchstart = true;
                $('#audiojs').get(0).play();
                return false;
            });
    }

    function tips(txt){
        $('.tips').html(txt).fadeIn();
        setTimeout(function(){
            $('.tips').fadeOut();
        },2000)
    }

    $('.s1btn').click(function(){
        var kouling=$('.kouling').val();
        if(kouling=='璀璨澜庭'){
            $('.step1').hide();
            $('.step2').show();
            $(".notice_active").Scroll({line:1,speed:1000,timer:3000});
        }else{
            tips('口令是“璀璨澜庭”')
        }
    })


  </script>
<script type="text/javascript">
    function zjlist() {
        $.post(
            "{php echo $this->createMobileUrl('index',['op'=>'mylog','activity_id'=>$activity_id])}",
            function(data){
                if(data.log.length>0){
                    var html='';
                    for(var i=0;i<data.log.length;i++){
                        html+=' <p>'+data.log[i]['createtime']+' | 获得<span>'+data.log[i]['title']+'</span></p>';
                    }
                    $('.zj_list').html(html);
                    $('.zjjl,.bg_fix').fadeIn();
                }else{
                    tips('暂无中奖奖品')
                }
            },'json')
    }
    console.log({php echo json_encode($prizes)});
    console.log({php echo json_encode($new_log)});
    var number=0;
    var status;
    var lottery = {
        index: -1, //当前转动到哪个位置，起点位置
        count: 0, //总共有多少个位置
        timer: 0, //setTimeout的ID，用clearTimeout清除
        speed: 20, //初始转动速度
        times: 0, //转动次数
        cycle: 50, //转动基本次数：即至少需要转动多少次再进入抽奖环节
        prize: -1, //中奖位置
        init: function(id) {
            if($('#' + id).find('.lottery-unit').length > 0) {
                $lottery = $('#' + id);
                $units = $lottery.find('.lottery-unit');
                this.obj = $lottery;
                this.count = $units.length;
                $lottery.find('.lottery-unit.lottery-unit-' + this.index).addClass('active');
            };
        },
        roll: function() {
            var index = this.index;
            var count = this.count;
            var lottery = this.obj;
            $(lottery).find('.lottery-unit.lottery-unit-' + index).removeClass('active');
            index += 1;
            if(index > count - 1) {
                index = 0;
            };
            $(lottery).find('.lottery-unit.lottery-unit-' + index).addClass('active');
            this.index = index;
            return false;
        },
        stop: function(index) {
            this.prize = index;
            return false;
        }
    };

    function roll() {
        lottery.times += 1;
        lottery.roll(); //转动过程调用的是lottery的roll方法，这里是第一次调用初始化

        if(lottery.times > lottery.cycle + 10 && lottery.prize == lottery.index) {
            clearTimeout(lottery.timer);

            setTimeout(function(){
                if(status==0){
                    tips('谢谢您参与，继续加油！')
                }else {
                    if(localStorage.getItem('klcj')){
                        var klcj=JSON.parse(localStorage.getItem('klcj'));
                        $('.realname').val(klcj.realname);
                        $('.mobile').val(klcj.mobile);
                    }
                    $('.zhongj,.bg_fix').fadeIn()
                }
            },1500);

            lottery.prize = -1;
            lottery.times = 0;
            click = false;
        } else {
            if(lottery.times < lottery.cycle) {
                lottery.speed -= 10;
            } else if(lottery.times == lottery.cycle) {
                // var index = Math.random() * (lottery.count) | 0; //静态演示，随机产生一个奖品序号，实际需请求接口产生
                // var index = number;
                lottery.prize = number;
            } else {
                if(lottery.times > lottery.cycle + 10 && ((lottery.prize == 0 && lottery.index == 7) || lottery.prize == lottery.index + 1)) {
                    lottery.speed += 110;
                } else {
                    lottery.speed += 20;
                }
            }
            if(lottery.speed < 40) {
                lottery.speed = 40;
            }
            lottery.timer = setTimeout(roll, lottery.speed); //循环调用
        }
        return false;
    }

    var click = false;
    window.onload = function() {
        $('.draw-btn').click(function() {
                choujiang();
        });

        function choujiang(){
            $.post(
                "{php echo $this->createMobileUrl('index',['op'=>'lottery','activity_id'=>$activity_id])}",
                function(data){
                    if(data.status==1){
                        if(data.log) {
                            if (data.log.status=='1') {
                                var $_share = {php echo json_encode($_share);};
                                if (typeof sharedata == 'undefined') {
                                    sharedata = $_share;
                                } else {
                                    sharedata['title'] = sharedata['title'] || $_share['title'];
                                }
                                sharedata['title'] = "{$_W['fans']['nickname']}在大“芒”人拯救计划活动中活动抽取" + data.log['title'] + "礼品！快来围观！";
                                console.log(sharedata);
                            }
                            var clsname = '.prize' + data.log.prize_id;
                            number = $(clsname).data('num');
                            status = data.log.status;
                            $('.zj_detail>h3').html(data.message);
                            $('.zjbtn').attr('data-id', data.log.id);
                            lottery.init('lottery');
                            lottery.speed = 100;
                            roll(); //转圈过程不响应click事件，会将click置为false

                            click = true; //一次抽奖完成后，设置click为true，可继续抽奖
                            return false;
                        }else{
                            return false;
                        }
                    }else{
                        tips(data.message)
                    }
                },'json')
        }
    };
    $('.zjbtn').click(function(){
        var realname=$('.realname').val();
        var mobile=$('.mobile').val();
        if(realname==''||mobile==''){
            tips('请填写姓名和手机号码');
            return false;
        }
        if(mobile.length!=11){
            tips('手机号码有误');
            return false;
        }
        if(realname&&mobile){
            localStorage.setItem('klcj',JSON.stringify({'realname':realname,'mobile':mobile}));
            $.post(
                "{php echo $this->createMobileUrl('index',['op'=>'updata_log','activity_id'=>$activity_id])}",
                {
                    'id': $('.zjbtn').attr('data-id'),
                    'mobile':mobile,
                    'realname':realname
                },
                function(data){
                    tips('提交成功');
                    if(data.status==1){
                        setTimeout(function(){$('.zhongj,.bg_fix').fadeOut()})
                    }
                },'json'
            )
        }
    })
    console.log({php echo json_encode($setting)})
    console.log({php echo json_encode($_W['fans'])})
</script>
{template 'footer'}