{template 'header_making'}
<link rel="stylesheet" type="text/css" href="{YOUMI_URL_APP}hui/hui.css" />
<script type="text/javascript" src="{YOUMI_URL_APP}hui/hui.js" charset="utf-8"></script>
<script type="text/javascript" src="{YOUMI_URL_APP}hui/hui-picker.js" charset="utf-8"></script>
<script type="text/javascript" src="{YOUMI_URL_APP}hui/cities.js" charset="utf-8"></script>
<style>
    *{box-sizing: inherit;}
    div{
        font-size: 12px;
    }

    .a_content{
        padding: 4%;
        box-sizing: border-box;
        {if $activity['bgimage']}
        background: url("{$activity['bgimage']}") repeat 100%;
        {else}
        background: url("{$case['template']['bgimage']}") repeat 100%;
        {/if}

        padding-bottom: 35%;
    }

    input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select{
        border: 1px dashed #F9292A;
        text-align: center;
        margin: 0 2%;
        height: 30px;
        padding: 5px;
        background: transparent;
    }
    .basic_setting{
        background: #E4FCFA;
        border: 1px solid #111;
        border-radius: 10px;
        padding: 2%;
        padding-top: 25px;
        margin-top: 35px;
    }

    .p_gimg{
        text-align: center;
        border: 1px solid #aaa;
        width: 110px;
        height: 110px;
        overflow: hidden;
        background: #fff;
    }
    .p_gimg>span{
        position: absolute;
        top: 0;
        left: 0;
        background: #F7DA79;
        z-index: 8;
    }
    .p_price{
        margin-left: 4%;
    }
    input.select_goodimg,input.select_good2img{
        opacity: 0;
    }
    .p_gimg .select_goodimg,.p_gimg .good_logo,.select_good2img,.ac_btns .select_goodimg{
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .p_gimg .good_logo{
        z-index: 5;
    }
    .p_price input{
        width: 80%;
    }
    .s_nums{
        margin-top: 2%;
    }
    .s_goodimg{
        border: 1px dashed #F9292A;
        margin: 4% 0;
        text-align: center;
        border-radius: 3px;
        width: 100%;
        min-height: 100px;
    }
    .s_goodimg>div{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    .s_goodimg>img.good_logo{
        position: relative;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 5;
    }

    .c_addbtn{
        text-align: center;
    }
    .c_addbtn>div{
        display: inline-block;
        border: 1px solid #98C1EC;
        margin: 5%;
        padding: 2% 6%;
        border-radius: 4px;
    }
    .c_addbtn i.iconfont{
        color: #98C1EC;
        font-size: 20px;
    }
    .s_intro{
        position: absolute;
        top: -25px;
        width: 70%;
        left: 15%;
    }
    .s_intro img{
        position: absolute;
        width: 100%;
        height: 40px;
        left: 0;
        top: 0;
        z-index: 3;
    }
    .s_intro input{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 5;
    }
    .iconfont.icon-essential{
        color: red;
        font-size: 12px;
    }
    .s_close{
        position: absolute;
        top: -33px;
        right: 0px;
        z-index: 10;
        font-size: 40px;
        color: red;
    }

    .s_detail .weui-cells:after, .weui-cells:before,.s_detail .weui-cell:before{
        display: none;
    }
    .s_detail label.weui-cell{
        padding: 0 10px;
    }
    .weui-cells_checkbox .weui-icon-checked:before{
        font-size: 20px;
    }

    .ceg_title,.cer_title{
        text-align: center;
        margin-bottom: 5%;
    }
    .ceg_title>img,.cer_title>img{
        width: 60%;
        height: 40px;
    }
    .ceg_title>span,.cer_title>span{
        position: absolute;
        bottom: -14px;
        right: 0;
        width: 100%;
    }


    .ce_common,.ce_lingqu,.ce_rule{
        margin-top: 25px;
    }
    .ce_common input,.ce_lingqu .cegt_input,.cer_title input{
        /*border: 1px solid transparent;*/
        width: 38%;
        top: 10%;
        left: 29%;
        position: absolute;
        z-index: 5;
    }
    .ceg_content,.ces_content,.cel_content,.cer_content{
        background: #fff;
        border-radius: 5px;
        padding: 2%;
    }
    .csys_content,.csms_content,.csgs_content{
        margin-bottom: 12%;
    }
    .csycc_num{
        padding: 2%;
        background: #D8D8D8;
        margin: 1%;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
    }
    .csycc_btns,.csmcc_btns,.common_btns{
        position: absolute;
        right: 0;
        bottom: -20px;
        z-index: 5;
    }
    .csmcc_btns{
        bottom: -14px;
    }
    .csycc_btns div,.csmcc_btns div,.common_btns div{
        background: #aaa;
        padding: 0 4%;
        border-left: 1px solid #fff;
        word-break: break-all;
        color: #fff;
        text-align: center;
        width: 60px;
    }
    .ceyc_btns{
        margin-top: 20%;
    }
    .ceyc_btns i.iconfont{
        color: #98C1EC;
    }
    .ceyc_btns>div{
        display: inline-block;
        border: 1px solid #98C1EC;
        padding: 1% 4%;
        background: #D6E9FC;
    }

    .ces_btns{
        padding: 2%;
    }
    .ces_btns i{
        font-size: 30px;
        color: #98C1EC;
    }
    .ces_btns .ft16{
        margin-top: -10px;
    }

    .cess_content{
        margin-bottom: 40px;
    }
    .cess_content .common_btns{
        bottom: -25px;
    }

    .cel_content>div{
        margin-bottom: 10px;
    }
    .ce_common .cel_content input{
        position: inherit;
        flex: 1;
        margin: 0 6%;
    }

    .cel_content input.weui-check{
        display: none!important;
    }
    .cel_content .weui-cell.weui-check__label{
        margin: 0;
    }
    .cel_content .weui-cells:after{
        display: none;
    }
    .weui-cells{
        margin-top: 0;
    }
    .icon-suo{
        color: red;
        position: relative;
        left: 20%;
    }

    .bg_fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
        width: 100%;
        height: 100%;
        display: none;
    }
    .footer_btns{
        position: fixed;
        z-index: 15;
        bottom: 0;
        width: 100%;
        left: 0;
        color: #fff;
    }
    .fb_btns{
        background: #fff;
    }
    .fb_btns>div{
        width: 50%;
        font-size: 20px;
        text-align: center;
        padding: 8px;
    }
    .fb_tip{
        padding: 1% 5%;
        background: rgba(0,0,0,0.7);
    }
    .go_top{
        position: fixed;
        bottom: 20%;
        right: 5%;
        width: 40px;
        height: 40px;
        z-index: 20;
        color: #fff;
        border-radius: 50%;
        background: rgba(0,0,0,0.6);
        text-align: center;
        line-height: 18px;
        padding: 6px;
        display: none;
    }
    .a_changeimg .weui-cells:after{
        display: none;
    }
    .weui-check__label:active {
        background-color: transparent;
    }
    .a_changeimg .weui-cells_checkbox .weui-check:checked+.weui-icon-checked:before{
        color: #E18F3D;
    }

    .d_receive_time,.d_receive_name,.d_receive_address{
        display: block;
        width: 96%!important;
        margin-bottom: 6px!important;
    }
</style>
<div>
    <!--头部-->
    {template 'temp/activity_head'}
    <!--下部分，背景图片 background->repeat-->
    <div class="a_content">
        <!--活动标题,时间-->
        {template 'temp/activity_title'}

        <div class="c_setting">
            <!--规则设置-->
            <div class="ce_rule">
                <div class="cer_title p_relative">
                    <img class="titlebgimg" src="{if $activity['titlebgimg']}{$activity['titlebgimg']}{else}{YOUMI_URL_APP}img/m_titlebg2.png{/if}" alt="">
                    <input class="border_transparent" type="text" value="规则设置" readonly>
                </div>

                <div class="cer_content">
                    <div class="p_relative">
                        <textarea class="d_title2" maxlength="15">{$activity['title2']}</textarea>
                        <span class="ft10 c_title_tips">支付时使用，长度不得大于15个字</span>
                    </div>
                    <div class="s_detail">
                        <div class="flex flex_a_center">
                            <span class="word-break"><i class="iconfont icon-essential"></i>限制报名人数</span>
                            <div class="weui-cells weui-cells_radio">
                                <label class="weui-cell weui-check__label" for="signstatus1">
                                    <div class="weui-cell__bd">
                                        <div class="word-break">不限制</div>
                                    </div>
                                    <div class="weui-cell__ft">
                                        <input name="signstatus" type="radio" class="d_signstatus weui-check" id="signstatus1" value="1" onchange="changeSignstatus(this)" {if $activity['signstatus']!='2'}checked{/if} />
                                        <span class="weui-icon-checked"></span>
                                    </div>
                                </label>
                                <label class="weui-cell weui-check__label" for="signstatus2">
                                    <div class="weui-cell__bd">
                                        <div class="word-break">限制</div>
                                    </div>
                                    <div class="weui-cell__ft">
                                        <input name="signstatus" type="radio" class="d_signstatus weui-check" id="signstatus2" value="2" onchange="changeSignstatus(this)" {if $activity['signstatus']=='2'}checked{/if}>
                                        <span class="weui-icon-checked"></span>
                                    </div>
                                </label>
                            </div>
                            <div class="sd_sign flex flex_a_center" style="{if $activity['signstatus']!='2'}display: none;{/if}width: 60px">
                                <input type="number" class="d_signnum" value="{$activity['signnum']}">
                                <span>人</span>
                            </div>
                        </div>
                        <div class="ft10 color777">如有报名者，限制人数不能少于已报名人数</div>
                    </div>
                    <div class="flex flex_a_center" style="margin-bottom: 5px">
                        <i class="iconfont icon-essential"></i>
                        <span class="word-break">报名费用（元）</span>
                        <input type="number" class="d_needmoney" value="{$activity['needmoney']}">
                    </div>
                    <div class="flex flex_a_center" style="margin-bottom: 5px">
                        <i class="iconfont icon-essential"></i>
                        <span class="word-break">返现佣金（元）</span>
                        <input type="number" class="d_commission" value="{$activity['commission']}">
                    </div>
                </div>
            </div>

            <!--活动信息-->
            <div class="ce_lingqu p_relative">
                <div class="ceg_title p_relative">
                    <img class="titlebgimg" src="{if $activity['titlebgimg']}{$activity['titlebgimg']}{else}{YOUMI_URL_APP}img/m_titlebg2.png{/if}" alt="">
                    <input type="text" class="cegt_input border_transparent" value="活动信息" readonly>
                    <span class="ft10 color777">小标题最多6个字</span>
                </div>
                <div class="ceg_content">
                    <input type="text" style="margin: 2% 0" placeholder="请输入活动主办方" class="text_left d_receive_name" value="{$activity['receive_name']}"/>
                    <input type="text" style="margin: 2% 0" placeholder="请输入活动时间" class="text_left d_receive_time" value="{$activity['receive_time']}"/>
                    <input type="text" style="margin: 2% 0" placeholder="请输入活动地点" class="text_left d_receive_address" value="{$activity['receive_address']}"/>
                </div>
                <img class="iconPig" src="{YOUMI_URL_APP}img/pig.png" alt="">
            </div>


            <!--活动介绍-->
            {template 'temp/activity_miaoshu'}

            {if $setting['shop_default']!=1}
            <!--联系方式-->
            {template 'temp/activity_receive'}
            {/if}

            <!--信息收集-->
            {template 'temp/activity_userinfo'}
            <!--分享设置-->
            {template 'temp/activity_share'}
            <!--区域限制设置-->
            {template 'temp/activity_regional'}
        </div>

    </div>

    <!--白色蒙层-->
    <div class="bg_fixed"></div>

    <!--返回顶部-->
    <div class="go_top">
        <i class="iconfont icon-xiangshang active"></i>
        <div>顶部</div>
    </div>
    <audio id="myaudio" src="" controls="controls" loop="false" hidden="true" />

</div>
{template 'temp/activity_effects'}
<!--底部按钮-->
{template 'temp/common_footer'}

<script>

    // console.log('$template',{php echo json_encode($template)})
    // console.log('$imgcate',{php echo json_encode($imgcate)})
    // console.log('$musiccate',{php echo json_encode($musiccate)})
    console.log('$activity',{php echo json_encode($activity)})
    console.log('$case',{php echo json_encode($case)})
</script>
<script>
    var datas={
        template_id:"{$case['template']['id']}",//模板id
        bgimage:"{if $activity}{$activity['bgimage']}{else}{$case['template']['bgimage']}{/if}",//模板背景
        image:"{if $activity}{$activity['image']}{else}{$case['template']['image']}{/if}",//模板图片
        music_id:'',
        music:"{$activity['music']}",
        effects_imgs:{if !empty($activity['effects_imgs'])}{php echo json_encode($activity['effects_imgs'])}{else}''{/if},
        effects_id:'',//特效
        // cate_img:'',//更换图片 
    };
    var imgcate={php echo json_encode($imgcate)};
    var musiccate={php echo json_encode($musiccate)};

    function autoPlay(url){
        $('#myaudio').attr('src',url)
        var myAuto = document.getElementById('myaudio');
        myAuto.play();
    }
    var musicSelect = new huiPicker('#musicSelect', function(){
        var val = musicSelect.getVal(1);
        var txt = musicSelect.getText(1);
        if(val==-1){
            datas['music']='';
            autoPlay('')
        }else {
            for (var i = 0; i < musiccate.length; i++) {
                for (var j = 0; j < musiccate[i]['music'].length; j++) {
                    if (musiccate[i]['music'][j]['id'] == val) {
                        autoPlay(musiccate[i]['music'][j]['link'])
                        console.log(musiccate[i]['music'][j]['link'])
                        datas['music']=musiccate[i]['music'][j]['link'];
                        return
                    }
                }

            }
        }
        console.log(musicSelect)
        datas.music_id=val;


    });
    /* 地区选择， 关联型数据 */
    var shopAddress = new huiPicker('#shop_address', function(){
        var sheng   = shopAddress.getText(0);
        var shi     = shopAddress.getText(1);
        var qu      = shopAddress.getText(2);
        hui('#shop_address').val(sheng + shi + qu);
    });
    shopAddress.level = 3;
    shopAddress.bindRelevanceData(cities);
    musicSelect.level = 2;
    // 初始化音乐

    var musics=[{
        value: '-1',
        text: '无',
        children: [
            {
                value: '-1',
                text: '无背景音效'
            }
        ]
    }];
    if(!!musiccate) {
        for (var i=0;i<musiccate.length;i++) {
            var obj={};
            obj['value']=musiccate[i]['id']
            obj['text']=musiccate[i]['title']
            obj['children']=[];
            for (var j=0;j<musiccate[i]['music'].length;j++) {
                obj['children'].push({
                    value: musiccate[i]['music'][j]['id'],
                    text: musiccate[i]['music'][j]['title'],
                    link: musiccate[i]['music'][j]['link']
                })
            }
            musics.push(obj)
        }
        console.log(obj)
    }

    musicSelect.bindRelevanceData(musics);


    $("#datetime-picker1").datetimePicker();



   function selectGoodimg(self) {
       var reader=new FileReader();
       var arr=$(self).val().split('\\');
       arr=arr[arr.length-1].split('/');
       var my=arr[arr.length-1];//这就是要取得的图片名称
       reader.onload=function(e){
           $.post(
               "{php echo $this->createMobileUrl('upload',['op'=>'image'])}",
               {
                   'file':reader.result,
                   'name':my,
                   'size':e.total,
                   'module':"{$_GPC['module']}",
                   'activity_id':"{$activity_id}",
               },
               function (data) {
                   $(self).next().next().attr('src',data.message)
               },'json'
           )
           // console.log( reader.result);  //或者 e.target.result都是一样的，都是base64码
       }
       reader.readAsDataURL(self.files[0])
   }



   //添加商品项
    $('.c_addbtn').click(function () {
        var sumnum=$('.c_setting .basic_setting').length
        if(sumnum<6){
            var html=`{template 'temp/goods_detail'}`;
            $('.detail_html').append(html)
        }
        sortGoods()
    })



    // 商品重新排序
    function sortGoods() {
        for(var i=0;i<=$('.sort_goods').length;i++){
           $('.sort_goods').eq(i).html(i+1)
        }
    }

    //删除图片(描述)
    function delMiaoshu(self){
       $(self).parents('.csms_content').remove()
    }
    //上移图片(活动描述)
    function upMiaoshu(self){
        var nowHtml=$(self).parents('.csms_content').find('img').attr('src')
        var nextHtml=$(self).parents('.csms_content').prev().find('img').attr('src')
        $(self).parents('.csms_content').find('img').attr('src',nextHtml)
        $(self).parents('.csms_content').prev().find('img').attr('src',nowHtml)
    }
    //上移区块(商家介绍)
    function upShangjia(self){
        var nowHtml='<div class="cess_content flex flex_a_center p_relative">'+$(self).parents('.cess_content').html()+'</div>'
        $(self).parents('.cess_content').prev().before(nowHtml)
        if($(self).parents('.cess_content').find('textarea')){
            var value=$(self).parents('.cess_content').find('textarea').val()
            $(self).parents('.cess_content').prev().prev().find('textarea').val(value)
        }
        $(self).parents('.cess_content').remove()
        sortShangjia($('.cess_contents .cess_content').length)
    }
    //下移文字(活动优惠)
    function downYouhui(self){
        var nowHtml=$(self).parents('.csys_content').find('textarea').val()
        var nextHtml=$(self).parents('.csys_content').next().find('textarea').val()
        $(self).parents('.csys_content').find('textarea').val(nextHtml)
        $(self).parents('.csys_content').next().find('textarea').val(nowHtml)
    }
    //下移图片(活动描述)
    function downMiaoshu(self){
        var nowHtml=$(self).parents('.csms_content').find('img').attr('src')
        var nextHtml=$(self).parents('.csms_content').next().find('img').attr('src')
        $(self).parents('.csms_content').find('img').attr('src',nextHtml)
        $(self).parents('.csms_content').next().find('img').attr('src',nowHtml)
    }

    // 限制报名人数
    function changeSignstatus(self){
       console.log(self.value)
        if(self.value=='1'){
           $('.sd_sign').hide()
        }else{
            $('.sd_sign').show()
        }
    }
    //是否需要费用
    function changeNeedmoney(self){
       console.log(self.value)
        if(self.value=='1'){
           $('.nd_money').hide()
        }else{
            $('.nd_money').show()
        }
    }

    //更换图片分类
    function changeImgcate(self) {
        if(!$(self).hasClass('active')){
            $('.ac_cates div').removeClass('active')
            $(self).addClass('active')
            var idx=Number($(self).attr('data-idx'))
            var html=''
            for(var i=0;i<imgcate[idx]['img'].length;i++){
                html+=`<img onclick="changeImg(this)" src="${imgcate[idx]['img'][i]['image']}" data-id="${imgcate[idx]['img'][i]['id']}" alt="">`
            }
            $('.ac_imgs').html(html)
        }
    }

    // 返回顶部
    // $("body").on("touchstart", function(e) {
    //     e.preventDefault();
    //     startX = e.originalEvent.changedTouches[0].pageX, startY = e.originalEvent.changedTouches[0].pageY;
    // });
    // $("body").on("touchmove", function(e) {
    //     e.preventDefault();
    //     moveEndX = e.originalEvent.changedTouches[0].pageX,
    //         moveEndY = e.originalEvent.changedTouches[0].pageY,
    //         X = moveEndX - startX,
    //         Y = moveEndY - startY;
    //
    //     if(document.documentElement.scrollTop>100){
    //         $('.go_top').fadeIn()
    //     }else{
    //         $('.go_top').fadeOut()
    //     }
    //
    // });
    // $('.go_top').click(function(){
    //     $(window).scrollTop(0);
    //     $('.go_top').fadeOut()
    // })



    function submit(num) {
            var mandatory=false;
            datas['title']=$('.d_title').val();//活动标题
            datas['title2']=$('.d_title2').val();//活动短标题
            datas['image']=$('.h_img').attr('src')//背景主图
            datas['titlebgimg']=$('.titlebgimg').attr('src');//标题背景图
            datas['bgimage']=$('.a_content').css('background-image').replace('url(','').replace(')','').replace('"','').replace('"','')//背景主图
            datas['starttime']=$('#datetime-picker1').val()//开始时间
            datas['endtime']=$('#datetime-picker2').val()//结束时间
            datas['signstatus']= $('.d_signstatus:checked').val()//限制报名人数
            datas['needstatus']= $('.d_needstatus:checked').val()//是否需要费用
            // 商品信息

            if(!datas['title']){tips('请填写活动标题'); return false;}
            if(!datas['title2']){tips('请填写活动短标题'); return false;}
            if(!datas['starttime']){tips('请填写开始时间'); return false;}
            if(!datas['endtime']){tips('请填写结束时间'); return false;}

            //规则设置
            if($('.d_signstatus')[1].checked){
                if($('.d_signnum').val()==''){tips('请填写报名限制人数'); return false;}
                else{datas['signnum']=$('.d_signnum').val()}
            }
            if($('.d_needmoney').val()==''){tips('请填写报名费用金额'); return false;}
            else{datas['needmoney']=$('.d_needmoney').val()}
            if($('.d_commission').val()==''){tips('请填写返现佣金金额'); return false;}
            else{datas['commission']=$('.d_commission').val()}
            if(datas['commission']>=$('.d_needmoney').val()){
                tips('佣金金额不能大于报名金额');
                return false;
            }
            //活动信息
            datas['receive_name']=$('.d_receive_name').val()
            datas['receive_time']=$('.d_receive_time').val()
            datas['receive_address']=$('.d_receive_address').val()
            // if(!datas['receive_name']||!datas['receive_time']||!datas['receive_address']){tips('请填写活动信息'); return false;}

            //活动描述标题
            datas['desc_title']=$('.d_desc_title').val()
            if(!datas['desc_title']){tips('请填写活动描述标题'); return false;}
            //活动描述内容
            // datas['desc_val']=$('.d_desc_val').val()
            datas['desc_val']=$('#contentEditor_miaoshu').html();
            if(!datas['desc_val']){tips('请填写活动描述内容'); return false;}
            //活动描述图片
            // if($('.d_desc_img').length>0) {
            //     var desc_imgs=[];
            //     for (var ii = 0; ii < $('.d_desc_img').length;ii++) {
            //         desc_imgs.push($($('.d_desc_img')[ii]).attr('src'))
            //     }
            //     datas['desc_imgs']=desc_imgs
            // }
            //活动规则内容
            datas['rule_val']='';
            // if(!datas['rule_val']){tips('请填写活动规则内容'); return false;}
            {if $setting['shop_default']!=1}
            //联系方式
            datas['shop_name']=$('.d_shop_name').val()
            datas['shop_mobile']=$('.d_shop_mobile').val()
            datas['shop_address']=$('.d_shop_address').val()
            datas['shop_code']=$('.d_shop_code').attr('src')
            if(!datas['shop_name']){tips('请填写商家姓名'); return false;}
            if(!datas['shop_mobile']){tips('请填写咨询热线'); return false;}
            //联系地址
            if($('#shop_address').val()){
                datas['shop_province']=$('#shop_address').val().split(' ')[0]
                datas['shop_city']=$('#shop_address').val().split(' ')[1]
                datas['shop_district']=$('#shop_address').val().split(' ')[2]
            }
            {/if}

            //信息收集
            var userinfo=[]
            for (var iiii = 0; iiii < $('.d_userinfo').length;iiii++) {
                userinfo.push({
                    title:$($('.d_userinfo')[iiii]).find('.d_u_title').val(),
                    checked:$($('.d_userinfo')[iiii]).find('.d_u_checked')[0].checked
                })
            }
            datas['userinfo']=userinfo;
            // 分享设置
            datas['share_img']=$('.d_share_img').attr('src');
            datas['share_title']=$('.d_share_title').val();
            datas['share_desc']=$('.d_share_desc').val();
            if(!datas['share_img']){tips('请上传分享图'); return false;}
            if(!datas['share_title']){tips('请填写分享标题'); return false;}
            if(!datas['share_desc']){tips('请填写分享描述'); return false;}

            //区域限制
            datas['regional']= $('.d_regional:checked').val()//是否需要费用
            if($('.d_regional')[1].checked){
                if($('.d_ak').val()==''){tips('请填写百度地图密钥'); return false;}
                else{datas['ak']=$('.d_ak').val()}
                if($('.d_num').length==0){tips('请添加区域'); return false;}
                else{
                    var r_address=[];
                    for(var ir=0;ir<$('.d_num').length;ir++){
                        r_address.push($('.d_num')[ir].value)
                    }
                    datas['r_address']=r_address;
                }
            }

        console.log(datas)
            {if $_GPC['cz']=='bj'}datas['activity_id']="{$activity_id}";{/if}
        $.post(
            "{php echo $this->createMobileUrl('making',['op'=>'post'])}",
            {
                'from':datas,
                'module':"{$_GPC['module']}",
                'case_id':"{$case_id}"
            },
            function (data) {
                tips(data.message)
                if(data.errno==0){

                    setTimeout(function () {
                        if(num=='1'){
                            location.href="./index.php?c=entry&i={$_W['uniacid']}&do=index&activity_id="+data.data.activity_id+"&m={$case['module']}"
                        }else if(num=='2'){
                            location.href="{php echo $this->createMobileUrl('activitys',['op'=>'activitys_detail'])}&activity_id="+data.data.id
                        }
                    },2000)
                }

            },'json'
        )
    }


</script>
{template 'common/footer'}