{template 'header'}
<link rel="stylesheet" href="{YOUMI_URL_APP}css/animate.min.css">

<style>
    .moneybox{width: 100%;height: 100%;}

    #leafContainer {
        /*position: absolute;*/
        /*width: 100%;*/
        /*height: 100%;*/
        overflow: hidden;
    }

    #leafContainer > div {
        position: fixed;
        z-index: 10;
        width: 25px;
        /*height: 150px;*/
        -webkit-animation-iteration-count: infinite, infinite;
        -webkit-animation-direction: normal, normal;
        -webkit-animation-timing-function: linear, ease-in;
    }
    #leafContainer > div > img {
        position: absolute;
        width: 25px;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-transform-origin: 50% -100%;
    }
    @-webkit-keyframes fade {
        0% {
            opacity: 1;
        }
        95% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @-webkit-keyframes drop {
        0% {
            -webkit-transform: translate(0px, -50px);
        }
        100% {
            -webkit-transform: translate(0px, 650px);
        }
    }
    @-webkit-keyframes clockwiseSpin {
        0% {
            -webkit-transform: rotate(-50deg);
        }
        100% {
            -webkit-transform: rotate(50deg);
        }
    }
    @-webkit-keyframes counterclockwiseSpinAndFlip {
        0% {
            -webkit-transform: scale(-1, 1) rotate(50deg);
        }
        100% {
            -webkit-transform: scale(-1, 1) rotate(-50deg);
        }
    }

</style>
<style>
    .color_red{
        color: #ED5F43
    }
    img{
        width: 100%;
    }
    input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select{
        border: 1px solid transparent;
        text-align: center;
        margin: 0 2%;
        height: 30px;
        padding: 5px;
        background: transparent;
    }
    .bg_fixed,.bg_fixed_sign{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        display: none;
    }

    .h_img{
        width: 100%;
    }
    .ah_top{
        background: rgba(0,0,0,0.7);
        color: #aaa;
        display: inline-flex;
        padding: 0 6px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }
    .ah_top span{
        color: #fff;
        font-weight: 700;
    }
    .a_head .iconfont{
        position: fixed;
        z-index: 5;
        color: #fff;
        font-size: 28px;
        border-radius: 50%;
        border: 1px solid #fff;
        background: rgba(0,0,0,0.4);
        left: 5%;
        width: 35px;
        height: 35px;
        text-align: center;
        line-height: 33px;
    }
    .icon-music{
        top: 5%;
    }
    .icon-music.active,.icon-mofabang.active{
        -webkit-animation: zhuan 2s linear infinite;
    }
    .icon-mofabang{
        top: 15%;
        font-size: 24px!important;
    }
    .ah_user,.ah_contact,.ah_complain,.ah_share{
        top: 25%;
        left: 5%;
        width: 42px;
        height: 42px;
        background: #333;
        color: #fff;
        text-align: center;
        padding: 6px;
        line-height: 14px;
        border-radius: 50%;
        position: fixed;
        z-index: 10;
    }
    .ah_complain{
        left: inherit;
        right: 5%;
        top: 15%;
        line-height: 30px;
    }
    .ah_share{
        left: inherit;
        right: 5%;
        top: 5%;
        line-height: 30px;
    }
    .ah_contact{
        left: inherit;
        right: 5%;
        -webkit-animation: zhuan2 1.5s ease-in infinite;
    }


    .a_content{
        box-sizing: border-box;
        background: url("{$activity['bgimage']}") repeat 100%;
        padding-bottom: 35%;
        /*background: #FFC600;*/
    }
    .ac_title{
        font-weight: 700;
        margin-bottom: 10px;
    }
    .ac_time{
        background: #000;
        margin: 30px 15px 10px 15px;
        border-radius: 5px;
        padding: 40px 0 12px 0;
        text-align: center;
        color: #fff;
    }
    .ac_time p{
        font-size: 10px;
        color: #FFC700;
        text-align: center;
    }
    .ac_time span{
        font-size: 35px;
    }
    .ac_time>img{
        position: absolute;
        top: -10px;
        left: 25%;
        width: 50%;
    }



    .ac_goods{
        background: #fff;
        border-radius: 5px;
        padding: 2%;
        margin-top: 20px;
    }
    .goods{
        border: 1px solid #111;
        border-radius: 5px;
        padding: 12% 2% 2% 2%;
        margin-top: 50px;
    }
    .goods .gt_logo{
        width: 100px;
        height: 100px;
        margin-right: 3%;
    }
    .gt_detail>div{
        margin: 10px 0;
    }
    .g_title{
        width: 70%;
        position: absolute;
        top: -25px;
        left: 15%;
    }
    .g_title>div{
        position: absolute;
        top: 5px;
        width: 100%;
        text-align: center;
        left: 0;
    }

    .ac_youhui{
        margin-top: 25px;
    }
    .acy_title{
        width: 66%;
        left: 17%;
        margin-bottom: 8px;
    }
    .acy_title input{
        width: 78%;
        top: 5px;
        left: 8%;
        position: absolute;
        z-index: 5;
    }
    .acy_content{
        /*background: #fff;*/
        /*border-radius: 5px;*/
        padding: 2%;
    }

    .acsc_list{
        max-height: 200px;
        overflow-y: auto;
    }
    .acs_content .acsc_title,.acsc_list>div{
        display: flex;
        display: -webkit-flex;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }
    .acs_content span{
        width: 20%;
        text-align: center;
        margin-top: 5px;
    }
    .acsc_tip{
        padding-top: 18px;
        text-align: center;
    }


    .go_top{
        position: fixed;
        bottom: 15%;
        right: 5%;
        width: 50px;
        height: 50px;
        z-index: 10;
        color: #fff;
        border-radius: 50%;
        background: rgba(0,0,0,0.6);
        text-align: center;
        line-height: 18px;
        padding: 6px;
        display: none;
    }
    .open_share{
        position: fixed;
        top: 8%;
        width: 60%;
        left: 20%;
        z-index: 20;
        color: #fff;
        display: none;
    }
    .os_btns img{
        background: #fff;
        border-radius: 50%;
        padding: 8px;
        width: 50px;
    }
    .osb_cancel{
        position: fixed;
        bottom: 5%;
        padding: 2px;
        border-bottom: 1px solid #fff;
    }


    .kanjia_btn{
        -webkit-animation: kanjia 1s ease-in infinite;
        margin-left: 5%;
        min-width: 70px;
    }
    .open_kjtips{
        position: fixed;
        top: 10%;
        width: 80%;
        left: 10%;
        z-index: 20;
        background: #D3441B;
        border-radius: 10px;
        display: none;
    }
    .a_btn2{
        width: 96%;
        margin: 4% 2%;
        display: block;
        box-sizing: border-box;
        padding: 2%;
        font-size: 18px;
    }
    .a_btn3{
        display: block;
        width: 96%;
        margin: 0 auto;
    }
    .ok_price{
        margin: 4% 2% 8% 2%;
    }
    .a_footer{
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 10;
        width: 100%;
        text-align: center;
    }
    .a_footer a{
        font-size: 20px;
    }
    .gdtp_bg{
        width: 100%;
        height: 10px;
        background: #ddd;
        border-radius: 10px;
        margin: 5px 0;
    }
    .gdtp_bg>div{
        background: #ED5F43;
        border-radius: 20px;
        height: 10px;
    }
    .gdtp_bg>span{
        background: #fff;
        width: 16px;
        border-radius: 50%;
        height: 16px;
        border: 3px solid #ED5F43;
        top: -3px;
    }

    @-webkit-keyframes zhuan {
        0%{transform: rotate(0deg)}
        100%{transform: rotate(360deg)}
    }
    @-webkit-keyframes zhuan2 {
        0%{transform: rotate(0deg)}
        45%{transform: rotate(-30deg)}
        90%{transform: rotate(30deg)}
        100%{transform: rotate(0deg)}
    }
    @-webkit-keyframes kanjia {
        10%{
            transform: rotate(-3deg) scale(0.9);
        }
        35%{
            transform: rotate(3deg) scale(1.1);
        }
        45%{
            transform: rotate(-3deg);
        }
        55%{
            transform: rotate(3deg);
        }
        65%{
            transform: rotate(-3deg);
        }
        90%{
            transform: rotate(0) scale(1);
        }
    }

    .acs_navbar{
        border-bottom: 1px solid #ddd;
    }
    .acs_navbar>div{
        padding: 2% 0;
        border-bottom: 2px solid transparent;
    }
    .acs_navbar>div.active{
        border-bottom: 2px solid #ED5F43;
        color: #ED5F43;
    }
    .acysc_detail{
        border: 2px solid #FD6E4A;
        margin-bottom: 10px;
    }
    .acysc_detail span{
        background: #FD6E4A;
        width: 25px;
        text-align: center;
        color: #fff;
        margin: 10px;
        display: block;
        border-radius: 50%;
        height: 25px;
        line-height: 25px;
    }

    .pt_contents{
        border-bottom: 1px solid #ddd;
        padding: 15px 0;
    }
    .ptc_step{
        align-items: flex-end;
        -webkit-align-items: flex-end;
    }
    .ptc_step img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 1px solid #F00C0A;
    }
    .ptc_step2>div{
        width: 30%;
    }
    .ptc_step2 span{
        width: 20px;
        height: 20px;
        background: #aaa;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
        font-size: 12px;
    }
    .ptc_num{
        background: #FFD200;
        top: 0;
        right: 0;
        padding: 4px 10px;
        font-size: 12px;
    }
    .ptc_jieti{
        margin-top: 10px;
    }
    .ptc_jieti>div{
        width: 30%;
        margin-bottom:10px;
    }
    .ptcj_detail{

    }
    .ptcj_detail>div{
        text-align: center;
        left: 0;
        top: 8px;
        width: 100%;
        color: #fff!important;
    }
    .ptcj_detail b{
        display: block;
    }

    .fb_tip{
        padding: 1% 0;
        margin-bottom: -15px;
        margin-top: 10px;
        position: relative;
    }
    .fb_tip a{
        font-size: 16px;
    }
    .fb_tip .iconfont{
        color: #fff;
        position: absolute;
        right: -10px;
        top: 5px;
    }
    .groups{
        margin: 15px;
        background: #fff;
        padding: 15px;
        border-radius: 10px;
    }
    .g_more{
        padding-bottom: 10px;
    }
    .g_detail{
        border-top: 1px solid #f1f1f1;
        padding: 10px 0;
    }
    .g_detail img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 8px;
    }
    .gt_detail>div.flex1{
        overflow: hidden;
        margin-right: 24px;
        text-overflow: ellipsis;
    }
    .g_detail a{
        background: #FFC600;
        color: #000;
        padding: 4px 8px;
        display: inline-block;
        border-radius: 3px;
        margin-left: 8px;
    }
    .g_detail .go_detail{
        background: #FFDC64;
        color: #333;
    }
    .open_groups{
        position: fixed;
        top: 8%;
        width: 84%;
        left: 8%;
        z-index: 20;
        /*max-height: 80%;*/
        background: #fff;
        border-radius: 5px;
        display: none;
    }
    .open_groups h4{
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }
    .open_groups .icon-Close{
        position: absolute;
        bottom: -50px;
        color: #fff;
        font-size: 28px;
        left: 45%;
    }
    .og_list{
        padding: 10px;
        max-height: 70vh;
        overflow-y: auto;
    }
    .shop_detail{
        background: #EDEDED;
        width: 20%;
        padding: 4px;
    }
    .buy_dan{
        width: 40%;
        background: #FFC700;
        padding: 4px 0;
    }
    .buy_tuan{
        width: 40%;
        color: #FFC700;
        background: #000;
        padding: 4px 0;
    }
    .shop_detail .icon-dianhua{
        color: #7132BF;
    }
</style>
<style type="text/css">

    .dm_content{
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        height: 60%;
    }

    .bullet{
        display: flex;
        align-items: center;
        position: absolute;
        flex-wrap: nowrap;
        word-break: keep-all;
        background: rgba(0,0,0,0.7);
        color: #fff;
        padding: 4px 5px;
        border-radius: 25px;
        min-width: 160px;
    }
    .bullet img{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 5px;
    }
    .os_input input{
        background: #E29500;
        border-radius: 30px;
        text-align: center;
        margin: 0;
        height: 40px;
        font-size: 20px;
    }
    .leader{
        top: 0;
        left: -10px;
        font-size: 10px;
        background: #FFC600;
        padding: 0 4px;
        border-radius: 20px;
    }
    .w_apace{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 10px;
    }
</style>
<!--公告，头像滚动-->
<style>
    .members{
        margin: 15px;
    }
    .members>div:first-child,.members>div:last-child{
        background: #7132BF;
        text-align: center;
        color: #fff;
        padding: 15px;
    }
    .members>div:first-child{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 25px;
        background: url("{YOUMI_URL_APP}img/member_bg.png");
        background-size: 100% 100%;
    }
    .members>div:last-child{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .member .m_first{
        font-size: 16px;
    }
    .m_first span{
        color: #7132BF;
        background: #FFC600;
        padding: 5px 4px;
        border-radius: 5px;
        margin: 0 3px;
    }
    .notice_active {
        height: 268px;
        padding: 2px 0;
        overflow: hidden;
        position: relative;
        background: #fff;
    }
    .notice_active ul{
        padding: 0 6px;
        margin-top: 2px;
    }
    .notice_active li{
        list-style-type:none;
        line-height: 1rem;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .notice_active li>div{
        width: 15%;
        text-align: center;
        position: relative;
    }
    .notice_active img{
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }
</style>
<div>

    <div class="tips"></div>
    {if $activity['effects_imgs']}<div class="moneybox" id="leafContainer"></div>{/if}
    <!--头部-->
    <div class="a_head p_relative">
        <img class="h_img" src="{$activity['image']}" alt="">
        <a href="{php echo $this->createMobileUrl('user')}" class="p_absolute ah_user">个人中心</a>
        <div class="p_absolute ah_share" onclick="$('.open_share,.bg_fixed').fadeIn()">分享</div>
        {if $activity['music']}<i id="music" class="iconfont icon-music active"><audio id="audiojs" src="{$activity['music']}" autoplay loop></audio></i>{/if}
        <a href="javascript:;" class="p_absolute ah_complain" onclick="$('#tem_complain').slideDown()">投诉</a>
        <div class="p_absolute ah_contact" data-name="{$activity['shop_name']}" data-mobile="{$activity['shop_mobile']}" data-address="{$activity['shop_province']} {$activity['shop_city']} {$activity['shop_district']} {$activity['shop_address']}" data-code="{php echo tomedia($activity['shop_code'])}" onclick="openConcat(this)">联系商家</div>
        {if $activity['effects_imgs']}<i class="iconfont icon-mofabang active"></i>{/if}
        <!--弹幕-->
        <div class="dm_content"></div>
    </div>
    <!--下部分，背景图片 background->repeat-->
    <div class="a_content">
        <div style="height: 20px"></div>
        <h4 class="ac_title text_center sys_color">{$activity['title']}</h4>
        <!--倒计时-->
        <div class="ac_time p_relative">
            <img src="{YOUMI_URL_APP}img/time_title.png" alt="">
            <!--<div class="p_absolute">距离活动结束还有:<span class="act_day"></span>天<span class="act_hour"></span>时<span class="act_min"></span>分<span class="act_sec"></span>秒</div>-->
            <div class="flex flex_j_center">
                <div>
                    <span class="act_day"></span>
                    <p>DATS</p>
                </div>
                <div style="font-size: 32px;margin: 0 4px;position: relative;bottom: 3px"> : </div>
                <div>
                    <span class="act_hour"></span>
                    <p>HOURSE</p>
                </div>
                <div style="font-size: 32px;margin: 0 4px;position: relative;bottom: 3px"> : </div>
                <div>
                    <span class="act_min"></span>
                    <p>MIN</p>
                </div>
                <div style="font-size: 32px;margin: 0 4px;position: relative;bottom: 3px"> : </div>
                <div>
                    <span class="act_sec"></span>
                    <p>SEC</p>
                </div>
            </div>
        </div>
        <!--参团人员头像-->
        <div class="members">
            <div class="m_first">已有<span>{$records_count}</span>人参加团购</div>
            <div class="notice_active ac_messages sys_color">
                <ul>
                    {loop $records $rdx $rv}
                        {if ($rdx%6) == 0}
                        <li class="notice_active_ch ft12">
                            <div>
                                <img src="{$rv['avatar']}" alt=""><p class="w_apace">{$rv['nickname']}</p>
                                {if $rv['leader']=='1'}
                                <div class="p_absolute leader">团长</div>
                                {/if}
                            </div>
                        {else}
                        <div>
                            <img src="{$rv['avatar']}" alt=""><p class="w_apace">{$rv['nickname']}</p>
                            {if $rv['leader']=='1'}
                            <div class="p_absolute leader">团长</div>
                            {/if}
                        </div>
                        {/if}
                        {if (($rdx+1)%6) == 0}
                        </li>
                        {/if}
                    {/loop}
                </ul>
            </div>
            <div class="m_last">已有{php echo count($groups)}团/浏览量:{$activity['pv']}</div>
        </div>
        <!--团列表-->
        <div class="groups">
            <div class="g_more flex">
                <div class="flex1">{php echo count($groups)}人在拼单，可直接参与</div>
                <div onclick="$('.open_groups,.bg_fixed').fadeIn()" style="color: #aaa">查看更多<i class="iconfont icon-jiantouyou"></i></div>
            </div>
            <div class="g_list">
                {loop $groups $gdx $gv}
                {if $gdx<2}
                <div class="g_detail flex flex_a_center">
                    <img src="{$gv['avatar']}" alt="">
                    <div class="flex1">
                        <p>{$gv['nickname']}</p>
                        <div class="ft10">还差 <span style="color: #FFC600;font-size: 12px">{php echo $gv['group_num']-$gv['now_num']}人</span>拼成</div>
                    </div>
                    <a class="go_detail" href="{php echo $this->createMobileurl('index',['activity_id'=>$activity_id,'fmid'=>$_GPC['fmid'],'op'=>'detail','id'=>$gv['id']])}">查看详情</a>
                    <a href="javascript:;" onclick="openSign(2,{$gv['id']})">立即参团</a>
                </div>
                {/if}
                {/loop}
            </div>
        </div>
        <!--拼团玩法-->
        <img style="width: 100%" src="{YOUMI_URL_APP}img/rule.png" alt="">

        <!--商品描述-->
        <div class="ac_youhui p_relative">
            <div class="acy_content">
                <div class="acys_contents">
                    <!--内容-->
                    {php echo htmlspecialchars_decode($activity['desc_val'])}
                </div>
            </div>
            <img class="iconPig" src="{YOUMI_URL_APP}img/pig.png" alt="">
        </div>

        {if $setting_activity&&$setting_activity['making_status2']==1}
        <div style="text-align: center;margin: 40px 0 0 0;">
            <a href="{$_W['siteroot']}index.php?c=entry&i={$_W['uniacid']}&do=making&case_id={$activity_umi['case_id']}&m=umi_activitys&module={$_W['current_module']['name']}" style="color:#000;border: 1px solid #000;padding: 6px 16px;border-radius: 5px;text-decoration: none;">
                <span>我也要创建活动</span>
                <i class="iconfont icon-jiantou1" style="font-size: 12px"></i>
            </a>
        </div>
        {/if}
    </div>


    <div class="bg_fixed"></div>
    <div class="bg_fixed_sign" onclick="$('.open_signup,.bg_fixed_sign').fadeOut()"></div>
    <!--返回顶部-->
    <div class="go_top">
        <i class="iconfont icon-xiangshang active"></i>
        <div>顶部</div>
    </div>
    <!--查看更多团-->
    <div class="open_groups">
        <h4>正在拼单</h4>
        <div class="og_list" style="padding: 10px">
            {loop $groups $gdx $gv}
            <div class="g_detail flex flex_a_center">
                <img src="{$gv['avatar']}" alt="">
                <div class="flex1">
                    <p>{$gv['nickname']}</p>
                    <div class="ft10">还差 <span style="color: #FFC600;font-size: 12px">{php echo $gv['group_num']-$gv['now_num']}人</span>拼成</div>
                </div>
                <a class="go_detail" href="{php echo $this->createMobileurl('index',['activity_id'=>$activity_id,'fmid'=>$_GPC['fmid'],'op'=>'detail','id'=>$gv['id']])}">查看详情</a>
                <a href="javascript:;"  onclick="openSign(2,{$gv['id']})">立即参团</a>
            </div>
            {/loop}
        </div>
        <i onclick="$('.open_groups,.bg_fixed').fadeOut()" class="iconfont icon-Close"></i>
    </div>
    <!--分享-->
    <div class="open_share">
        <img src="{YOUMI_URL_APP}img/m_share.png" alt="">
        <div class="text_center" style="margin-bottom: 10px">————分享方式————</div>
        <div class="os_btns flex flex_a_center flex_j_around">
            <div class="text_center" onclick="tips('点击右上角分享给微信好友')">
                <img src="{YOUMI_URL_APP}img/m_weixin.png" alt="">
                <div>微信好友</div>
            </div>
            <div class="text_center" onclick="hecheng();">
                <img src="{YOUMI_URL_APP}img/m_pyq.png" alt="">
                <div>朋友圈</div>
            </div>
            <div class="osb_cancel" onclick="$('.open_share,.bg_fixed').fadeOut()">取消</div>
        </div>
    </div>
    <!--联系商家-->
    {template 'contact'}
    <!--提交信息-->
    {template 'signup'}
    <!--投诉-->
    {template 'complain'}
    <!--底部按钮-->
    <div class="a_footer flex flex_a_center">
        <div onclick="openConcat()" class="shop_detail">
            <i class="iconfont icon-dianhua"></i>
            <p class="ft12">电话</p>
        </div>
        <div onclick="openSign(3)" class="buy_dan">
            <div>￥<span>{$activity['single_price']}</span></div>
            <div class="ft16">单人购买</div>
        </div>
        <div onclick="openSign(1)" class="buy_tuan">
            <div>￥<span>{$activity['leader_price']}</span></div>
            <div class="ft16">我要开团</div>
        </div>
    </div>



</div>
{template 'canvas_share'}
<script>
    const NUMBER_OF_LEAVES = 10;
    const width=window.screen.width;
    function init(){
        var container = document.getElementById('leafContainer');
        for (var i = 0; i < NUMBER_OF_LEAVES; i++)
        {
            container.appendChild(createALeaf());
        }

    }
    function randomInteger(low, high)
    {
        return low + Math.floor(Math.random() * (high - low));
    }
    function randomFloat(low, high)
    {
        return low + Math.random() * (high - low);
    }
    function pixelValue(value)
    {
        return value + 'px';
    }

    function durationValue(value)
    {
        return value + 's';
    }
    function createALeaf()
    {
        var effects_imgs= {php echo json_encode($activity['effects_imgs'])};
        var leafDiv = document.createElement('div');
        var image = document.createElement('img');
        image.src = effects_imgs[randomInteger(0, 4)];
        leafDiv.style.top = "0";
        leafDiv.style.left = pixelValue(randomInteger(0, width));
        var spinAnimationName = (Math.random() < 1.5) ? 'clockwiseSpin' : 'counterclockwiseSpinAndFlip';
        leafDiv.style.webkitAnimationName = 'fade, drop';
        image.style.webkitAnimationName = spinAnimationName;
        var fadeAndDropDuration = durationValue(randomFloat(13, 39));
        var spinDuration = durationValue(randomFloat(3, 7));
        leafDiv.style.webkitAnimationDuration = fadeAndDropDuration + ', ' + fadeAndDropDuration;
        var leafDelay = durationValue(randomFloat(0, 0));
        leafDiv.style.webkitAnimationDelay = leafDelay + ', ' + leafDelay;
        image.style.webkitAnimationDuration = spinDuration;
        leafDiv.appendChild(image);
        return leafDiv;
    }
    window.addEventListener('load', init, false);
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function audioAutoPlay() {
            var audio = document.getElementById('audiojs');
            audio.play();
            document.addEventListener("WeixinJSBridgeReady", function () {
                audio.play();
            }, false);
        }
        audioAutoPlay();
    });
    if (/i(Phone|P(o|a)d)/.test(navigator.userAgent)) {
        $(document).one('touchstart',
            function(e) {
                $('#audiojs').get(0).touchstart = true;
                $('#audiojs').get(0).play();
                return false;
            }
        );
    }
    var goods={php echo json_encode($goods)};
    var audio=document.getElementsByTagName('audio')[0];
</script>
<script>
    $('.icon-music').click(function () {
        if(audio.paused){
            audio.play();
            $(this).addClass('active')
        }else{
            audio.pause();
            $(this).removeClass('active')
        }
    })
    $('.icon-mofabang').click(function(){
        if($(this).hasClass('active')){
            $(this).removeClass('active')
            $('#leafContainer').hide()
        }else{
            $(this).addClass('active')
            $('#leafContainer').show()
        }
    })


    countDown({php echo intval($activity['endtime']-time())})//时间戳相减
    //带天数的倒计时
    function countDown(times){
        var timer=null;
        timer=setInterval(function(){
            var day=0,
                hour=0,
                minute=0,
                second=0;//时间默认值
            if(times > 0){
                day = Math.floor(times / (60 * 60 * 24));
                hour = Math.floor(times / (60 * 60)) - (day * 24);
                minute = Math.floor(times / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(times) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (day <= 9) day = '0' + day;
            if (hour <= 9) hour = '0' + hour;
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;
            //
            $('.act_day').html(day)
            $('.act_hour').html(hour)
            $('.act_min').html(minute)
            $('.act_sec').html(second)
            // console.log(day+"天:"+hour+"小时："+minute+"分钟："+second+"秒");
            times--;
        },1000);
        if(times<=0){
            clearInterval(timer);
        }
    }

    var startX,startY;
    // 返回顶部
    // $("body").on("touchstart", function(e) {
    //     e.preventDefault();
    //     startX = e.originalEvent.changedTouches[0].pageX;
    //     startY = e.originalEvent.changedTouches[0].pageY;
    // });
    // $("body").on("touchmove", function(e) {
    //     e.preventDefault();
    //     moveEndX = e.originalEvent.changedTouches[0].pageX,
    //     moveEndY = e.originalEvent.changedTouches[0].pageY,
    //     X = moveEndX - startX,
    //     Y = moveEndY - startY;
    //
    //     if(document.documentElement.scrollTop>100){
    //         $('.go_top').fadeIn()
    //     }else{
    //         $('.go_top').fadeOut()
    //     }
    //     if(Y>20||Y<-20){
    //         $('.a_footer').fadeOut()
    //         setTimeout(function () {
    //             $('.a_footer').fadeIn()
    //         },300)
    //     }
    //
    //     var scrollTop = document.documentElement.scrollTop;
    //     var scrollHeight = $(document).height();
    //     var windowHeight = $('body').height();
    //     if(scrollTop + windowHeight == scrollHeight){
    //         // alert("已经到最底部了！");
    //     }
    // });
    $('.go_top').click(function(){
        $(window).scrollTop(0);
        $('.go_top').fadeOut()
    })

    // 提示
    function tips(txt){
        $('.tips').html(txt).fadeIn()
        setTimeout(function(){$('.tips').fadeOut()},1500);
    }

    //报名
    function openSign(type,id){
        $('.open_groups,.bg_fixed').fadeOut();
        var kj_userinfo=JSON.parse(localStorage.getItem('bm_userinfo'))
        if(!!kj_userinfo){
            $($(".os_input").eq(0)).find('input').val(kj_userinfo.realname)
            $($(".os_input").eq(1)).find('input').val(kj_userinfo.mobile)
        }
        var clsname=".os_change[data-type='"+type+"']";
        $(clsname).show();
        $('.open_signup,.bg_fixed_sign').fadeIn();
        $('.open_signup').attr('data-id',id).attr('data-type',type);
    }

    console.log('$activity',{php echo json_encode($activity)})
    console.log('$records',{php echo json_encode($records)})
    console.log('$groups',{php echo json_encode($groups)})
    console.log('$member',{php echo json_encode($member)})
</script>
<script type="text/javascript">
    var time1=Date.parse(new Date()),time2=Date.parse(new Date()),time3=Date.parse(new Date()),time4=Date.parse(new Date());
    var records={php echo json_encode($records)}||'';
    for(var i=0;i<records.length;i++){
        danmu(records[i],i);
    }
    function danmu(records,i){
        var bullet = $("<div><img src='"+records['avatar']+"' alt=''><span>"+records['tips']+"</span></div>");
        //生成一条弹幕
        // bullet.text(txt);
        //将输入框内容放置到div中
        bullet.addClass("bullet");
        var top=0;
        switch (i)
        {
            case 1:case 5:case 9:case 13:case 17:case 21:case 25:
            top=10;
            break;
            case 2:case 6:case 10:case 14:case 18:case 22:case 26:
            top=45;
            break;
            case 3:case 7:case 11:case 15:case 19:case 23:case 27:
            top=85;
            break;
            default:
                top=120;
                break;
        }
        //为bullet这个div添加样式bullet
        bullet.css("top",top+'px');
        //随机设置弹幕位置
        bullet.css("left","500px");
        // bullet.css("font-size",Math.round(Math.random()*60)+12+"px");
        if(records['status']==2) {
            bullet.css("color", "#FD6E4A");
        }
        setTimeout(function () {
            switch (i)
            {
                case 1:case 5:case 9:case 13:case 17:case 21:case 25:
                if(Date.parse(new Date())-time1>2000){
                    $(".dm_content").append(bullet);
                    time1= Date.parse(new Date())
                };
                break;
                case 2:case 6:case 10:case 14:case 18:case 22:case 26:
                if(Date.parse(new Date())-time2>2000){
                    $(".dm_content").append(bullet);
                    time2= Date.parse(new Date())
                };
                break;
                case 3:case 7:case 11:case 15:case 19:case 23:case 27:
                if(Date.parse(new Date())-time3>2000){
                    $(".dm_content").append(bullet);
                    time3= Date.parse(new Date())
                };
                break;
                default:
                    if(Date.parse(new Date())-time4>2000){
                        $(".dm_content").append(bullet);
                        time4= Date.parse(new Date())
                    };
                    break;
            }
            bullet.animate({
                left:-900//此处视为bug，应该随着弹幕的长短而变化
            },18000,"linear", function(){
                bullet.remove();
                danmu(records,i)
            });
        },Math.random()*10000)
        //将弹幕添加到屏幕中
    }
    var regional=true;
    function map_click(lng,lat){
        $.post(
            "{php echo $this->createMobileUrl('index',['op'=>'regional'])}",
            {
                'lng': lng,
                'lat': lat,
                'activity_id':"{$activity_id}"
            },
            function (data) {
                if(data.errno==1){
                    tips(data.message,3000);
                    regional=false;
                }else{
                    regional=true;
                }
            }, 'json'
        );
    }
</script>
<script>
    // 公告
    function timer(opj){
        $(opj).find('ul').animate({
            marginTop : "-65px"
        },500,function(){
            $(this).css({marginTop : "1px"}).find("li:first").appendTo(this);
        })
    }
    var num = $('.notice_active').find('li').length;
    if(num > 5){
        var time=setInterval('timer(".notice_active")',2000);
        $('.gg_more a').mousemove(function(){
            clearInterval(time);
        }).mouseout(function(){
            time = setInterval('timer(".notice_active")',2000);
        });
    }
</script>
{template 'footer'}
