<style>
    ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #333;
    }
    .open_signup,.open_userinfo{
        position: fixed;
        bottom: 0;
        background: #FFC700;
        color: #111;
        width: 100%;
        left: 0;
        z-index: 20;
        display: none;
    }
    .open_signup h4,.open_userinfo h4{
        text-align: center;
        background: #000;
        color: #FFC600;
        margin: 0;
        padding: 12px;
    }
    .open_signup div,.open_userinfo div{
        margin-bottom: 10px;
    }
    .os_btn{
        display: block;
        font-size: 18px;
        padding: 3%;
        margin-top: 20px;
        color: #FFC600;
        background: #000;
        border-radius: 50px;
    }
    .os_change{
        text-align: center;
        border: 1px solid #000;
        border-radius: 50px;
        padding: 4px;
        display: none;
    }
    .os_change.active{
        background: #000;
        color: #FFC600;
    }
</style>
<div class="open_signup">
    <h4>距离参加活动只剩一步啦!</h4>
    <div style="padding: 3%;">
        <div data-type="3" class="os_change active">单独购买价￥{$activity['single_price']}</div>
        <div data-type="1" class="os_change active">我要开团·{$activity['group_num']}人 拼团价￥{$activity['leader_price']}</div>
        <div data-type="2" class="os_change active">我要参团·{$activity['group_num']}人 参团价￥{$activity['group_price']}</div>
        {loop $activity['userinfo'] $av}
        {if !empty($av['title'])}
        <div class="os_input">
            <input class="osi_input" type="text" data-name="{$av['title']}" data-required="{if $av['checked']=='on'||$av['checked']=='true'}1{else}-1{/if}" value="" placeholder="请输入{$av['title']}{if $av['checked']=='on'||$av['checked']=='true'}(必填){/if}">
        </div>
        {/if}
        {/loop}
        <a href="javascript:;" class="os_btn a_btn">立即参与活动</a>
    </div>
</div>
<div class="open_userinfo">
    <div>
        <h4>我的参团信息</h4>
        <div class="oc_name">
            <i class="iconfont icon-man"></i>
            <span>{$cut['realname']}</span>
        </div>
        <div class="oc_mobile">
            <i class="iconfont icon-dianhua"></i>
            <span>{$cut['mobile']}</span>
        </div>
        {if !empty($cut['userinfo'])}
        <div class="oc_mobile">
            <i class="iconfont icon-tubiao-qiapian"></i>
            <span>{$cut['userinfo']}</span>
        </div>
        {/if}
    </div>
</div>
<script>
    $('.os_change').click(function () {
        $('.os_change').removeClass('active');
        $(this).addClass('active');
    });
    var canPay=true;
    $('.os_btn').click(function () {
        if(!canPay){
            return false;
        }
        if(!regional){tips('您不在活动区域范围内');return false;}
        var realname=$($(".os_input").eq(0)).find('input').val();
        var mobile=$($(".os_input").eq(1)).find('input').val();
        var userinfo='';

        var tip=false;
        if(realname==''){
            tips('请输入姓名');
            return false;
        }
        if(mobile==''){
            tips('请输入手机号');
            return false;
        }
        var myreg = /^(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(16[0-9]{1})|(17[0-9]{1})|(18[0-9]{1})|(19[0-9]{1}))+\d{8})$/;
        if(!myreg.test(mobile))
        {
            tips('请输入有效的手机号码');
            return false;
        }
        if($('.os_input input').length>2){
            for (var i=2;i<$('.os_input input').length;i++){
                var i_val=$($('.os_input input')[i]).val()
                var i_name=$($('.os_input input')[i]).attr('data-name')
                userinfo+=i_name+':'+i_val+' ;'
                if(i_val==''&&$($('.os_input input')[i]).attr('data-required')=='1'){
                    tips('请输入'+i_name)
                    tip=true;
                    break;
                    return false;
                }
            }
        }
        if(tip){
            return false;
        }
        canPay=false;
        localStorage.setItem('bm_userinfo',JSON.stringify({'realname':realname,'mobile':mobile}))
        $.post(
            "{php echo $this->createMobileUrl('order',['op'=>'create_order'])}",
            {
                'activity_id':"{$activity_id}",
                'realname':realname,
                'mobile':mobile,
                'userinfo':userinfo,
                'type':$('.open_signup').attr('data-type'),//1:开团 2:团购 3.:单买
                'group_id':$('.open_signup').attr('data-id'),
                'fmid':"{$_GPC['fmid']}"
            },
            function (data) {
                var group_id=data.data.group_id;
                if(!!data.data.id) {
                    var order_id=data.data.id;
                    $.post(
                        "{php echo $this->createMobileUrl('pay')}",
                        {
                            'order_id': data.data.id
                        },
                        function (data) {
                            if (data.errno == 0) {
                                console.log(data)
                                WeixinJSBridge.invoke(
                                    'getBrandWCPayRequest', {
                                        "appId":data.data.appId,     //公众号名称，由商户传入
                                        "timeStamp":data.data.timeStamp,         //时间戳，自1970年以来的秒数
                                        "nonceStr":data.data.nonceStr, //随机串
                                        "package":data.data.package,
                                        "signType":data.data.signType,         //微信签名方式：
                                        "paySign":data.data.paySign //微信签名
                                    },
                                    function(res){
                                        if(res.err_msg == "get_brand_wcpay_request:ok"){
                                            if($('.open_signup').attr('data-type')==3){
                                                location.href="{php echo $this->createMobileurl('order')}"
                                            }else{
                                                location.href="{php echo $this->createMobileurl('index',['activity_id'=>$activity_id,'fmid'=>$_GPC['fmid'],'op'=>'detail'])}&id="+group_id
                                            }
                                        }else{
                                            $.post(
                                                "{php echo $this->createMobileUrl('order',['op'=>'cancel'])}",
                                                {
                                                    'order_id': order_id
                                                },
                                            )
                                        }
                                    });
                            }else {
                                tips(data.message)
                            }
                        }, 'json'
                    );
                }else if(data.errno == 2){
                    tips(data.message);
                    setTimeout(function () {
                        setTimeout(function () {
                            location.href="{php echo $this->createMobileurl('index',['activity_id'=>$activity_id,'fmid'=>$_GPC['fmid'],'op'=>'detail'])}&id="+data.data.group_id
                        },2000)
                    },1500)
                } else{
                    tips(data.message);
                }
                setTimeout(function () {
                    canPay=true;
                },5000)
            }, 'json'
        )
    })
</script>