{template 'common/header'}
<link rel="stylesheet" href="{YOUMI_URL_APP}css/common.css">
<link rel="stylesheet" href="{YOUMI_URL_APP}css/animate.min.css">
<style>
    .text-center.footer{
        display: none;
    }
    #tips{
        width: 40%;
        position: fixed;
        top: 15%;
        left: 30%;
        padding: 10px 0;
        background: #aaa;
        color: #fff;
        z-index: 999;
        text-align: center;
        border-radius: 10px;
        display: none;
    }
    .c_game img{
        position: absolute;
        z-index: 3;
    }
    .bg{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1!important;
    }
    .title1{
        width: 25%;
        top: 2%;
        left: 5%;
        -webkit-animation: point 1s linear 1s infinite;
    }
    @-webkit-keyframes point {
        0% {
            transform:scale(0.8);
        }
        50%{ transform:scale(1);}
        100% {
            transform:scale(0.8);
        }
    }
    @-webkit-keyframes shan {
        0% {
            opacity:0.5;
        }
        50%{ opacity:1;}
        100% {
            opacity:0.5;
        }
    }
    .rules2{
        -webkit-animation: shan 0.8s linear 0.5s infinite;
    }
    .rules,.rules1,.rules2{
        width: 50%;
        top: 8%;
        left: 25%;
    }
    .rules3{
        width: 90%;
        left: 5%;
        top: 70%;
    }
    .start,.stop{
        width: 26%;
        left: 37%;
        top: 62%;
    }
    .times{
        position: absolute;
        z-index: 5;
        color: #fff;
        font-size: 3.5rem;
        top: 27%;
        left: 0;
        /*font-weight: 900;*/
        width: 100%;
        text-align: center;
        height: 10rem;
        line-height: 10rem;
        /*margin-left: 23%;*/
    }
    .form_input{
        position: absolute;
        z-index: 30;
        width: 64%;
        left: 16%;
        top: 43%;
        color: #555;
        text-align: center;
        display: none;
    }
    .jiang_img{
        position: absolute;
        z-index: 30;
        width: 58%;
        left: 21%;
        top: 28%;
        display: none;
    }
    body .realname{
        display: inline-block;
        width: 55%;
        height: 25px;
        border-radius: 30px;
        margin-left: 5px;
        border: 1px solid #ddd;
        text-align: center;
    }
    body .mobile{
        display: inline-block;
        width: 55%;
        height: 25px;
        border-radius: 30px;
        margin-left: 5px;
        margin-top: 2%;
        border: 1px solid #ddd;
        margin-bottom: 2%;
        text-align: center;
    }
    .instructions{
        position: absolute;
        top: 10%;
        width: 80%;
        left: 10%;
        z-index: 28;
        display: none;
    }
    input[type=text]{
        margin-bottom: 5px;
    }
    .jiang{
        position: absolute;
        width: 80%;
        right: 10%;
        z-index: 28;
        top: 10%;
        display: none;
    }
    .envelope{
        display: block;
        width: 80%;
        position: inherit;
        z-index: 28;
        margin-left: 10%;
        margin-top: -70%;
    }
    .envelope_1{
        position: relative;
        display: none;
    }
    .e_money{
        position: absolute;
        top: 58%;
        z-index: 30;
        left: 38%;
        font-size: 1.8rem;
        font-weight: 900;
        color: #fa1339;
        width: 24%;
        text-align: center;
    }
    .jiang_btn{
        width: 42%;
        margin-left: 3%;
        margin-top: 2%;
    }
    .i_close{
        position: absolute;
        top: 10%;
        width: 10%;
        right: 13%;
        z-index: 28;
        display: none;
    }
    .v_close{
        position: absolute;
        top: 18%;
        width: 10%;
        right: 17%;
        z-index: 28;
        display: none;
    }
    .instructions_bg,.sharef_bg,.shareq_bg,.jiang_bg,.envelope_bg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 25;
        background: rgba(0,0,0,0.65);
        display: none;
    }
    .sharef,.shareq{
        position: absolute;
        width: 15%;
        top: 0;
        right: 0;
        z-index: 30;
        display: none;
    }
    .c_results{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
        {if !empty($activity['bgimage_my'])}
        background: url("{$activity['bgimage_my']}");
        {else}
        background: url("{YOUMI_URL_APP}images/3_bgr.png");
        {/if}
        background-size: 100% 100%;
        text-align: center;
        display: none;
    }
    .c_results>div{
        background: rgba(62,132,181,0.25);
        border-radius: 10px;
        padding: 4%;
        position: relative;
        width: 80%;
        margin-left: 10%;
        margin-top: 0;
        box-sizing: border-box;
    }
    .title3{
        width: 80%;
        margin-top: 5%;
    }
    .list_btn{
        width: 20%;
        top: 3%;
        right: 5%;
    }
    p{
        color: #fff;
        margin-bottom: 3px;
        font-size: 12px;
    }
    .abg{
        width: 45%;
        background: url("{YOUMI_URL_APP}images/a_bg.png");
        background-size: 100% 100%;
    }
    .avatar{
        position: absolute;
        top: 9%;
        left: 38%;
        width: 24%;
        border-radius: 50%;
        border: 2px solid #fff;
    }
    .goonbtn,.shareqbtn{
        width: 50%;
        margin-top: 6%;
    }
    .title4{
        width: 80%;
    }
    .sharefbtn,.listbtn{
        width: 35%;
    }
    .music{
        position: fixed;
        right: 6%;
        top: 10%;
        border:1px solid #fff;
        z-index: 10;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: url({YOUMI_URL_APP}images/aaa.png) no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .muc{
        background: url({YOUMI_URL_APP}images/aaa.gif) no-repeat;
        background-size: cover;
        animation: change 1s linear 0s infinite;
        -moz-animation: change 1s linear 0s infinite;
        -webkit-animation: change 1s linear 0s infinite;
        -o-animation: change 1s linear 0s infinite;
    }
    @-webkit-keyframes change {
        from {
            transform: rotate(0deg)
        }
        to {
            transform: rotate(360deg)
        }
    }
    @-webkit-keyframes change1 {
        0% {
            transform: rotate(0deg);
            opacity: 0.5;

        }
        50% {
            transform: rotate(180deg);
            opacity: 1;
        }
        100%{
            transform: rotate(360deg);
            opacity: 0.5;
        }
    }
    .t_bg,.t_bg1,.t_bg2{
        position: absolute;
        z-index: 3;
        width: 70%;
        top: 20%;
        left: 15%;
    }
    .t_bg1{
        position: inherit!important;
    }
    .t_bg2{
        -webkit-animation: change1 2s linear 0s infinite;
        width: 54%;
        left: 23%;
        top: 6.4%;
    }

    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){
        .timee{
            margin-top: 40%;
        }
    }
    .bg_fixed{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        display: none;
    }
</style>
<div id="music" class="music muc">
    <audio id="audiojs" src="{$activity['music']}" autoplay loop></audio>
</div>
<div id="tips"></div>
{template 'signup'}
<div class="bg_fixed"></div>
<div class="c_game">
    {if !empty($activity['bgimage3'])}
    <img class="bg" src="{$activity['bgimage3']}" alt="">
    {else}
    <img class="bg" src="{YOUMI_URL_APP}images/3_bg.png" alt="">
    {/if}
    <img onclick="goList()" class="list_btn" src="{YOUMI_URL_APP}images/list_btn.png" alt="">
    <img onclick="$('.instructions_bg,.instructions,.i_close').fadeIn()" class="title1" src="{YOUMI_URL_APP}images/3_title.png" alt="">
    {if !empty($activity['title3'])}
    <img class="rules1" src="{$activity['title3']}" alt="">
    {else}
    <img class="rules1" src="{YOUMI_URL_APP}images/rules1_4.png" alt="">
    {/if}
    <img onclick="starting()" class="start" src="{YOUMI_URL_APP}images/3_start1.png" alt="">
    <img onclick="stoping()" class="stop" style="display: none" src="{YOUMI_URL_APP}images/3_stop1.png" alt="">
    <div class="timee" style="position: relative;margin-top: 30%;">
        <img class="t_bg1" src="{YOUMI_URL_APP}images/time_bg1.png" alt="">
        <img class="t_bg2" src="{YOUMI_URL_APP}images/time_bg3.png" alt="">
        <div id="timer1" class="times">0.0000</div>
    </div>
    <img class="rules3" src="{$activity['rule3']}" alt="">

    <!--<style>-->
        <!--.fb_tip{-->
            <!--padding: 1% 5%;-->
            <!--background: rgba(0,0,0,0.7);-->
        <!--}-->
    <!--</style>-->
    <!--<a href="{$setting['copyright_url']}" class="fb_tip flex flex_j_around flex_a_center ft16">-->
        <!--<div class="color_fff">{$setting['copyright']}</div>-->
        <!--{if $setting['copyright_buy']}<span>去购买</span>{/if}-->
    <!--</a>-->
</div>

<div class="c_results">
    <img class="title3" src="{YOUMI_URL_APP}images/3_title3.png" alt="">
    <div>
        <img class="abg" src="{YOUMI_URL_APP}images/a_bg.png" alt="">
        <img class="avatar" src="{$_W['fans']['avatar']}" alt="">
        <p style="font-size: 18px;margin-bottom: 2%">{$_W['fans']['nickname']}</p>
        <p>本次获得的称号</p>
        <p><img style="max-height: 40px;" class="r_honor" src="" alt=""></p>
        <p>击败了全国<span class="r_r1"></span>%的选手</p>
        <p>最好成绩: <span class="r_r2" style="color: #fffa65">10.0000</span>s</p>
        <p>我的全球排名: <span class="r_r3" style="color: #7dffbd">1</span></p>
    </div>
    <img onclick="contin()" class="goonbtn" src="{YOUMI_URL_APP}images/3_goon_btn.png" alt="">
    <img onclick="$('.shareq_bg,.shareq').fadeIn()" class="shareqbtn" style="margin-top: 0;" src="{YOUMI_URL_APP}images/3_shareq.png" alt="">
    <img class="title4" src="{YOUMI_URL_APP}images/3_title4_1.png" alt="">
    <img onclick="$('.sharef_bg,.sharef').fadeIn()" style="margin-right: 10%" class="sharefbtn" src="{YOUMI_URL_APP}images/3_sharef1.png" alt="">
    <img onclick="goList()" class="listbtn" src="{YOUMI_URL_APP}images/3_list.png" alt="">
</div>
<!--活动须知-->
<div class="instructions_bg"></div>
<img class="instructions" src="{$activity['desc3']}" alt="">
<img onclick="$('.instructions_bg,.instructions,.i_close').fadeOut()" class="i_close" src="{YOUMI_URL_APP}images/close.png" alt="">
<!--优惠券-->
<div class="jiang_bg"></div>
<img class="jiang" src="{YOUMI_URL_APP}images/3_vouchers1.png" alt="">
<img onclick="$('.jiang_bg,.jiang,.v_close,.jiang_img').fadeOut()" class="v_close" src="{YOUMI_URL_APP}images/v_close.png" alt="">
<img class="jiang_img" src="" alt="">
<!--<div class="form_input">-->
    <!--<div>-->
        <!--<span>姓名:</span>-->
        <!--<input type="text" class="realname" placeholder="在此输入" value="{$umi_member['realname']}">-->
    <!--</div>-->
    <!--<div>-->
        <!--<span>电话:</span>-->
        <!--<input type="tel" class="mobile" placeholder="在此输入" value="{$umi_member['mobile']}">-->
    <!--</div>-->
    <!--<img class="jiang_btn" src="{YOUMI_URL_APP}images/3_vouchers_btn.png" alt="">-->
<!--</div>-->

<!--红包-->
<div class="envelope_bg"></div>
<div class="envelope_1">
    <img class="envelope" src="{YOUMI_URL_APP}images/3_envelope.png" alt="">
    <img onclick="$('.envelope_bg,.envelope_1,.v_close').fadeOut()" class="v_close" src="{YOUMI_URL_APP}images/v_close.png" alt="">
    <div class="e_money"></div>
</div>
<!--分享-->
<div onclick="$('.sharef_bg,.sharef').fadeOut()" class="sharef_bg"></div>
<img onclick="$('.sharef_bg,.sharef').fadeOut()" class="sharef" src="{YOUMI_URL_APP}images/share_f1.png" alt="">
<div onclick="$('.shareq_bg,.shareq').fadeOut()" class="shareq_bg"></div>
<img onclick="$('.shareq_bg,.shareq').fadeOut()" class="shareq" src="{YOUMI_URL_APP}images/share_q.png" alt="">

<script>
    var submit=localStorage.getItem('submit');
    if(submit){
        $('.realname').val(JSON.parse(submit).realname);
        $('.mobile').val(JSON.parse(submit).mobile);
    }
    var running=3;  //1停止  2继续  3置空
        var list = [],
            interval;

        function addTimer(id,timeStamp){
            // if(!interval){
                interval = setInterval(go,1);
            // }
            list.push({ele:document.getElementById(id),time:timeStamp});
        }

        function go() {
            if(running==2) {
                for (var i = 0; i < list.length; i++) {
                    list[i].ele.innerHTML = changeTimeStamp(list[i].time);
                    if (!list[i].time)
                        list.splice(i--, 1);
                }
            }else if(running==1){
                var b = new Base64();
                var str = b.encode($('#timer1').html());
                clearInterval(interval);
                $.ajax({
                    url: "{php echo $this->createMobileUrl('index',['op'=>'games'])}",
                    type: "POST",
                    dataType: "json",
                    data: {'gtalk': str,"activity_id":"{$_GPC['activity_id']}"},
                    async: false,
                    success: function (data) {
                        if(data.errno==0){
                            if(data.message){tips(data.message)};
                            var timeg=Number(data.data.record.sj);
                            var imgn=1;
                            if(timeg>=9.98&&timeg<=10.02){
                                imgn=7;
                            }else if(timeg>=9.9&&timeg<=10.1){
                                imgn=6;
                            }else if(timeg>=9.8&&timeg<=10.2){
                                imgn=5;
                            }else{
                                imgn=Math.ceil(Math.random()*4);
                            }
                            setTimeout(function(){
                                $('.r_honor').attr('src','{YOUMI_URL_APP}images/honor'+imgn+'.png')
                                $('.r_r1').html(data.data.recording.scale);
                                $('.r_r2').html(data.data.recording.sj);
                                $('.r_r3').html(data.data.recording.no);
                                $('.c_results').fadeIn();
                                if (data.data.prize_status == 1) {//红包
                                    $('.envelope_bg,.envelope_1,.v_close').fadeIn()
                                    $('.e_money').html(data.data.res.reward_money + '元');
                                }else if (data.data.prize_status == 2) {//奖品
                                    if(data.log.status==1) {
                                        $('.jiang_img').attr('src', data.log.image);
                                        $('.jiang_bg,.jiang,.v_close,.jiang_img').fadeIn()
                                    }
                                }
                            },1800);
                        }else{
                            tips(data.message)
                        }
                    }
                });

            }
        }

        //传入unix时间戳，得到倒计时
        function changeTimeStamp(timeStamp){
            var distancetime =  new Date().getTime()-new Date(timeStamp).getTime();
            if(running==2){
                //如果大于0.说明尚未到达截止时间
                var ms = Math.floor(distancetime%1000);
                var sec = Math.floor(distancetime/1000%60);

                ms = ms+'0';
                if(sec==59) {
                    location.reload();
                }else{
                    return sec + "." + ms;
                }
            }
        }

    function starting() {
        if(running==3) {
            $.ajax({
                url: "{php echo $this->createMobileUrl('index',['op'=>'start_game'])}",
                type: "POST",
                data:{"activity_id":"{$_GPC['activity_id']}"},
                dataType: "json",
                async: false,
                success: function (data) {
                    if(data.errno==1){
                        // $('.start').hide();
                        // $('.stop').show();
                        tips(data.message);
                        // running=2;
                    }else if(data.errno==2){
                        $('.open_signup,.bg_fixed').fadeIn()
                    }else{
                        running=2;
                        addTimer("timer1", new Date().getTime());
                        $('.start').hide();
                        $('.stop').show();
                    }
                }
            });
        }
    }
    function stoping() {
        running=1;
    }

    function contin(){
        $('.stop').hide();
        $('.start').show();
        running=3;
        $('#timer1').html('0.0000');
        $('.c_results').fadeOut();
    }
    function goList(){
        location.href="{php echo $this->createMobileUrl('index',['op'=>'list','activity_id'=>$_GPC['activity_id']])}"
    }
    function tips(txt){
        $('#tips').html(txt).slideDown();
        setTimeout(function(){$('#tips').fadeOut()},2500);
    }

    $('.jiang_btn').click(function(){
        var realname=$('.realname').val();
        var mobile=$('.mobile').val();
        if(!realname){
            tips('请填写姓名');
            return;
        }
        if(!mobile){
            tips('请填写手机号');
            return;
        }
        if(!(/^1[3|4|5|6|7|8][0-9]\d{8}$/.test(mobile))){
            tips('手机号码有误');
            return false;
        }
        $.post(
            "{php echo $this->createMobileUrl('index',['op'=>'submit'])}",
            {realname:realname,mobile:mobile,'activity_id':"{$_GPC['activity_id']}"},
            function(res){
                tips(res.message);
                if(res.errno==0){
                    localStorage.setItem('submit',JSON.stringify({realname:realname,mobile:mobile}))
                }
            },'json'
        )
    });


    document.addEventListener('DOMContentLoaded', function () {
        function audioAutoPlay() {
            var audio = document.getElementById('audiojs');
            audio.play();
            document.addEventListener("WeixinJSBridgeReady", function () {
                audio.play();
            }, false);
        }
        audioAutoPlay();
    });
    if (/i(Phone|P(o|a)d)/.test(navigator.userAgent)) {
        $(document).one('touchstart',
            function(e) {
                $('#audiojs').get(0).touchstart = true;
                $('#audiojs').get(0).play();
                return false;
            });
    }
    var audio = document.getElementById('audiojs');
    $('#music').click(function(){
        if(audio.paused){
            audio.play();
            $(this).attr('class','music muc')
        }else{
            audio.pause();
            $(this).attr('class','music')
        }
    });
</script>
<script>
    /**
     *
     * Base64 encode / decode
     *
     * @author haitao.tu
     * @date 2010-04-26
     * @email tuhaitao@foxmail.com
     *
     */
    function Base64() {
        // private property
        _keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
        // public method for encoding
        this.encode = function (input) {
            var output = "";
            var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
            var i = 0;
            input = _utf8_encode(input);
            while (i < input.length) {
                chr1 = input.charCodeAt(i++);
                chr2 = input.charCodeAt(i++);
                chr3 = input.charCodeAt(i++);
                enc1 = chr1 >> 2;
                enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
                enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
                enc4 = chr3 & 63;
                if (isNaN(chr2)) {
                    enc3 = enc4 = 64;
                } else if (isNaN(chr3)) {
                    enc4 = 64;
                }
                output = output +
                    _keyStr.charAt(enc1) + _keyStr.charAt(enc2) +
                    _keyStr.charAt(enc3) + _keyStr.charAt(enc4);
            }
            return output;
        }
        // public method for decoding
        this.decode = function (input) {
            var output = "";
            var chr1, chr2, chr3;
            var enc1, enc2, enc3, enc4;
            var i = 0;
            input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");
            while (i < input.length) {
                enc1 = _keyStr.indexOf(input.charAt(i++));
                enc2 = _keyStr.indexOf(input.charAt(i++));
                enc3 = _keyStr.indexOf(input.charAt(i++));
                enc4 = _keyStr.indexOf(input.charAt(i++));
                chr1 = (enc1 << 2) | (enc2 >> 4);
                chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
                chr3 = ((enc3 & 3) << 6) | enc4;
                output = output + String.fromCharCode(chr1);
                if (enc3 != 64) {
                    output = output + String.fromCharCode(chr2);
                }
                if (enc4 != 64) {
                    output = output + String.fromCharCode(chr3);
                }
            }
            output = _utf8_decode(output);
            return output;
        }
        // private method for UTF-8 encoding
        _utf8_encode = function (string) {
            string = string.replace(/\r\n/g,"\n");
            var utftext = "";
            for (var n = 0; n < string.length; n++) {
                var c = string.charCodeAt(n);
                if (c < 128) {
                    utftext += String.fromCharCode(c);
                } else if((c > 127) && (c < 2048)) {
                    utftext += String.fromCharCode((c >> 6) | 192);
                    utftext += String.fromCharCode((c & 63) | 128);
                } else {
                    utftext += String.fromCharCode((c >> 12) | 224);
                    utftext += String.fromCharCode(((c >> 6) & 63) | 128);
                    utftext += String.fromCharCode((c & 63) | 128);
                }
            }
            return utftext;
        }
        // private method for UTF-8 decoding
        _utf8_decode = function (utftext) {
            var string = "";
            var i = 0;
            var c = c1 = c2 = 0;
            while ( i < utftext.length ) {
                c = utftext.charCodeAt(i);
                if (c < 128) {
                    string += String.fromCharCode(c);
                    i++;
                } else if((c > 191) && (c < 224)) {
                    c2 = utftext.charCodeAt(i+1);
                    string += String.fromCharCode(((c & 31) << 6) | (c2 & 63));
                    i += 2;
                } else {
                    c2 = utftext.charCodeAt(i+1);
                    c3 = utftext.charCodeAt(i+2);
                    string += String.fromCharCode(((c & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63));
                    i += 3;
                }
            }
            return string;
        }
    }
    var regional=true;
    function map_click(lng,lat){
        $.post(
            "{php echo $this->createMobileUrl('index',['op'=>'regional'])}",
            {
                'lng': lng,
                'lat': lat,
                'activity_id':"{$activity_id}"
            },
            function (data) {
                if(data.errno==1){
                    tips(data.message,3000);
                    regional=false;
                }else{
                    regional=true;
                }
            }, 'json'
        );
    }
    console.log({php echo json_encode($activity)})
</script>
{template 'footer'}