{template 'header'}
<style>
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
        vertical-align: middle;
    }
    .layui-table-view .layui-table{
        width: 100%;
        height: auto;
    }
    .layui-table-cell{
        height: auto;

    }
</style>
<div class="layui-tab layui-tab-brief site-demo-table">
    <ul class="layui-tab-title site-demo-title" style="margin-bottom: 20px">
        <li class="layui-this">
        <a href="javascript:;">报名管理</a>
        </li>
    </ul>
    <div class="panel-default" >
        <div class="panel-heading">查询</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
                <input type="hidden" name="c" value="site">
                <input type="hidden" name="a" value="entry">
                <input type="hidden" name="m" value="{YOUMI_NAME}">
                <input type="hidden" name="do" value="cuts">
                <input type="hidden" name="module" value="{$_GPC['module']}">
                <input type="hidden" name="activity_id" value="{$_GPC['activity_id']}">

                <div class="form-group">
                    <label class="col-md-1 col-lg-1 control-label">状态</label>
                    <div class="col-md-2" style="margin-bottom: 15px">
                        <select name="status" class="form-control">
                            <option value="">--所有--</option>
                            <option {if $status==1}selected{/if} value="1">待付款</option>
                            <option {if $status==2}selected{/if} value="2">已付款</option>
                            <option {if $status==3}selected{/if} value="3">已核销</option>
                            <option {if $status==4}selected{/if} value="4">已取消</option>
                            <option {if $status==5}selected{/if} value="5">已退款</option>
                        </select>
                    </div>
                    <input type="hidden" name="shop_id" value="{$_GPC['shop_id']}">
                    <input type="hidden" name="module" value="{$_GPC['module']}">
                    <div class="col-md-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                        <a href="{php echo $this->createWebUrl('cuts',['activity_id'=>$activity_id,'module'=>$_GPC['module'],'shop_id'=>$_GPC['shop_id'],'isdownload'=>'1','status'=>$_GPC['status'],'keyword'=>$_GPC['keyword']])}" class="btn btn-default"><i class="fa fa-download"></i> 导出</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {if $list}
    <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" lay-id="test" style=" ">
        <div class="layui-table-box">
            <div class="layui-table-header">
                <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
                    <thead>
                    <tr>
                        <th align="right">
                            <div class="layui-table-cell"><span>商家</span></div>
                        </th>
                        <th align="right">
                            <div class="layui-table-cell"><span>用户</span></div>
                        </th>
                        <th align="right">
                            <div class="layui-table-cell"><span>信息</span></div>
                        </th>
                        <th align="right">
                            <div class="layui-table-cell"><span>价格</span></div>
                        </th>
                        <th align="right">
                            <div class="layui-table-cell"><span>状态</span></div>
                        </th>
                        <th align="right">
                            <div class="layui-table-cell"><span>报名时间</span></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="level-list">
                    {loop $list $index $item}   
                    <tr>
                        <td align="center">
                            <div class="layui-table-cell">{$activity['title']}</div>
                        </td>
                        
                        <td align="center">
                            <div class="layui-table-cell">
                                <img style="width: 40px;height: 40px;border-radius: 50%" src="{$item['avatar']}" alt=""><br>
                                {$item['realname']} <br>
                                {$item['mobile']}
                            </div>
                        </td>
                        
                        <td align="center">
                            <div class="layui-table-cell">{$item['userinfo']}</div>
                        </td>
                        <td align="center">
                            <div class="layui-table-cell">{$item['price']}</div>
                        </td>

                        <td align="center">
                            <div class="layui-table-cell">{$item['statusname']}</div>
                        </td>
                        
                        <td align="center">
                            <div class="layui-table-cell">{if $item['createtime']}{php echo date('Y-m-d H:i' , $item['createtime'])}{else}{/if}</div>
                        </td>
                    </tr>
                    {/loop}
                    <tr>
                        <td colspan="9" align="right">共计{$total}条数据</td>
                    </tr>
                    {if $pager}
                    <tr>
                        <td colspan="9" align="right">{$pager}</td>
                    </tr>
                    {/if}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {else}
    <div style="text-align: center;padding: 90px 0;" class="panel panel-default">暂无数据~</div>
    {/if}
</div>

<script>
    console.log({php echo json_encode($list)})
</script>
{template 'common/footer'}
    