{template 'header'}
<style>
    .temp_imgs>div{

        display: none;
    }
    .temp_imgs img{
        width: 200px;
    }
</style>
<div class="layui-tab layui-tab-brief">
    <ul class="layui-tab-title" style="margin-bottom: 20px">
        <li class="layui-this">基本设置</li>
        <li>分享设置</li>
        <li>短信设置</li>
        <li>参数设置</li>
        <li>首页模板</li>
        <li>邮件设置</li>
    </ul>
    <form class="panel panel-default form-horizontal layui-tab-content" role="form" method="post" action="" name="submit">
        <div class="panel-body base layui-tab-item layui-show">

            <div class="form-group">
                <label class="col-sm-2 control-label">系统标题</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="set[base][title]" value="{$setting['title']}">
                </div>
            </div>

            <div class="form-group" style="display:none;">
                <label class="col-sm-2 control-label">logo</label>
                <div class="col-sm-8">
                    {php echo tpl_form_field_image('set[base][logo]',$setting['logo']);}
                </div>
            </div>

            <div class="form-group" style="display:none;">
                <label class="col-sm-2 control-label">结算周期（天）</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" name="set[base][billing_cycle]" value="{$setting['billing_cycle']}">
                    <div class="help-block">订单核销后多少天可提现，默认3天</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">商家提现手续费比例</label>
                <div class="col-sm-8">
                        <input type="text" class="form-control" name="set[base][proportion]" value="{$setting['proportion']}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>商户须知</label>
                <div class="col-sm-8">
                    {php echo tpl_ueditor('set[base][notice]', $setting['notice']);}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>注册协议</label>
                <div class="col-sm-8">
                    {php echo tpl_ueditor('set[base][notice2]', $setting['notice2']);}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>提现说明</label>
                <div class="col-sm-8">
                    {php echo tpl_ueditor('set[base][verification]', $setting['verification']);}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>套餐购买说明</label>
                <div class="col-sm-8">
                    {php echo tpl_ueditor('set[base][meal_buy_info]', $setting['meal_buy_info']);}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">个人中心提示语</label>
                <div class="col-sm-8">
                    {php echo tpl_ueditor('set[base][user_tips]', $setting['user_tips']);}
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">非VIP允许最大浏览量</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" name="set[base][vip_times]" value="{$setting['vip_times']}">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">新用户赠送会员天数</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" name="set[base][vip_days]" value="{$setting['vip_days']}">
                    <div class="help-block">
                        如果会员天数大于0，最大浏览量不生效
                    </div>
                </div>
            </div>

            <div class="form-group" >
                <label class="col-sm-2 control-label">版权信息</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="set[base][copyright]" value="{$setting['copyright']}">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">去购买(重命名)</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="set[base][copyright_buy]" value="{$setting['copyright_buy']}">
                </div>
            </div>
            <div class="form-group" >
                <label class="col-sm-2 control-label">去购买链接</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="set[base][copyright_url]" value="{$setting['copyright_url']}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">子模块底部引导</label>
                <div class="col-sm-8 col-xs-12">
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][making_status]' value='1' {if intval($setting['making_status']) == '1'}checked{/if} /> 开启
                    </label>
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][making_status]' value='2' {if intval($setting['making_status']) == '2'}checked{/if} /> 关闭
                    </label>
                    <!--<div class="help-block">开启：商家入驻后，需要后台审核通过后才能进行相应操作；关闭：商家入驻后就直接可进行相应操作。系统默认关闭审核</div>-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否开启我要创建</label>
                <div class="col-sm-8 col-xs-12">
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][making_status2]' value='1' {if intval($setting['making_status2']) == '1'}checked{/if} /> 开启
                    </label>
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][making_status2]' value='2' {if intval($setting['making_status2']) == '2'}checked{/if} /> 关闭
                    </label>
                    <div class="help-block">所有子模块页面底部会显示“我也要创建活动”按钮</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否允许商家修改商户信息</label>
                <div class="col-sm-8 col-xs-12">
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][user_change]' value='1' {if intval($setting['user_change']) == '1'}checked{/if} /> 允许
                    </label>
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][user_change]' value='2' {if intval($setting['user_change']) == '2'}checked{/if} /> 不允许
                    </label>
                    <div class="help-block">默认允许，如设置不允许，只能通过平台修改商家信息</div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否默认使用商户信息</label>
                <div class="col-sm-8 col-xs-12">
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][shop_default]' value='1' {if intval($setting['shop_default']) == '1'}checked{/if} /> 开启
                    </label>
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][shop_default]' value='2' {if intval($setting['shop_default']) == '2'}checked{/if} /> 关闭
                    </label>
                    <div class="help-block">默认关闭，做活动商家联系方式直接调用注册时的商户信息</div>
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <label class="col-sm-2 control-label">地址</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="set[base][address]" value="{$setting['address']}">
                </div>
            </div>

            <div class="form-group" style="display:none;">
                <label class="col-sm-2 control-label">百度地图秘钥</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="set[base][baidu_ak]" value="{$setting['baidu_ak']}">
                </div>
            </div>

            <div class="form-group" style="display: none">
                <label class="col-sm-2 control-label">标题背景框</label>
                <div class="col-sm-8">
                    {php echo tpl_form_field_image('set[base][titlebgimg]',$setting['titlebgimg']);}
                    <div class="help-block">建议尺寸 228x40,此设置针对所有模块有效</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">客服二维码</label>
                <div class="col-sm-8">
                    {php echo tpl_form_field_image('set[base][kefu]',$setting['kefu']);}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">是否开启“咨询客服”</label>
                <div class="col-sm-8">
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][a_service]' value='1' {if intval($setting['a_service']) == '1'}checked{/if} /> 开启
                    </label>
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][a_service]' value='2' {if intval($setting['a_service']) == '2'}checked{/if} /> 关闭
                    </label>
                    <div class="help-block">此开关针对活动页有效</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家审核</label>
                <div class="col-sm-8 col-xs-12">
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][shop_review]' value='1' {if intval($setting['shop_review']) == '1'}checked{/if} /> 开启
                    </label>
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][shop_review]' value='2' {if intval($setting['shop_review']) == '2'}checked{/if} /> 关闭
                    </label>
                    <div class="help-block">开启：商家入驻后，需要后台审核通过后才能进行相应操作；关闭：商家入驻后就直接可进行相应操作。系统默认关闭审核</div>
                </div>
            </div>
        </div>

        <div style="display: none" class="panel-body layui-tab-item share">
            <div class="form-group">
                <label class="col-sm-2 control-label">分享标题</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="set[share][share_title]" value="{$setting['share_title']}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">分享描述</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="set[share][share_desc]" value="{$setting['share_desc']}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">分享图片</label>
                <div class="col-sm-8">
                    {php echo tpl_form_field_image('set[share][share_image]',$setting['share_image']);}
                </div>
            </div>
        </div>

        <div style="display: none" class="panel-body layui-tab-item sms">
            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">开启注册短信验证</label>
                <div class="col-sm-8 col-xs-12">
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][making_status]' value='1' {if intval($setting['making_status']) == '1'}checked{/if} /> 开启
                    </label>
                    <label class='radio-inline'>
                        <input type='radio' name='set[base][making_status]' value='2' {if intval($setting['making_status']) == '2'}checked{/if} /> 关闭
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">短信类型</label>
                <div class="col-sm-9 col-xs-12">
                    <label class='radio-inline'>
                        <input type='radio' name='set[sms][sms_type]' value='1' onclick="$('#sms1').show();$('#sms2').hide();" {if $setting['sms_type'] == 1 || intval($setting['sms_type']) == 0}checked{/if} /> 聚合
                    </label>
                    <label class='radio-inline'>
                        <input type='radio' name='set[sms][sms_type]' value='2' onclick="$('#sms2').show();$('#sms1').hide();" {if $setting['sms_type'] == 2}checked{/if} /> 阿里大鱼
                    </label>
                </div>
            </div>

            <div id="sms1" {if $setting['sms_type'] == 2}style="display:none;"{/if}>
                <div class="form-group">
                    <label class="col-sm-2 control-label">聚合短信模板id</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="set[sms][juhe_tpl_id]" value="{$setting['juhe_tpl_id']}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">聚合短信AppKey</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="set[sms][juhe_appkey]" value="{$setting['juhe_appkey']}">
                    </div>
                </div>
            </div>

            <div id="sms2" {if $setting['sms_type'] != 2}style="display:none;"{/if}>
                <div class="form-group">
                    <label class="col-sm-2 control-label">阿里AccessKey ID</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="set[sms][ali_accesskey_id]" value="{$setting['ali_accesskey_id']}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">阿里Access Key Secret</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="set[sms][ali_accesskey_secret]" value="{$setting['ali_accesskey_secret']}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">阿里短信模版CODE</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="set[sms][ali_code]" value="{$setting['ali_code']}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">阿里短信签名</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="set[sms][ali_sign]" value="{$setting['ali_sign']}">
                    </div>
                </div>

            </div>

        </div>

        <div style="display: none" class="panel-body layui-tab-item wxapp">
            <div class="form-group">
                <label class="col-sm-2 control-label">身份标识<br>(appId)</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="set[wxapp][wxapp_appid]" value="{$setting['wxapp_appid']}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">身份密钥<br>(appSecret)</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="set[wxapp][wxapp_secret]" value="{$setting['wxapp_secret']}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">微信支付商户号</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="set[wxapp][wxapp_mchid]" value="{$setting['wxapp_mchid']}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">微信支付秘钥</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="set[wxapp][wxapp_signkey]" value="{$setting['wxapp_signkey']}">
                    <span class="help-block">
                    财付通商户权限密钥
                </span>
                </div>

            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">商户支付证书</label>
                <div class="col-sm-8">
                    <textarea class="form-control" name="cert" rows="8" placeholder="为保证安全性, 不显示证书内容. 若要修改, 请直接输入"></textarea>
                    <span class="help-block">从商户平台上下载支付证书, 解压并取得其中的 <mark>apiclient_cert.pem</mark> 用记事本打开并复制文件内容, 填至此处</span>
                </div>
            </div>
            <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-md-2 control-label">支付证书私钥</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="key" rows="8" placeholder="为保证安全性, 不显示证书内容. 若要修改, 请直接输入"></textarea>
                            <span class="help-block">从商户平台上下载支付证书, 解压并取得其中的 <mark>apiclient_key.pem</mark> 用记事本打开并复制文件内容, 填至此处</span>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="col-xs-12 col-sm-3 col-md-2 control-label">支付根证书</label>-->
                        <!--<div class="col-sm-9 col-xs-12">-->
                            <!--<textarea class="form-control" name="ca" rows="8" placeholder="为保证安全性, 不显示证书内容. 若要修改, 请直接输入"></textarea>-->
                            <!--<span class="help-block">从商户平台上下载支付证书, 解压并取得其中的 <mark>rootca.pem</mark> 用记事本打开并复制文件内容, 填至此处</span>-->
                        <!--</div>-->
                    <!--</div>-->

        </div>


<div style="display: none" class="panel-body layui-tab-item">
    <div class="form-group">
        <label class="col-xs-12 col-sm-3 col-md-2 control-label">模板风格选择</label>
        <div class="col-sm-8 col-xs-12">
            <label class='radio-inline'>
                <input type='radio' name='set[base][template]' value='1' {if intval($setting['template']) == '1'||empty($setting['template'])}checked{/if} /> 模板一
            </label>
            <label class='radio-inline'>
                <input type='radio' name='set[base][template]' value='2' {if intval($setting['template']) == '2'}checked{/if} /> 模板二
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-8 temp_imgs">
            <div {if intval($setting['template']) == '1'||empty($setting['template'])}style="display:block;"{/if}  class="temp_img1">
            <img src="{YOUMI_URL_TEMP}imgs/temp_img1.png" alt="">
        </div>
        <div {if intval($setting['template']) == '2'}style="display:block;"{/if} class="temp_img2">
        <img src="{YOUMI_URL_TEMP}imgs/temp_img2.png" alt="">
        <div class="form-group">
            <label class="col-xs-12 col-sm-1 col-md-1 control-label">布局方式</label>
            <div class="col-sm-8 col-xs-12">
                <label class='radio-inline'>
                    <input type='radio' name='set[base][template_col]' value='3' {if intval($setting['template_col']) == '3'||empty($setting['template_col'])}checked{/if} /> 一行三列
                </label>
                <label class='radio-inline'>
                    <input type='radio' name='set[base][template_col]' value='2' {if intval($setting['template_col']) == '2'}checked{/if} /> 一行两列
                </label>
                <div class="help-block">首页和活动列表页面布局选择，一行三列：一行显示三个案例</div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


<div style="display: none" class="panel-body layui-tab-item">
    <div class="form-group">
        <label class="col-sm-2 control-label">SMTP服务器</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="set[smtp][server]" value="{$setting['server']}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">SMTP服务器端口</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="set[smtp][server_port]" value="{$setting['server_port']}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="set[smtp][username]" value="{$setting['username']}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">密码</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="set[smtp][password]" value="{$setting['password']}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">加密方式</label>
        <div class="col-sm-8">
            <label class='radio-inline'>
                <input type='radio' name='set[smtp][encryption]' value='ssl' {if ($setting['encryption']) == 'ssl'||empty($setting['encryption'])}checked{/if} /> ssl
            </label>
            <label class='radio-inline'>
                <input type='radio' name='set[smtp][encryption]' value='TLS' {if ($setting['encryption']) == 'TLS'}checked{/if} /> TLS
            </label>
        </div>
    </div>

</div>



        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <input type="submit" name="submit" value="立即提交" class="layui-btn"/>
                <input type="hidden" name="token" value="{$_W['token']}"/>
            </div>
        </div>
    </form>
</div>
<script>
    $('ul.nav').on('click', 'li', function () {
        if ($(this).hasClass('active')) {
            return false;
        }
        $('.nav li').removeClass('active');
        $(this).addClass('active');
        $('form>.panel-body').hide();
        $($(this).data('class')).show();
    });

    $("input[name='set[base][template]']").click(function () {
        var cName='.temp_img'+$(this).val();
        $('.temp_imgs>div').hide()
        $(cName).show()
    })

    console.log({php echo json_encode($setting)});
</script>
{template 'common/footer'}
