{template 'header'}
<style>
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
        vertical-align: middle;
    }
    .layui-table-view .layui-table{
        width: 100%;
    }
    .layui-table-cell{
        height: auto;
    }
</style>
<div class="layui-tab layui-tab-brief site-demo-table">
    <ul class="layui-tab-title site-demo-title" style="margin-bottom: 20px">
        <li class="layui-this">
        <a href="javascript:;">提现管理列表</a>
        </li>
    </ul>
    {if $op == 'display' || $op == ''}
        <div class="panel-default" style="display:none;">
            <div class="panel-heading">查询</div>
            <div class="panel-body">
                <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
                    <input type="hidden" name="c" value="site">
                    <input type="hidden" name="a" value="entry">
                    <input type="hidden" name="m" value="{YOUMI_NAME}">
                    <input type="hidden" name="do" value="withdraw">

                    <div class="form-group">
                        <label class="col-md-1 col-lg-1 control-label">状态</label>
                        <div class="col-md-3">
                            <select name="status" class="form-control">
                                <option value="">--所有--</option>
                                <option {if $_GPC['status'] == 1}selected{/if} value='1'>申请中</option>
                                <option {if $_GPC['status'] == 2}selected{/if} value='2'>已确认</option>
                                <option {if $_GPC['status'] == 3}selected{/if} value='3'>已打款</option>
                                <option {if $_GPC['status'] == 4}selected{/if} value='4'>打款失败</option>
                                <option {if $_GPC['status'] == 5}selected{/if} value='5'>拒绝打款</option>
                            </select>
                        </div>
                        <label class="col-md-4 col-lg-1 control-label">关键词</label>
                        <div class="col-md-4">
                            <input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}" placeholder="可模糊查询">
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {if $list}
        <div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" lay-id="test" style=" ">
            <div class="layui-table-box">
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
                        <thead>
                        <tr>
                            <th>
                                <div class="layui-table-cell"><span>商家</span></div>
                            </th>
                            <th>
                                <div class="layui-table-cell"><span>申请金额</span></div>
                            </th>
                            <th>
                                <div class="layui-table-cell"><span>提现</span></div>
                            </th>
                            <th>
                                <div class="layui-table-cell"><span>打款金额</span></div>
                            </th>
                            <th>
                                <div class="layui-table-cell"><span>提现单号</span></div>
                            </th>
                            <th>
                                <div class="layui-table-cell"><span>时间</span></div>
                            </th>
                            <th>
                                <div class="layui-table-cell"><span>状态</span></div>
                            </th>
                            <th>
                                <div align="right" class="layui-table-cell"><span>操作</span></div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop $list $index $item}
                        <tr data-index="0" class="">
                            <td><div class="layui-table-cell">{$item['shoptitle']}</div></td>
                            <td><div class="layui-table-cell">{$item['apply']}</div></td>
                            <td><div class="layui-table-cell">
                                手续费比例：{$item['proportion']} <br>
                                手续费：{$item['commission']}
                            </div></td>
                            <td><div class="layui-table-cell">{$item['withdraw']}</div></td>
                            <td><div class="layui-table-cell">{$item['tid']}</div></td>
                            <td><div class="layui-table-cell">
                                {if $item['createtime']}申请：{php echo date('Y-m-d H:i' , $item['createtime'])}{/if}<br>
                                {if $item['pay_time']}打款：{php echo date('Y-m-d H:i' , $item['pay_time'])}{/if}
                            </div></td>
                            <td>
                                <div class="layui-table-cell">{$item['statusname']}</div>
                                {if $item['status']==4}
                                <div class="layui-table-cell" style="max-width: 300px;text-overflow: clip;white-space: initial;">原因：{$item['result']}</div>
                                {/if}
                            </td>
                            <td align="right">
                                <div class="layui-table-cell">
                                    {if $item['status']==1||$item['status']==4}
                                    <a class="layui-btn layui-btn-sm layui-btn-normal" href="{php echo $this->createWebUrl('withdraw',array('op'=>'check','status'=>'2','id'=>$item['id']))}" onclick="return confirm('确认打款吗？');return false;" title="确认打款"><i class="layui-icon layui-icon-rmb"></i>确认打款</a>
                                    <a class="layui-btn layui-btn-sm layui-btn-danger" href="{php echo $this->createWebUrl('withdraw',array('op'=>'check','status'=>'5','id'=>$item['id']))}" onclick="return confirm('确认拒绝打款吗？');return false;" title="拒绝打款"><i class="layui-icon layui-icon-tips"></i>拒绝打款</a>
                                    {/if}
                                </div>
                            </td>
                        </tr>
                        {/loop}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-table-page">
                <div id="layui-table-page1">
                    <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">
                        <span class="layui-laypage-count">共计{$total}条数据</span>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="panel-body">-->
            <!--<form action="" method="post" class="form-horizontal form">-->

                <!--<div class="table-responsive panel-body">-->
                    <!--<table class="table table-hover">-->
                        <!--<thead class="navbar-inner">-->
                            <!--<th class="text-center">商家</th>-->
                            <!--<th class="text-center">申请金额</th>-->
                            <!--<th class="text-center">提现手续费比例</th>-->
                            <!--<th class="text-center">提现手续费</th>-->
                            <!--<th class="text-center">打款金额</th>-->
                            <!--<th class="text-center">提现单号</th>-->
                            <!--<th class="text-center">微信单号</th>-->
                            <!--<th class="text-center">打款信息</th>-->
                            <!--<th class="text-center">状态</th>-->
                            <!--<th class="text-center">申请时间</th>-->
                            <!--<th class="text-center">打款时间</th>-->
                            <!--<th class="text-center">支付宝账号</th>-->
                            <!--<th style="text-align:right;">操作</th>-->
                        <!--</thead>-->
                        <!--<tbody id="level-list">-->
                        <!--{loop $list $index $item}-->
                        <!--<tr>-->
                            <!--<td align="center">-->
                                <!--<div class="type-parent">{$item['shoptitle']}</div>-->
                            <!--</td>-->

                            <!--<td align="center">-->
                                <!--<div class="type-parent">{$item['apply']}</div>-->
                            <!--</td>-->

                            <!--<td align="center">-->
                                <!--<div class="type-parent">{$item['proportion']}</div>-->
                            <!--</td>-->

                            <!--<td align="center">-->
                                <!--<div class="type-parent">{$item['commission']}</div>-->
                            <!--</td>-->

                            <!--<td align="center">-->
                                <!--<div class="type-parent">{$item['withdraw']}</div>-->
                            <!--</td>-->

                            <!--<td align="center">-->
                                <!--<div class="type-parent">{$item['tid']}</div>-->
                            <!--</td>-->

                            <!--<td align="center">-->
                                <!--<div class="type-parent">{$item['transid']}</div>-->
                            <!--</td>-->

                            <!--<td align="center">-->
                                <!--<div class="type-parent">{$item['result']}</div>-->
                            <!--</td>-->

                            <!--<td align="center">-->
                                <!--<div class="type-parent">{$item['statusname']}</div>-->
                            <!--</td>-->

                            <!--<td align="center">-->
                                <!--<div class="type-parent">{if $item['createtime']}{php echo date('Y-m-d H:i' , $item['createtime'])}{else}{/if}</div>-->
                            <!--</td>-->

                            <!--<td align="center">-->
                                <!--<div class="type-parent">{if $item['pay_time']}{php echo date('Y-m-d H:i' , $item['pay_time'])}{else}{/if}</div>-->
                            <!--</td>-->

                            <!--<td align="center">-->
                                <!--<div class="type-parent">{$item['cardno']}</div>-->
                            <!--</td>-->

                            <!--<td align="right">-->

                                <!--<a class="btn btn-success btn-sm" href="{php echo $this->createWebUrl('withdraw',array('op'=>'check','status'=>'2','id'=>$item['id']))}" onclick="return confirm('确认打款吗？');return false;" title="确认打款">确认打款</a>-->
                                <!--<a class="btn btn-danger btn-sm" href="{php echo $this->createWebUrl('withdraw',array('op'=>'check','status'=>'5','id'=>$item['id']))}" onclick="return confirm('确认拒绝打款吗？');return false;" title="拒绝打款">拒绝打款</a>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--{/loop}-->
                        <!--<tr>-->
                            <!--<td colspan="13" align="right">共计{$total}条数据</td>-->
                        <!--</tr>-->
                        <!--{if $pager}-->
                        <!--<tr>-->
                            <!--<td colspan="13" align="right">{$pager}</td>-->
                        <!--</tr>-->
                        <!--{/if}-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        {else}
        <div style="text-align: center;padding: 90px 0;" class="panel panel-default">暂无数据~</div>
        {/if}
    {/if}
</div>
{if $op == 'post'}
<div class="main">
	<form action="{php echo $this->createWebUrl('withdraw',array('op' =>'post'))}" method="post" class="form-horizontal form">
		<div class="panel panel-default">
			<div class="panel-heading">
				编辑提现管理
			</div>
			<div class="panel-body">
			
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">商家</label>
                    <div class="col-sm-8 col-xs-12">
                        <select name="data[shop_id]" class="form-control">
                            <option value="">--请选择商家--</option>
                            {loop $shops $shop}
                            <option {if $item['shop_id'] == $shop['id']}selected{/if} value="{$shop['id']}">{$shop['title']}</option>
                            {/loop}
                        </select>
                    </div>
                </div>
                                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>申请金额</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" id='data[apply]' name="data[apply]" class="form-control" value="{$item['apply']}" />
                    </div>
                </div>
                                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>提现手续费比例</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" id='data[proportion]' name="data[proportion]" class="form-control" value="{$item['proportion']}" />
                    </div>
                </div>
                                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>提现手续费</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" id='data[commission]' name="data[commission]" class="form-control" value="{$item['commission']}" />
                    </div>
                </div>
                                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>打款金额</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" id='data[withdraw]' name="data[withdraw]" class="form-control" value="{$item['withdraw']}" />
                    </div>
                </div>
                                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>提现单号</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" id='data[tid]' name="data[tid]" class="form-control" value="{$item['tid']}" />
                    </div>
                </div>
                                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>微信单号</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" id='data[transid]' name="data[transid]" class="form-control" value="{$item['transid']}" />
                    </div>
                </div>
                                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>打款信息</label>
                    <div class="col-sm-8">
                        {php echo tpl_ueditor('data[result]', $item['result']);}
                    </div>
                </div>
                                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">状态</label>
                    <div class="col-sm-8 col-xs-12">
                        <label class='radio-inline'>
                            <input type='radio' name='data[status]' value='1' {if $item['status'] == 1}checked{/if} /> 申请中
                        </label>
                        <label class='radio-inline'>
                            <input type='radio' name='data[status]' value='2' {if $item['status'] == 2}checked{/if} /> 已确认
                        </label>
                        <label class='radio-inline'>
                            <input type='radio' name='data[status]' value='3' {if $item['status'] == 3}checked{/if} /> 已打款
                        </label>
                        <label class='radio-inline'>
                            <input type='radio' name='data[status]' value='4' {if $item['status'] == 4}checked{/if} /> 打款失败
                        </label>
                        <label class='radio-inline'>
                            <input type='radio' name='data[status]' value='5' {if $item['status'] == 5}checked{/if} /> 拒绝打款
                        </label>
                    </div>
                </div>
                                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">申请时间</label>
                    <div class="col-sm-8 col-xs-12">
                        {php echo tpl_form_field_date('data[createtime]', $item['createtime'],true)}
                    </div>
                </div>
                                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">打款时间</label>
                    <div class="col-sm-8 col-xs-12">
                        {php echo tpl_form_field_date('data[pay_time]', $item['pay_time'],true)}
                    </div>
                </div>
                                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style="color:red">*</span>支付宝账号</label>
                    <div class="col-sm-8 col-xs-12">
                        <input type="text" id='data[cardno]' name="data[cardno]" class="form-control" value="{$item['cardno']}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <input type="submit" name="submit" value="立即提交" class="layui-btn" />
                        <input type="hidden" name="token" value="{$_W['token']}" />
                        <input type="hidden" name="id" value="{$item['id']}" />
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<script>
    require(['jquery.ui'],function() {
        $('.multi-img-details').sortable({scroll: 'false'});
        $('.multi-img-details').sortable('option', 'scroll', false);
    })
    $('form').submit(function () {
        if($('input[name="data[title]"]').val() == ''){
            util.message('请输入标题');
            return false;
        }
    })
</script>
{/if}

{template 'common/footer'}
    