{template 'common/header'}
<style>
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
        vertical-align: middle;
    }
</style>
<ul class="nav nav-tabs">
    <li {if $op == '' || $op == 'display'}class="active"{/if}>
        <a href="{php echo $this->createWebUrl('order')}">订单列表</a>
    </li>
</ul>
{if $op == 'display' || $op == ''}
<div class="panel panel-default">
    <div class="panel-default">
        <div class="panel-heading">查询</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
                <input type="hidden" name="c" value="site">
                <input type="hidden" name="a" value="entry">
                <input type="hidden" name="m" value="{YOUMI_NAME}">
                <input type="hidden" name="do" value="order">
                
                <div class="form-group">
                    <label class="col-md-1 col-lg-1 control-label">状态</label>
                    <div class="col-md-3">
                        <select name="status" class="form-control">
                            <option value="">--所有--</option>
                            <option {if $_GPC['status'] == 1}selected{/if} value='1'>待核销</option>
                            <option {if $_GPC['status'] == 3}selected{/if} value='3'>已核销</option>
                        </select>
                    </div>
                    <label class="col-md-4 col-lg-1 control-label">关键词</label>
                    <div class="col-md-4">
                        <input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}" placeholder="可模糊查询课程/姓名/电话">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                        <a href="{php echo $this->createWebUrl('order',['op'=>'download','status'=>$_GPC['status'],'keyword'=>$_GPC['keyword']])}" class="btn btn-default"><i class="fa fa-download"></i> 导出</a>

                    </div>
                </div>
            </form>
        </div>
    </div>
    {if $list}
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal form">
            
            <div class="table-responsive panel-body">
                <table class="table table-hover">
                    <thead class="navbar-inner">
                        <th class="text-center">用户</th>
                        <th class="text-center">课程</th>
                        <th class="text-center">报名信息</th>
                        <th class="text-center">状态</th>
                        <th class="text-center">报名时间</th>
                    </thead>
                    <tbody id="level-list">
                    {loop $list $index $item}   
                    <tr>
                        <td style="text-align: center;height:45px;" align="center">
                            <img style="width:40px;height:40px;padding:1px;margin-right:5px;border:1px solid #ccc;border-radius: 50%;" src="{php echo tomedia($item['avatar'])}">{$item['nickname']}
                            <input type="hidden" value="{$item['openid']}" />
                        </td>
                        
                        <td align="center">
                            <div class="type-parent">{$item['title']}-{$item['prize']['desc']}</div>
                            <div class="type-parent">{$item['prize']['day']}</div>
                        </td>
                        
                        <td align="center">
                            <div class="type-parent">{$item['realname']}</div>
                            <div class="type-parent">{$item['mobile']}</div>
                            <div class="type-parent">{$item['number']}人</div>
                        </td>

                        <td align="center">
                            <div class="type-parent">{$item['statusname']}</div>
                        </td>
                        
                        <td align="center">
                            <div class="type-parent">{if $item['createtime']}{php echo date('Y-m-d H:i' , $item['createtime'])}{else}{/if}</div>
                        </td>
                        
                    </tr>
                    {/loop}
                    <tr>
                        <td colspan="11" align="right">共计{$total}条数据</td>
                    </tr>
                    {if $pager}
                    <tr>
                        <td colspan="11" align="right">{$pager}</td>
                    </tr>
                    {/if}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
    {else}
    <div style="text-align: center;padding: 90px 0;" class="panel panel-default">暂无数据~</div>
    {/if}
</div>
{/if}
<script>
    console.log({php echo json_encode($list)})
</script>
{template 'common/footer'}
    